Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


comments: correct RTL comments found in a second accuracy review
  formal/prediction_metadata_tracker_formal.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/debug/debug.f
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/net10g/eth10g_mac_rx.sv
  hw/rtl/peripherals/nic/nic_dma_front.sv
Due: verible-format, verible-lint

comments: correct test comments found in a second accuracy review
  .github/workflows/ci.yml
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  scripts/frost.py
  sw/README.md
  tests/README.md
  tests/test_arch_compliance.py
  tests/test_fpga_managed_flows.py
  tests/test_frost_script.py
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  tests/test_x3_pd_target_pin_swaps.py
  verif/cocotb_tests/cache/test_dma_envelope.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/lib/test_cdc_gray_count.py
  verif/cocotb_tests/test_compressed.py
  verif/cocotb_tests/test_cpu.py
  verif/cocotb_tests/test_directed_multicycle.py
  verif/cocotb_tests/test_directed_traps.py
  verif/cocotb_tests/test_real_program.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/reservation_station/test_rs_issue2_shamt.py
  verif/cocotb_tests/tomasulo/store_queue/sq_model.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/encoders/op_tables.py
  verif/models/fp_model.py
Due: verible-format, verible-lint

vscode: drop the leftover "(Phase A)" launch names
  .vscode/launch.json
  .vscode/tasks.json
  fpga/README.md
Due: none

linux_boot: pack with a grouped target
  sw/apps/linux_boot/Makefile
Due: none

docs: remove CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  hw/rtl/README.md
  sw/CONTRIBUTING.md
  tests/README.md
  verif/README.md
Due: none

tests: fix the rebuild signature and drop dead Makefile and conftest code
  scripts/frost.py
  tests/Makefile
  tests/README.md
  tests/conftest.py
  tests/test_run_cocotb.py
Due: none

docker: add liblz4-dev and check the OpenOCD version at build time
  Dockerfile
  README.md
  docs/tooling.md
Due: none

linux: drop frost_stress's never-built no-MMU edition
  fpga/hw_regression.py
  fpga/linux_boot_soak.py
  linux/buildroot-external/board/frost/rootfs-overlay-mmu/etc/inittab
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/package/frost-stress/frost-stress.mk
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  tests/test_hw_regression_linux_stage.py
Due: clang-tidy

tests: name the Yosys version that still needs chparam -set
  tests/test_run_yosys.py
Due: none

sw: write FROST, without an em-dash, into generated torture tests
  sw/apps/riscv_torture/adapt_test.py
  sw/apps/riscv_torture/generate_tests.py
  sw/apps/riscv_torture/tests_rv64/test_001.S
  sw/apps/riscv_torture/tests_rv64/test_002.S
  sw/apps/riscv_torture/tests_rv64/test_003.S
  sw/apps/riscv_torture/tests_rv64/test_004.S
  sw/apps/riscv_torture/tests_rv64/test_005.S
  sw/apps/riscv_torture/tests_rv64/test_006.S
  sw/apps/riscv_torture/tests_rv64/test_007.S
  sw/apps/riscv_torture/tests_rv64/test_008.S
  sw/apps/riscv_torture/tests_rv64/test_009.S
  sw/apps/riscv_torture/tests_rv64/test_010.S
  sw/apps/riscv_torture/tests_rv64/test_011.S
  sw/apps/riscv_torture/tests_rv64/test_012.S
  sw/apps/riscv_torture/tests_rv64/test_013.S
  sw/apps/riscv_torture/tests_rv64/test_014.S
  sw/apps/riscv_torture/tests_rv64/test_015.S
  sw/apps/riscv_torture/tests_rv64/test_016.S
  sw/apps/riscv_torture/tests_rv64/test_017.S
  sw/apps/riscv_torture/tests_rv64/test_018.S
  sw/apps/riscv_torture/tests_rv64/test_019.S
  sw/apps/riscv_torture/tests_rv64/test_020.S
Due: none

fpga: close the standalone fetch ILA capture with frost_hw_session
  fpga/debug/capture_fetch_ila.tcl
  tests/test_fpga_managed_flows.py
Due: none

tests: name the FPGA and Linux tests after what they check
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
  tests/test_x3_pd_target_pin_swaps.py
Due: none

linux: drop frost_stress's scope selector and the stage's scope check
  fpga/hw_regression.py
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
Due: clang-tidy

vscode: write the process fixture's marker with a rename
  tools/vscode-frost/test/fixtures/process-child.ts
Due: none

fpga: call the fetch ILA by its name in the Tcl messages
  fpga/build/build_step.tcl
  fpga/load_software/load_software.tcl
Due: none

tests: match the linux_boot stale-kernel error text
  tests/test_linux_packaging.py
Due: none

linux: ignore what a standalone frost_boot_image.py run writes
  linux/buildroot-external/board/frost/.gitignore
  sw/apps/linux_boot/.gitignore
Due: none

fpga: quote the post-place gate in build.py's help from its constant
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

fpga: select program-buffer memory access with set_mem_access
  fpga/debug/openocd_sim.cfg
Due: none

fpga: correct three help and doc statements about the build tools
  fpga/README.md
  fpga/build/build.py
  fpga/hw_regression.py
Due: none

linux: rebuild an incomplete toolchain wrapper directory
  linux/debian_kernel.py
  tests/test_linux_packaging.py
Due: none

fpga: read CoreMark-PRO times and marks only from an intact workload report
  fpga/sweep_coremark_pro.py
  tests/test_hardware_runner_helpers.py
Due: none

vscode: count only a hardware tool or the loader running it in preflight
  tools/vscode-frost/src/hardware.ts
  tools/vscode-frost/test/hardware.test.ts
Due: none

docs: state how the CoreMark figures were measured and which PGO tuning trains
  README.md
  ROADMAP.md
  docs/single_core_performance.md
  sw/apps/coremark/iss/README.md
  sw/apps/coremark/iss/generate_profile.py
Due: none

sw: say that snprintf rounds to nearest whatever frm holds
  sw/README.md
  sw/lib/include/sprintf.h
  sw/lib/src/sprintf.c
Due: clang-tidy

sw: describe how %g picks its style in sprintf.h
  sw/lib/include/sprintf.h
Due: clang-tidy

sw: print snprintf floating point exactly for every double
  sw/README.md
  sw/apps/sprintf_test/sprintf_test.c
  sw/lib/include/sprintf.h
  sw/lib/src/sprintf.c
Due: clang-tidy

sw: negate a FIX price in unsigned arithmetic
  sw/apps/packet_parser/packet_parser_simple.c
  sw/lib/include/fix.h
  sw/lib/src/fix.c
Due: clang-tidy

sw: fix snprintf length modifiers, %n, and '#' with zero
  sw/README.md
  sw/apps/sprintf_test/sprintf_test.c
  sw/lib/include/sprintf.h
  sw/lib/src/sprintf.c
Due: clang-tidy

sw: keep the sign of a negative FIX price
  sw/apps/packet_parser/packet_parser_simple.c
  sw/lib/include/fix.h
  sw/lib/src/fix.c
Due: clang-tidy

sw: label the cache report's miss quotient as slot-cycles per miss
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  sw/lib/src/tomasulo_profile_cache.c
Due: clang-tidy

sw: keep the cache-profile report out of the program's .text
  sw/lib/src/tomasulo_profile_cache.c
  tests/test_software_debug_profiles.py
Due: clang-tidy

sw: state the L0 eviction helper's size limit exactly
  sw/lib/src/memory.c
Due: clang-tidy

sw: retry realloc at the requested size when doubling does not fit
  sw/apps/memory_test/memory_test.c
  sw/lib/src/memory.c
Due: clang-tidy

sw: evict freed heap dwords from the load-queue L0 correctly
  fpga/load_software/load_software.py
  sw/lib/src/memory.c
Due: clang-tidy

sw: report the tested value from every writecount_probe check
  sw/apps/writecount_probe/writecount_probe.S
Due: none

sw: drop call_stress's unchecked OK lines
  sw/apps/call_stress/call_stress.c
Due: clang-tidy

sw: compare spanning_test's text before printing it
  sw/apps/spanning_test/main.c
  sw/apps/spanning_test/spanning.S
Due: clang-tidy

sw: state what itlb_test's dirty variants leave to write back
  sw/apps/itlb_test/main.c
Due: clang-tidy
