Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


tomasulo: register sc_fu_complete to cut cdb_bus_reg[tag][3] cone
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

load_queue: skip L0 flush on branch mispredict (+1.5% CoreMark)
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

pipeline multiply: -.775ns WNS post synth, 677 coremark
  README.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/multiplier.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

load_queue: snapshot issued entry + drop L0 fill bypass (+306 ps WNS)
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
Due: verible-format, verible-lint

update coremark score in README
  README.md
Due: none

pd_stage: move backward-branch override to id_stage consumer (+91 ps WNS)
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
Due: verible-format, verible-lint

perf_counters: add 4 diagnostics for widen-commit + load-wait profiling
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

widen-commit: retire 2 per cycle via 2-port regfile (-.300ns WNS post synth, 683 coremark)
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu/wb_stage/generic_regfile.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

load_queue: bypass cdb_stage on completion (-.493ns WNS post synth, 728 coremark)
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

perf_counters: split bus_blocked bucket into 5 sub-causes
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

fu_shims: remove redundant clear-on-pop for FIFO valid/flushed bits
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
Due: verible-format, verible-lint

update README
  README.md
Due: none

load_queue: same-cycle addr bypass + timing closure fixes (-0.495ns WNS, Coremark 750)
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

perf_counters: decompose head_wait_int + widen-commit hazard gap
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

reorder_buffer: same-cycle CDB → head_done bypass (-0.425ns WNS, Coremark 760)
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

tomasulo: 2-wide dispatch scaffolding (gate-asserted neutral)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

tomasulo: slot-1 stale-fetch fix + OP R-type pair + slot-1 perf counters
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

if_stage: slot-1 fetch buffer + !pc_reg[2] guard relaxation
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint

tomasulo: slot-1 stall sub-bucket perf counters (refuted 16k overhead hypothesis)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

perf_counters: decompose bb_staging into capture/launch/other
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

perf_counters: decompose front-end bubble into sel_nop sub-causes
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

perf_counters: decompose front-end bubble Other into PD/ID-side causes
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy, verible-format, verible-lint

if_stage: packetize 64-bit fetch window for slot-1 pairs
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

tomasulo: release slot-1 scaffolding gate — RAT epoch + hang fix
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
Due: verible-format, verible-lint

tomasulo: add 2nd ALU + CDB fast path (-6.4% CoreMark)
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

id_stage: collapse slot-1 into slot-0 when slot-0 is NOP
  README.md
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
Due: verible-format, verible-lint

Improve post-synth timing in slot-1 dispatch and INT RS paths
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
Due: verible-format, verible-lint

alu: strip dead MUL/DIV and non-fast-path arms from 2nd ALU (+93ps WNS)
  README.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

tomasulo documentation refresh
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
Due: none

tomasulo: reduce load queue synth critical path
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

tomasulo: trim LQ head/MMIO timing fan-in
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

remove unnecessary reset from datapath signals
  README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/stall_capture_reg.sv
  hw/rtl/peripherals/uart_rx.sv
  hw/rtl/peripherals/uart_tx.sv
Due: verible-format, verible-lint

timing: retime non-critical CPU paths
  README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/return_address_stack.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  verif/cocotb_tests/tomasulo/cdb_arbiter/cdb_arbiter_model.py
  verif/cocotb_tests/tomasulo/cdb_arbiter/test_cdb_arbiter.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

improvements to vivado build script
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

fpga: fix hardware UART output and CoreMark loading
  README.md
  boards/xilinx_frost_subsystem.sv
  fpga/build/build_step.tcl
  fpga/load_software/load_software.py
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  hw/rtl/lib/fifo/dc_fifo.sv
  sw/apps/freertos_demo/link_freertos.ld
  sw/common/link.ld
  sw/lib/include/mmio.h
  sw/lib/include/uart.h
  sw/lib/src/uart.c
Due: clang-tidy, verible-format, verible-lint

Recover CoreMark RS repair bypass without timing regression
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

update tomasulo unit tests to get passing after recent RTL changes
  README.md
  verif/cocotb_tests/tomasulo/cdb_arbiter/cdb_arbiter_model.py
  verif/cocotb_tests/tomasulo/cdb_arbiter/test_cdb_arbiter.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_add_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_model.py
  verif/cocotb_tests/tomasulo/register_alias_table/test_register_alias_table.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_model.py
Due: none

update Coremark score accuracy in readme
  README.md
Due: none

get tomasulo formal verification passing again
  formal/fp_div_shim.sby
  formal/lq_l0_cache.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint
