Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


handoff: M-mode race hunt status (repro approach scoped, not yet reproduced)
  handoff_linux_timer_irq_panic.md
Due: none

sim: SIM_FAST_MAINT — fast fence.i cache maintenance in simulation
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  hw/rtl/lib/ram/sdp_block_ram.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_fence_speed.py
Due: verible-format, verible-lint

ci: Buildroot BR2_EXTERNAL for reproducible no-MMU Linux kernel builds
  .github/workflows/linux-boot-sim.yml
  linux/buildroot-external/Config.in
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/build_fpga_boot.py
  linux/buildroot-external/board/frost/frost-nommu-fpga.dts
  linux/buildroot-external/board/frost/linux-nommu-base.config
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  linux/buildroot-external/board/frost/patches/linux/linux.hash
  linux/buildroot-external/board/frost/post-image.sh
  linux/buildroot-external/configs/frost_nommu_rv32_defconfig
  linux/buildroot-external/external.desc
  linux/buildroot-external/external.mk
Due: none

pde_return_hazard: fix unreachable rb-tree node + add cycle budget
  sw/apps/pde_return_hazard/main.c
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

if_stage: fix compressed-branch link_address under flush-in-stall
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint

wfi_mepc_test: fix t1-clobber that hung the post-WFI poll loop
  sw/apps/wfi_mepc_test/main.c
Due: clang-tidy

mtimer_stress: fix interrupt-saturation livelock (timer period < round-trip)
  sw/apps/mtimer_stress/main.c
Due: clang-tidy

test: add opt-in trap/MRET/IRQ wedge monitor for deadlock diagnosis
  verif/cocotb_tests/test_real_program.py
Due: none

store_queue: scope benign "alloc during flush" sim assertion to partial flush
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

wfi_lost_tick: raise per-app cycle cap to 800000 for the ddr axis
  verif/cocotb_tests/test_real_program.py
Due: none

test(if_stage): drive the i_served_addr port so the unit suite passes
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: none

fence.i: bound real-FSM cache writeback to the dirty index span
  hw/rtl/lib/cache/frost_cache.sv
Due: verible-format, verible-lint

if_stage: cure no-MMU Linux timer-IRQ boot hang (the gremlin)
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

reorder_buffer: don't retire a serial head during a recovery-flush bubble
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

buildroot: uclibc: default page size to PAGE_SIZE on no-MMU (fixes malloc)
  linux/buildroot-external/board/frost/patches/uclibc/0001-nommu-default-dl_pagesize-to-PAGE_SIZE.patch
Due: none

buildroot(frost): fold the manual rootfs/build customizations into the external
  linux/buildroot-external/board/frost/.gitignore
  linux/buildroot-external/board/frost/busybox.config
  linux/buildroot-external/board/frost/device_table.txt
  linux/buildroot-external/board/frost/frost-nommu-fpga.dts
  linux/buildroot-external/board/frost/patch_ret_from_exception.py
  linux/buildroot-external/board/frost/post-image.sh
  linux/buildroot-external/board/frost/rootfs-overlay/etc/inittab
  linux/buildroot-external/configs/frost_nommu_rv32_defconfig
Due: none

fix formal and reorder_buffer unit test for no_mmu rtl changes
  README.md
  formal/store_queue.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
Due: verible-format, verible-lint

linux: vendor buildroot submodule + self-build the no-MMU Linux image
  .gitignore
  .gitmodules
  Dockerfile
  fpga/load_software/load_software.py
  linux/buildroot-external/README.md
  sw/apps/linux_boot/.gitignore
  sw/apps/linux_boot/Makefile
Due: none

ci: build + boot FROST no-MMU Linux in the CI workflow
  .github/workflows/ci.yml
  .github/workflows/linux-boot-sim.yml
  tests/check_linux_boot_regression.py
  verif/cocotb_tests/test_real_program.py
Due: none

ci: stop the cocotb linux_boot job from rebuilding over its staged images
  .github/workflows/ci.yml
  sw/apps/linux_boot/Makefile
Due: none

rtl: X3 timing closure -- one-hot ROB head reads, meip registration, broadcast replication
  formal/reorder_buffer.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
  hw/rtl/lib/ram/ram.f
Due: verible-format, verible-lint

verif: revive the cpu_tb directed suites; gate directed_traps in CI
  hw/sim/cpu_tb.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_directed_traps.py
Due: verible-format, verible-lint

update sweep_coremark_pro to calculate score
  README.md
  fpga/sweep_coremark_pro.py
Due: none

fix linting errors
  sw/apps/linux_irq_ddr_test/main.c
  sw/apps/linux_irq_find_next_slot_test/main.c
  sw/apps/linux_irq_stack_slot_test/main.c
  sw/apps/mtimer_stress/Makefile
Due: clang-tidy

documentation refresh
  CONTRIBUTING.md
  README.md
  boards/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/divider.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/hang_triage.sv
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/ram/sdp_block_ram_dc.sv
  linux/buildroot-external/README.md
  sw/README.md
  sw/apps/compile_app.py
  tests/Makefile
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/test_common.py
  verif/cocotb_tests/test_directed_traps.py
  verif/config.py
  verif/encoders/__init__.py
  verif/encoders/compressed_encode.py
  verif/encoders/instruction_encode.py
Due: verible-format, verible-lint

verif: correct the commit-vs-early-recovery safety comments; pin the real guard
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
Due: verible-format, verible-lint

update vivado build script to sweep uncertainties not just directives
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

timing: cut x3 post-opt WNS from -0.591 to -0.200 ns (CoreMark cycle-exact)
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/rob_serializer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/Makefile
  tests/test_run_formal.py
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_add_shim_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

reduce formal verification runtime
  README.md
  formal/reorder_buffer.sby
Due: none

Fix LR/SC store-conditional deadlock under speculation; boot nommu Linux to banner
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/apps/ddr_atomic_test/Makefile
  sw/apps/ddr_atomic_test/main.c
  sw/apps/linux_boot/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

docs: reflect M+U privilege model (U-mode addition)
  CONTRIBUTING.md
  README.md
  __init__.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/README.md
  sw/apps/freertos_demo/FreeRTOSConfig.h
  sw/lib/include/csr.h
  sw/lib/include/trap.h
  verif/README.md
Due: clang-tidy, verible-format, verible-lint

Add RISC-V User mode (U-mode) to the core
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint
