Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

csr: implement mcountinhibit and make mcycle/minstret writable
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  linux/README.md
  sw/apps/csr_test/main.c
  sw/apps/smode_test/main.c
  sw/lib/include/csr.h
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

linux: boot OpenSBI fw_jump as the M-mode firmware and smoke-test it
  .github/workflows/ci.yml
  .gitmodules
  Dockerfile
  README.md
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  linux/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/opensbi_build.py
  linux/opensbi_frost_defconfig
  scripts/frost.py
  sw/README.md
  sw/apps/compile_app.py
  sw/apps/opensbi_smoke/.gitignore
  sw/apps/opensbi_smoke/Makefile
  sw/apps/opensbi_smoke/link.ld
  sw/apps/opensbi_smoke/main.c
  sw/apps/opensbi_smoke/start.S
  tests/test_frost_script.py
  tests/test_run_cocotb.py
Due: clang-tidy

linux: add the mainline rv64 MMU Buildroot lane
  .gitignore
  README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/busybox-mmu.fragment
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/board/frost/post-image-mmu.sh
  linux/buildroot-external/board/frost/rootfs-overlay-mmu/etc/init.d/S01seedrng
  linux/buildroot-external/board/frost/rootfs-overlay-mmu/etc/inittab
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/external.mk
  linux/buildroot-external/package/frost-stress/frost-stress.mk
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  sw/README.md
  sw/apps/linux_boot/.gitignore
  sw/apps/linux_boot/Makefile
  tests/test_linux_packaging.py
Due: clang-tidy

ci: boot the MMU Linux lane on the RTL and in QEMU, check it on hardware
  .github/workflows/ci.yml
  fpga/README.md
  fpga/hw_regression.py
  tests/check_mmu_linux_boot.py
  tests/test_hw_regression_linux_stage.py
  verif/cocotb_tests/test_real_program.py
Due: none

dmmu: drop a memory op issued in a recovery-flush cycle by flush age
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  sw/apps/vm_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

tests: make vm_test's store variant defeat the early prefill
  sw/apps/vm_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

tomasulo: drop the delayed early-store packets on a flush
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

dmmu: restore X3 post-opt setup closure
  README.md
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  tests/Makefile
  tests/README.md
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/test_dmmu.py
Due: verible-format, verible-lint

build: upgrade Verilator to 5.052
  .github/workflows/ci.yml
  Dockerfile
  README.md
  tests/test_frost_script.py
Due: none

update hw util stats
  README.md
Due: none

tests: add the signal-return restart sequence to smode_test
  sw/apps/smode_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

fpga: let the board loader run the privilege and translation tests
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
Due: none

tests: sweep a timer interrupt across the restarted ecall in smode_test
  sw/apps/smode_test/main.c
Due: clang-tidy

tests: add an indirect jump into a cold page to itlb_test
  sw/apps/itlb_test/main.c
  sw/apps/itlb_test/pages.S
  tests/test_run_cocotb.py
Due: clang-tidy

tests: return through a loaded address at every window position in itlb_test
  sw/apps/itlb_test/main.c
  sw/apps/itlb_test/pages.S
Due: clang-tidy

tests: fetch-fault-then-retry in itlb_test, the lazy vDSO mapping's shape
  sw/apps/itlb_test/main.c
  sw/apps/itlb_test/pages.S
Due: clang-tidy

linux: add a signal-return probe to the MMU initramfs
  linux/README.md
  linux/buildroot-external/board/frost/rootfs-overlay-mmu/etc/inittab
  linux/buildroot-external/package/frost-stress/frost-stress.mk
  linux/buildroot-external/package/frost-stress/src/frost_sigprobe.c
Due: clang-tidy

tests: S-handled flavor of the fault-then-retry case
  sw/apps/itlb_test/main.c
Due: clang-tidy

linux: run the signal-return probe before the stress payload
  linux/buildroot-external/board/frost/rootfs-overlay-mmu/etc/inittab
Due: none

linux: isolate the kernel-mode frame-write fault in the signal probe
  linux/buildroot-external/package/frost-stress/src/frost_sigprobe.c
Due: clang-tidy

tests: replay the Linux signal return from DDR-resident pages in itlb_test
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  sw/apps/itlb_test/main.c
  sw/apps/itlb_test/pages.S
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

fpga: functional-validation builds at a divided CPU clock
  boards/README.md
  boards/x3/x3_frost.sv
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/x3_ddr_bd.tcl
  fpga/hw_regression.py
  fpga/load_software/load_software.py
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
Due: verible-format, verible-lint

fpga: fetch-seam ILA capture flow for on-silicon front-end debug
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/debug/capture_fetch_ila.py
  fpga/debug/capture_fetch_ila.tcl
  fpga/debug/fetch_ila_procs.tcl
  fpga/debug/fetch_ila_report.py
  fpga/load_software/load_software.tcl
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

dispatch: a fetch fault must not be done at ROB allocation
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
Due: verible-format, verible-lint

linux: map cycle and instret in a device-tree PMU node for perf
  linux/buildroot-external/board/frost/frost_boot_image.py
  tests/test_linux_packaging.py
Due: none

fpga/debug: correct the X3 OpenOCD adapter for the on-board FT4232H
  fpga/debug/openocd_bscan_common.cfg
  fpga/debug/openocd_x3.cfg
Due: none

sw: add an opt-in source-debug build profile (FROST_DEBUG)
  sw/README.md
  sw/apps/debug_target/Makefile
  sw/common/common.mk
Due: none

fpga: managed program/load flows for a controlled cable handoff
  fpga/common/hw_session.tcl
  fpga/common/hw_target.py
  fpga/common/list_hw_targets.tcl
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  fpga/program_bitstream/program_bitstream.py
  fpga/program_bitstream/program_bitstream.tcl
  tests/test_fpga_managed_flows.py
Due: none

tools: FROST VS Code debugger extension (minimal v1)
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  fpga/README.md
  tools/vscode-frost/.vscodeignore
  tools/vscode-frost/LICENSE
  tools/vscode-frost/README.md
  tools/vscode-frost/package-lock.json
  tools/vscode-frost/package.json
  tools/vscode-frost/resources/README.md
  tools/vscode-frost/resources/frost-core.xml
  tools/vscode-frost/src/debugConfiguration.ts
  tools/vscode-frost/src/extension.ts
  tools/vscode-frost/src/hardware.ts
  tools/vscode-frost/src/process.ts
  tools/vscode-frost/src/processWorker.ts
  tools/vscode-frost/src/settings.ts
  tools/vscode-frost/test/controller.test.ts
  tools/vscode-frost/test/fixtures/owner-host.ts
  tools/vscode-frost/test/fixtures/process-child.ts
  tools/vscode-frost/test/process.test.ts
  tools/vscode-frost/tsconfig.json
Due: none

docs: Phase 4 storage (NFS-root), DMA coherence, and Phase 6/SMP sequencing
  ROADMAP.md
Due: none

sw: extend the source-debug profile to assembly and more apps
  sw/README.md
  sw/apps/coremark_pro/Makefile
  sw/apps/ddr_smc_test/Makefile
  sw/apps/isa_test/Makefile
  sw/common/common.mk
  sw/common/standalone_asm.mk
  tests/test_software_debug_profiles.py
Due: none

tools: serial console, plain Load Software, and a focus layout
  fpga/README.md
  tests/test_vscode_repo_metadata.py
  tools/vscode-frost/.vscodeignore
  tools/vscode-frost/README.md
  tools/vscode-frost/package-lock.json
  tools/vscode-frost/package.json
  tools/vscode-frost/resources/FOCUS.md
  tools/vscode-frost/resources/FROST.code-profile
  tools/vscode-frost/resources/repo_metadata.py
  tools/vscode-frost/resources/serial_bridge.py
  tools/vscode-frost/src/debugConfiguration.ts
  tools/vscode-frost/src/extension.ts
  tools/vscode-frost/src/focusLayout.ts
  tools/vscode-frost/src/hardware.ts
  tools/vscode-frost/src/plainLoad.ts
  tools/vscode-frost/src/process.ts
  tools/vscode-frost/src/processWorker.ts
  tools/vscode-frost/src/serialConsole.ts
  tools/vscode-frost/src/settings.ts
  tools/vscode-frost/test/controller.test.ts
  tools/vscode-frost/test/debugBuild.test.ts
  tools/vscode-frost/test/fixtures/process-child.ts
  tools/vscode-frost/test/focusLayout.test.ts
  tools/vscode-frost/test/plainLoad.test.ts
  tools/vscode-frost/test/process.test.ts
  tools/vscode-frost/test/serialConsole.test.ts
  tools/vscode-frost/test/settings.test.ts
  tools/vscode-frost/test/test_serial_bridge.py
Due: none

fpga: broaden managed debug loading and describe the ELF startup
  fpga/load_software/load_software.py
  tests/test_fpga_managed_flows.py
Due: none

add vs code to README
  README.md
Due: none

roadmap: retire the no-MMU Linux lane as part of the Phase 3 exit
  ROADMAP.md
  sw/README.md
Due: none

tests: skip the CoreMark-PRO debug-profile case without its submodule
  tests/test_software_debug_profiles.py
Due: none

linux: retire the no-MMU lane
  .github/workflows/ci.yml
  README.md
  fpga/README.md
  fpga/hw_regression.py
  fpga/load_software/load_software.py
  hw/rtl/README.md
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/build_fpga_boot.py
  linux/buildroot-external/board/frost/busybox.config
  linux/buildroot-external/board/frost/device_table.txt
  linux/buildroot-external/board/frost/linux-nommu-base-rv64.config
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  linux/buildroot-external/board/frost/patch_linux_image.py
  linux/buildroot-external/board/frost/patches/uclibc/0001-nommu-default-dl_pagesize-to-PAGE_SIZE.patch
  linux/buildroot-external/board/frost/post-image.sh
  linux/buildroot-external/board/frost/rootfs-overlay/etc/inittab
  linux/buildroot-external/configs/frost_nommu_rv64_defconfig
  linux/buildroot-external/package/frost-stress/frost-stress.mk
  sw/README.md
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_linux_image.py
  tests/check_linux_boot_regression.py
  tests/check_mmu_linux_boot.py
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
  verif/cocotb_tests/test_real_program.py
Due: none

fpga: improve X3 post-place timing to -0.191 ns
  README.md
  formal/README.md
  formal/branch_prediction_alias.sby
  formal/branch_prediction_alias_formal.sv
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/extract_timing_and_util_summary.py
  fpga/build/x3_pd_target_pin_swaps.tcl
  fpga/build/x3_post_place_timing.md
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  tests/README.md
  tests/test_fpga_build.py
  tests/test_run_formal.py
Due: verible-format, verible-lint

fpga: enable guarded X3 pin refinement by default
  fpga/README.md
  fpga/build/build_step.tcl
  fpga/build/x3_pd_target_pin_swaps.tcl
  fpga/build/x3_post_place_timing.md
  tests/test_x3_pd_target_pin_swaps.py
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

