Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


update hw stats
  README.md
  fpga/hw_regression.py
Due: none

rob: make mhpmcounter3..31 and mhpmevent3..31 read-only zero
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  linux/README.md
  sw/README.md
  sw/apps/smode_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

ptw: page-fault on a non-leaf PTE with D, A, or U set
  formal/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  sw/apps/vm_test/main.c
Due: clang-tidy, verible-format, verible-lint

Add John Goodacre to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

docs: tighten the READMEs and fix statements the code no longer matches
  CONTRIBUTORS.md
  README.md
  ROADMAP.md
  boards/README.md
  docs/single_core_performance.md
  formal/README.md
  fpga/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/lib/cache/README.md
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  sw/CONTRIBUTING.md
  sw/README.md
  sw/apps/coremark/iss/README.md
  tests/README.md
  tools/vscode-frost/README.md
  verif/README.md
Due: none

Expand Nicholas Beser's entry in CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

trap_unit: send an interrupt that beats a debug-routed ebreak to its vector
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
Due: verible-format, verible-lint

wfi_drain_mepc_test: fail when no trap lands after the WFI
  sw/apps/wfi_drain_mepc_test/main.c
Due: clang-tidy

ptw: derive the PTE select from LINE_BYTES
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/lib/cache/README.md
Due: verible-format, verible-lint

load_queue tests: name two AMO-fence tests after what they check
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: none

trap_unit: say that a ready halt request goes before a head ebreak
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint

trap_unit: make the formal reset asserts reachable
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
Due: verible-format, verible-lint

formal: drive the slot-2 live redirect in prediction_release
  formal/prediction_release_formal.sv
Due: verible-format, verible-lint

lq_model: keep the whole doubleword for LR.D
  tests/test_verification_helpers.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
Due: none

pc_controller: register pc_reg's relation to the pending branch PC
  formal/README.md
  formal/pc_increment_relation.sby
  formal/pc_register_mux.sby
  formal/prediction_release_formal.sv
  formal/prediction_release_pc_increment.sv
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

pc_controller: feed the slot-2 prediction to pending validity's final mux
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

trap_unit, csr_file: build the trap-entry CSR enables beside the take
  formal/README.md
  formal/csr_commit_cofactor.sby
  formal/trap_unit.sby
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/sim/perf_csr_half_test_harness.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint
