Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


docs(roadmap): record the unpatched-boot proof (sim checkpoint + 10/10 Genesys2 soak)
  ROADMAP.md
Due: none

linux: add a userspace boot-stress payload and assert it in the boot legs
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  ROADMAP.md
  fpga/linux_boot_soak.py
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/rootfs-overlay/etc/inittab
  linux/buildroot-external/configs/frost_nommu_rv32_defconfig
  linux/buildroot-external/external.mk
  linux/buildroot-external/package/frost-stress/Config.in
  linux/buildroot-external/package/frost-stress/frost-stress.mk
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
Due: clang-tidy

docs(linux): document the boot ABI
  ROADMAP.md
  linux/README.md
  linux/buildroot-external/README.md
Due: none

Add cache hierarchy performance counters
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.f
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/perf/tomasulo_perf_counters.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/cache_perf_pkg.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  hw/sim/cpu_tb.sv
  sw/apps/coremark/Makefile
  sw/apps/coremark/core_portme.c
  sw/apps/csr_rmw_test/main.c
  sw/apps/tomasulo_perf/Makefile
  sw/apps/tomasulo_perf/tomasulo_perf.c
  sw/common/common.mk
  sw/common/link.ld
  sw/common/link_ddr.ld
  sw/lib/include/csr.h
  sw/lib/include/tomasulo_profile.h
  sw/lib/src/tomasulo_profile_cache.c
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: clang-tidy, verible-format, verible-lint

docs: add ROADMAP.md (RV64 -> memory-level parallelism -> Sv39 MMU Linux -> I/O)
  README.md
  ROADMAP.md
Due: none

linux: retire the ret_from_exception restore-window kernel patch
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/patch_linux_image.py
  linux/buildroot-external/board/frost/post-image.sh
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_linux_image.py
  sw/apps/restore_window_stress/Makefile
  sw/apps/restore_window_stress/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

minor updates to README, ROADMAP, and hw_regression
  README.md
  ROADMAP.md
  fpga/hw_regression.py
Due: none

csr: implement mcounteren with U-mode Zicntr gating (CY/TM/IR, reset 0x7)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  linux/README.md
  sw/apps/umode_test/main.c
  sw/lib/include/csr.h
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_state.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/encoders/instruction_encode.py
Due: clang-tidy, verible-format, verible-lint

linux: report Zicntr counter deltas from the boot-stress payload
  ROADMAP.md
  fpga/linux_boot_soak.py
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/rootfs-overlay/etc/inittab
  linux/buildroot-external/package/frost-stress/Config.in
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
Due: clang-tidy

docs(roadmap): add Phase 5 — SMP (multi-hart), with readiness notes in Phases 2/3
  ROADMAP.md
Due: none

docs(rv64): add the Phase 1 execution plan and XLEN=64 readiness audit
  ROADMAP.md
  docs/rv64/phase1_plan.md
  docs/rv64/xlen_audit.md
Due: none

rv64(M0): XLEN-clean substrate - constants, immediates, region decodes, D3 masks
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/branch_jump_unit.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu_convert_unit.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/branch_target_precompute.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/immediate_decoder.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/direction_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

rv64(M0): plumb FROST_RV64 through the build and centralize verif widths
  tests/Makefile
  tests/test_run_yosys.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
  verif/cocotb_tests/cpu_ooo/pipeline_control/test_ooo_pipeline_control.py
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
  verif/cocotb_tests/cpu_ooo/recovery/test_ex_comb_synthesizer.py
  verif/cocotb_tests/cpu_ooo/recovery/test_misprediction_flush_controller.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_add_shim_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
  verif/cocotb_tests/tomasulo/store_queue/sq_model.py
  verif/config.py
Due: none

docs(rv64): add the M1 data-tier design note
  docs/rv64/m1_data_tier.md
Due: none

rv64(M1): fix CI fallout — bench file lists, router strobe drift, linux_boot sw64.mem
  sw/apps/linux_boot/Makefile
  tests/Makefile
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: none

rv64(M2): first rv64 instruction retires — minimum decode/ALU slice + build axis
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_unit.sv
  hw/rtl/rv64_known_widths.vlt
  sw/README.md
  sw/apps/arch_test/Makefile
  sw/apps/branch_pred_test/Makefile
  sw/apps/c_ext_test/Makefile
  sw/apps/coremark_pro/Makefile
  sw/apps/fetch_stall_repro/Makefile
  sw/apps/fpu_assembly_test/Makefile
  sw/apps/ras_test/Makefile
  sw/apps/riscv_tests/Makefile
  sw/apps/riscv_tests/Makefile.bench
  sw/apps/riscv_torture/Makefile
  sw/apps/rv64_smoke/Makefile
  sw/apps/rv64_smoke/rv64_smoke.S
  sw/common/arch.mk
  sw/common/common.mk
  sw/common/standalone_asm.mk
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
Due: verible-format, verible-lint

update hw stats
  README.md
  fpga/hw_regression.py
Due: none

sw(coremark-pro): build at -O3; pre-scale -v0 iteration counts
  sw/apps/coremark_pro/Makefile
  sw/apps/software_registry.py
Due: none

fix(if): pending-prediction handoff consumed during stalls, desyncing pc_reg from fetch
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

sw(coremark-pro): record -O3 hardware calibration; raise score baselines
  fpga/hw_regression.py
  sw/apps/software_registry.py
Due: none

update hw util stats
  README.md
Due: none
