Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


Use the exact RVC illegal cofactor in slot-one predecode
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

fpga: fence the NIC and replicate high-fanout drivers in X3 placement
  boards/x3/constr/x3.xdc
  fpga/README.md
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

Capture secondary integer shift amounts at issue
  formal/README.md
  formal/alu_shift_hint.sby
  formal/alu_shift_hint.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/fu_shims/int_alu_shim_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/test_rs_issue2_shamt.py
Due: verible-format, verible-lint

Bound declared distribution nets separately from input sources
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

Add guarded post-opt L1 completion factoring and CE copies
  fpga/build/l1_control_repair.md
  fpga/build/l1_control_repair.tcl
  tests/test_l1_control_repair.py
Due: none

Prove and exercise the shipped INT reservation station configuration
  formal/README.md
  formal/reservation_station.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  tests/README.md
  tests/test_run_cocotb.py
  tests/test_run_formal.py
Due: verible-format, verible-lint

docs: catch the READMEs up with the NIC integration and the timing work
  .gitignore
  README.md
  ROADMAP.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/hw_regression.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  tests/net10g/README.md
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tools/vscode-frost/README.md
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

tomasulo: check the SC completion handoff instead of arguing it
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

cache: register the L2 response inside the DMA coherence sequencer
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/dma_coherence_sequencer.sv
Due: verible-format, verible-lint

linux: add the frost,net10g netdev driver
  .pre-commit-config.yaml
  ROADMAP.md
  fpga/README.md
  fpga/hw_regression.py
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-add-the-FROST-net10g-driver.patch
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/package/frost-stress/Config.in
  linux/buildroot-external/package/frost-stress/frost-stress.mk
  linux/buildroot-external/package/frost-stress/src/frost_nettest.c
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
Due: clang-tidy

linux: place the DTB after the kernel's real footprint
  .github/workflows/ci.yml
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/opensbi_build.py
  sw/apps/opensbi_smoke/Makefile
  sw/apps/opensbi_smoke/link.ld
  tests/test_linux_packaging.py
Due: none

net10g: stage the receive MAC for the 10GBASE-R word rate
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_rx.sv
  hw/rtl/peripherals/nic/README.md
  tests/net10g/Makefile
  tests/net10g/README.md
  tests/net10g/run.py
  tests/net10g/test_mac_rx.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/test_nic_top.py
Due: verible-format, verible-lint

net10g: take the transmit MAC's length and FCS logic off the lane chain
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_tx.sv
  hw/rtl/peripherals/nic/README.md
Due: verible-format, verible-lint

linux: follow the NIC's loopback mode and recover after READY loss
  fpga/README.md
  fpga/hw_regression.py
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-add-the-FROST-net10g-driver.patch
  linux/buildroot-external/package/frost-stress/src/frost_nettest.c
Due: clang-tidy

boards: drive the X3 NIC from the GTY transceiver on channel 0
  README.md
  boards/README.md
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.f
  boards/x3/x3_frost.sv
  boards/x3/x3_nic_gty.sv
  fpga/README.md
  fpga/build/build_step.tcl
  fpga/build/x3_gty_ip.tcl
  fpga/hw_regression.py
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

nic: give the MAC independent transmit and receive clocks
  README.md
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_pcs.sv
  hw/rtl/net10g/net10g.f
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_mac_wrap.sv
  hw/rtl/peripherals/nic/nic_top.sv
  sw/README.md
  sw/apps/nic_loopback/Makefile
  sw/apps/nic_loopback/main.c
  tests/net10g/Makefile
  tests/net10g/README.md
  tests/net10g/synthesize.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/test_nic_top.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

nic_echo: wait for a transceiver link and restore a dropped enable
  ROADMAP.md
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  sw/apps/nic_echo/main.c
Due: clang-tidy

linux: boot Debian from an NFS root and advertise the board's memory
  fpga/README.md
  fpga/load_software/load_software.py
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/package/frost-stress/src/frost_nettest.c
  sw/apps/compile_app.py
  sw/apps/linux_boot/Makefile
  tests/test_linux_packaging.py
Due: clang-tidy

docs: add a guide to running Debian from an NFS root
  README.md
  ROADMAP.md
  docs/debian_nfsroot.md
  linux/README.md
Due: none

linux: pack another kernel and initramfs, including initramfs-tools NFS roots
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  sw/apps/linux_boot/Makefile
  tests/test_linux_packaging.py
Due: none

linux: build the NIC driver from one source, also as a DKMS module
  .pre-commit-config.yaml
  README.md
  docs/debian_nfsroot.md
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-add-the-FROST-net10g-driver.patch
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-hook-in-the-FROST-net10g-driver.patch
  linux/buildroot-external/external.mk
  linux/frost-net10g/.gitignore
  linux/frost-net10g/Kconfig
  linux/frost-net10g/Makefile
  linux/frost-net10g/README.md
  linux/frost-net10g/dkms.conf
  linux/frost-net10g/frost_net10g.c
  tests/test_frost_net10g_driver.py
Due: clang-tidy

linux: quiesce the NIC when open fails after enabling NAPI
  linux/frost-net10g/frost_net10g.c
Due: clang-tidy

cpu: stop later flushes from re-judging a flushed load's cached slot
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  sw/README.md
  sw/apps/lq_stale_slot_probe/Makefile
  sw/apps/lq_stale_slot_probe/iter.S
  sw/apps/lq_stale_slot_probe/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

docs: boot the Debian guide on Debian's own kernel
  docs/debian_nfsroot.md
  linux/README.md
  linux/frost-net10g/README.md
Due: none

formal: run the FMUL-repair BMC without the presat query
  formal/tomasulo_wrapper.sby
Due: none

cache: make page-table walks see the L1D's dirty lines
  README.md
  docs/diagrams/cache-hierarchy.svg
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/walker_coherence_sequencer.sv
  sw/README.md
  sw/apps/ptw_coherence_test/Makefile
  sw/apps/ptw_coherence_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
  verif/cocotb_tests/cache/test_frost_cache_dma.py
Due: clang-tidy, verible-format, verible-lint

tests: retire booting the kernel in simulation
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  README.md
  ROADMAP.md
  fpga/README.md
  linux/README.md
  linux/buildroot-external/README.md
  sw/README.md
  sw/apps/linux_boot/Makefile
  tests/check_mmu_linux_boot.py
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/test_real_program.py
Due: none

linux: boot Debian's pinned kernel everywhere
  .github/workflows/ci.yml
  .gitignore
  README.md
  ROADMAP.md
  docs/debian_nfsroot.md
  fpga/README.md
  fpga/hw_regression.py
  fpga/linux_boot_soak.py
  fpga/load_software/load_software.py
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/post-image-mmu.sh
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  linux/debian_kernel.py
  linux/frost-net10g/README.md
  sw/CONTRIBUTING.md
  sw/README.md
  sw/apps/build_all_apps.py
  sw/apps/compile_app.py
  sw/apps/linux_boot/Makefile
  tests/test_frost_net10g_driver.py
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
Due: clang-tidy

roadmap: size the soak to the failures it can catch
  ROADMAP.md
Due: none

roadmap: put RV64 performance parity before SMP
  README.md
  ROADMAP.md
  hw/rtl/cpu_and_mem/debug/debug_module.sv
  hw/rtl/cpu_and_mem/plic.sv
  hw/rtl/lib/cache/README.md
Due: verible-format, verible-lint

linux: remove the in-tree Buildroot kernel build
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  ROADMAP.md
  fpga/hw_regression.py
  fpga/load_software/load_software.py
  linux/README.md
  linux/buildroot-external/Config.in
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/busybox-mmu.fragment
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-hook-in-the-FROST-net10g-driver.patch
  linux/buildroot-external/board/frost/patches/linux/linux.hash
  linux/buildroot-external/board/frost/post-image-mmu.sh
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/external.desc
  linux/buildroot-external/external.mk
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  linux/frost-net10g/README.md
  linux/frost-net10g/frost_net10g.c
  sw/CONTRIBUTING.md
  sw/README.md
  sw/apps/build_all_apps.py
  sw/apps/compile_app.py
  sw/apps/linux_boot/Makefile
  tests/test_frost_net10g_driver.py
  tests/test_linux_packaging.py
  tools/vscode-frost/src/plainLoad.ts
Due: clang-tidy

roadmap: set the performance target at 1289 CoreMark
  ROADMAP.md
Due: none

docs: say the NIC runs on a real link
  README.md
  ROADMAP.md
Due: none

rtl: close X3 post-opt setup timing at 300 MHz
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_control_flow_tracker.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

coremark: tune the build, and stop simulation suppressing the score
  .pre-commit-config.yaml
  fpga/hw_regression.py
  sw/apps/compile_app.py
  sw/apps/coremark/Makefile
  sw/apps/coremark/iss/README.md
  sw/apps/coremark/iss/core_portme.c
  sw/apps/coremark/iss/generate_profile.py
  sw/apps/coremark/iss/link_spike_pgo.ld
  sw/apps/coremark/iss/pgo_dump.c
  sw/apps/coremark/pad.S
  sw/apps/coremark/sw.elf-core_list_join.gcda
  sw/apps/coremark/sw.elf-core_main.gcda
  sw/apps/coremark/sw.elf-core_matrix.gcda
  sw/apps/coremark/sw.elf-core_state.gcda
  sw/apps/coremark/sw.elf-core_util.gcda
Due: clang-tidy

docker: fail the image build when QEMU's riscv64 target is missing
  Dockerfile
Due: none

rtl: meet X3 post-place timing gate without CoreMark regression
  README.md
  formal/README.md
  formal/alu_shift_hint.sv
  formal/btb_tag_compare.sby
  formal/coherence_replay_compare.sby
  formal/divider_prefix.sby
  formal/mul_completion_tag.sby
  formal/mul_completion_tag.sv
  formal/prediction_release_formal.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/divider.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/coherence/lq_coherence_port.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/lib/fifo/async_fifo.sv
  hw/rtl/peripherals/nic/README.md
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/ex_stage/test_divider.py
Due: verible-format, verible-lint

fpga: fork completed phys-opt sweeps for concurrent routing
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

ci: keep the QEMU boot inside the container
  .github/workflows/ci.yml
Due: none

fpga: trim default X3 router sweeps to four directives
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none
