Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

fpga: reproduce timing-closing X3 placement guidance
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

cpu: isolate MMIO drain gate at final effects
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

cpu: shield device reads from interrupt-induced re-execution
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: verible-format, verible-lint

add genesys2 64bit coremark pro numbres to hw_regression
  fpga/hw_regression.py
Due: none

cpu: reuse committed-store drain gate for MMIO loads
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

fpga: validate dynamic X3 placement scope
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

docs: correct RV64 frontend behavior notes
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/ras_detector.sv
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

tests: give restore_window_stress a ddr-axis cycle budget
  verif/cocotb_tests/test_real_program.py
Due: none

tests: compose external FROST_VERILATOR_EXTRA_ARGS with registry args
  tests/test_run_cocotb.py
Due: none

sim: make hang_triage pacing reachable from the Verilator top
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
Due: verible-format, verible-lint

sw: fix rv64 address-width defects across the ddr-lane apps
  sw/apps/branch_pred_test/branch_pred_test.S
  sw/apps/c_ext_test/c_ext_test.S
  sw/apps/cf_ext_test/cf_ext_test.S
  sw/apps/fetch_stall_repro/fetch_stall_repro.S
  sw/apps/fpu_assembly_test/fpu_assembly_test.S
  sw/apps/irq_mie_window/main.c
  sw/apps/mret_timer_resume_test/main.c
  sw/apps/mtimer_stress/main.c
  sw/apps/restore_window_stress/main.c
  sw/apps/umode_test/main.c
  sw/apps/wfi_drain_mepc_test/main.c
  sw/apps/wfi_lost_tick/main.c
  sw/apps/wfi_mepc_test/main.c
Due: clang-tidy

cpu: fence MMIO drain at device read pulse
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/frost.sv
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

verif: low-BRAM served-window assertion + directed window-skip repro
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  sw/apps/window_skip_repro/Makefile
  sw/apps/window_skip_repro/window_skip_repro.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

verif: fix four unit benches' rv32-era width expectations
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/cpu_ooo/commit/test_commit_actions.py
  verif/cocotb_tests/ex_stage/test_branch_jump_unit.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
Due: none

cpu: register the divider credit gate
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
Due: verible-format, verible-lint

cpu: revert the two PD redirect retimings to the qualified placement baseline
  docs/rv64/xlen_audit.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
Due: verible-format, verible-lint

update hw util stats
  README.md
Due: none

boards: run Genesys2 cooling fan at full speed
  boards/README.md
  boards/genesys2/constr/genesys2.xdc
  boards/genesys2/genesys2_frost.sv
Due: verible-format, verible-lint

cpu: fence device reads at router acceptance
  formal/data_mem_request_router.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

cpu: isolate stored MMIO loads to head selector
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

sw: port the six remaining pre-twin apps to rv64
  sw/apps/linux_clksrc_faithful/main.c
  sw/apps/linux_irq_find_next_slot_test/main.c
  sw/apps/mret_drain_deadlock/main.c
  sw/apps/mret_timer_resume_test/main.c
  sw/apps/smc_fencei_test/main.c
  sw/apps/wfi_drain_mepc_test/main.c
Due: clang-tidy

timing: preserve RV64 instruction operation encodings
  docs/rv64/xlen_audit.md
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  verif/README.md
  verif/config.py
Due: verible-format, verible-lint

docs: cut ROADMAP.md to the public summary
  ROADMAP.md
Due: none

cache: tag the line protocol and open the fabric to multiple outstanding transactions
  boards/genesys2/genesys2_frost.sv
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  formal/line_port_axi_bridge.sby
  fpga/build/genesys2_ddr_bd.tcl
  fpga/build/x3_ddr_bd.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/cache_perf_pkg.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  hw/rtl/lib/cache/line_port_arbiter.sv
  hw/rtl/lib/cache/line_port_arbiter_test_harness.sv
  hw/rtl/lib/cache/line_port_axi_bridge.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_line_port_arbiter.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
Due: verible-format, verible-lint

cpu: retire the single-outstanding wording from the cached-tier comments
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/frost.sv
Due: verible-format, verible-lint

cpu: fill both fetch-buffer lines concurrently
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/fetch_provider.sv
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: verible-format, verible-lint

cpu: keep four cached loads in flight from the load queue
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/sim/cpu_tb.sv
  sw/apps/ddr_mlp_test/Makefile
  sw/apps/ddr_mlp_test/ddr_mlp_test.c
  sw/lib/include/tomasulo_profile.h
  tests/test_run_cocotb.py
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

cpu: keep replaced fetch-buffer lines in a victim store
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/lib/cache/README.md
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: verible-format, verible-lint

cache: make frost_cache non-blocking
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/cache_perf_pkg.sv
  hw/rtl/lib/cache/frost_cache.sv
  sw/lib/include/tomasulo_profile.h
  sw/lib/src/tomasulo_profile_cache.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
Due: clang-tidy, verible-format, verible-lint

verif: deliver dispatch-cycle CDB captures in the wrapper model
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_model.py
Due: none

update hw stats
  README.md
  fpga/hw_regression.py
Due: none

docs: close out Phase 2 in the roadmap and the performance summary
  README.md
  ROADMAP.md
Due: none

sim: honor per-test shapes and sweep the L2 tags fast at reset
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/line_port_axi_bridge.sv
  tests/Makefile
Due: verible-format, verible-lint

formal: keep the bridge watchdog out of formal and retune the LQ depth
  formal/load_queue.sby
  hw/rtl/lib/cache/line_port_axi_bridge.sv
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

