Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


test: add RVC decompressor coverage
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
Due: none

Fix formatting in README.md
  README.md
Due: none

phase0
  boards/xilinx_frost_subsystem.sv
  fpga/build/build_step.tcl
  hw/rtl/frost.sv
  sw/common/common.mk
  sw/common/link_unified.ld
Due: verible-format, verible-lint

Fix tests README ascii diagram formatting
  tests/README.md
Due: none

Identify JTAG-AXI masters by name/probe in the software loader
  fpga/load_software/load_software.tcl
Due: none

Integrate DDR4 + L1/L2 cache hierarchy on X3 (Phase 3)
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  fpga/build/build_step.tcl
  fpga/build/x3_ddr_bd.tcl
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
Due: verible-format, verible-lint

Integrate DDR3 + cache hierarchy on Genesys2 (Phase 2)
  README.md
  boards/genesys2/constr/genesys2.xdc
  boards/genesys2/genesys2_frost.sv
  boards/genesys2/mem_reset_control.v
  fpga/build/build_step.tcl
  fpga/build/genesys2_ddr_bd.tcl
  fpga/load_software/file_to_ddr.tcl
  fpga/load_software/load_software.py
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/ram/sdp_ram_byte_en.sv
  sw/apps/coremark_pro/Makefile
  sw/apps/ddr_test/Makefile
  sw/apps/ddr_test/ddr_test.c
  sw/common/common.mk
  tests/test_run_yosys.py
Due: clang-tidy, verible-format, verible-lint

Rename frost_cache_stack to frost_cache_hierarchy
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  tests/Makefile
  verif/cocotb_tests/cache/test_frost_cache.py
Due: verible-format, verible-lint

docs: refresh READMEs and DDR subsystem comments
  README.md
  boards/README.md
  boards/genesys2/constr/genesys2.xdc
  boards/genesys2/genesys2_frost.sv
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  fpga/README.md
  fpga/build/build_step.tcl
  fpga/build/genesys2_ddr_bd.tcl
  fpga/build/x3_ddr_bd.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  sw/README.md
  verif/README.md
Due: verible-format, verible-lint

Retire the URAM scratchpad tier
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/ram/ram.f
  hw/rtl/lib/ram/sdp_ram_byte_en.sv
  hw/rtl/lib/ram/sdp_uram_byte_en.sv
  sw/common/link_unified.ld
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

Unify on one linker script and shrink sim memory to match hardware
  sw/README.md
  sw/apps/arch_test/link_arch_test.ld
  sw/apps/coremark_pro/Makefile
  sw/apps/ddr_heap_test/Makefile
  sw/apps/ddr_heap_test/ddr_heap_test.c
  sw/apps/ddr_test/Makefile
  sw/apps/freertos_demo/link_freertos.ld
  sw/apps/riscv_tests/link_riscv_tests.ld
  sw/apps/riscv_torture/link_riscv_torture.ld
  sw/common/link.ld
  tests/Makefile
  tests/README.md
  tests/test_arch_compliance.py
Due: clang-tidy

Phase-4 cleanup: xdc glob escaping, stale registry comments
  boards/genesys2/constr/genesys2.xdc
  sw/apps/software_registry.py
Due: none

Improve X3 post-opt timing
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
Due: verible-format, verible-lint

Add the line-port arbiter and single-source predecode (I-cache Phase 0)
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/imem_predecode_line.sv
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/line_port_arbiter.sv
  hw/rtl/lib/cache/line_port_arbiter_test_harness.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_line_port_arbiter.py
  verif/cocotb_tests/predecode/__init__.py
  verif/cocotb_tests/predecode/test_imem_predecode_line.py
Due: verible-format, verible-lint

Teach the frontend a stall-capable fetch interface (I-cache Phase 1)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_c_ext_state.py
  verif/cocotb_tests/if_stage/test_control_flow_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

Execute from DDR: L1I, arbiter wiring, fetch provider (I-cache Phase 2)
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  sw/apps/coremark_pro/Makefile
  sw/apps/ddr_exec_test/Makefile
  sw/apps/ddr_exec_test/ddr_exec_test.c
  sw/common/common.mk
  sw/common/link.ld
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: clang-tidy, verible-format, verible-lint

Recover X3 post-opt timing after the L1I integration
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/lib/cache/frost_cache.sv
Due: verible-format, verible-lint

Make fence.i synchronize the cache hierarchy (I-cache Phase 3)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/rob_serializer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  sw/apps/ddr_smc_test/Makefile
  sw/apps/ddr_smc_test/ddr_smc_test.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

Fix the reorder_buffer BMC timeout in CI
  formal/reorder_buffer.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

Fix genesys2 mem_ok CDC false-path that selected nothing
  boards/genesys2/constr/genesys2.xdc
Due: none

Decode RVC rd=0 HINT encodings as nops, not illegal
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
Due: verible-format, verible-lint

Hold traps/MRET until committed stores drain to memory
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

docs: cached tier is no longer data-only (I-cache + fence.i)
  hw/rtl/README.md
Due: none

Resurrect the arch compliance suite: real bodies, execute-from-DDR
  sw/apps/arch_test/Makefile
  sw/apps/arch_test/crt0_arch_test.S
  sw/apps/arch_test/generate_references.py
  sw/apps/arch_test/link_arch_test.ld
  sw/apps/arch_test/model_test.h
  tests/Makefile
  tests/test_arch_compliance.py
Due: clang-tidy

Preserve the dividend sign on REM-by-zero in the divider
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/divider.sv
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
Due: verible-format, verible-lint

Hold the wrong-path-bubble override across L1I fetch misses
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint
