Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


fix formal syntax errors
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

perf: add 2-wide width-funnel counters (83 -> 97, CoreMark-measured)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  sw/lib/include/tomasulo_profile.h
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
Due: clang-tidy, verible-format, verible-lint

fix linting errors
  fpga/hw_regression.py
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

docs: add performance-counter reference README
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
Due: none

perf: pipeline SQ store drain to ~1/cycle for plain fast-tier stores
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

perf: persist SQ early-address repair candidates until base completion
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

perf: second integer ALU pipe via dual-issue INT reservation station
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/cdb_arbiter/cdb_arbiter_model.py
Due: verible-format, verible-lint

perf: symmetric lane-1 CDB wakeup in the reservation stations
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
Due: verible-format, verible-lint

perf: retire correctly-predicted branches at ROB head+1
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/recovery/ex_comb_synthesizer.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: verible-format, verible-lint

break up long CI job for Cocotb bram Verilator into 3 separate jobs
  .github/workflows/ci.yml
  pyproject.toml
  tests/README.md
  tests/conftest.py
  tests/test_run_cocotb.py
Due: none

perf counters: decompose the head-load staging/misc catch-all
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/perf/tomasulo_perf_counters.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/lib/include/tomasulo_profile.h
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
Due: clang-tidy, verible-format, verible-lint

perf: fix and enable SQ→LQ store-to-load forwarding fast path
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

perf: widen SQ store-to-load forwarding to covered sub-word loads
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

perf: extend the LQ completion bypass to SQ-forwarded loads
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

perf: form 2-wide bundles behind native 32-bit slot-1 instructions
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/sim/cpu_tb.sv
  sw/common/generate_imem_predecode_init.py
Due: verible-format, verible-lint

docs: name historical fixes descriptively in comments
  .github/workflows/ci.yml
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/register_files/ooo_register_files.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/dispatch_routing/dispatch_rs_router.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/check_linux_boot_regression.py
  verif/cocotb_tests/test_real_program.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
Due: verible-format, verible-lint

fix: give ROB-head MMIO/LR loads issue priority to prevent staging-slot starvation
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

docs: resolve the parcel-queue provider seam contract (design 7.1)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
Due: none

docs: parcel-queue stage 2 front-end redesign spec
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
Due: none

feat: consume-side RAS (stage-2 swap, phase 2)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_consume_engine.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_consume_ras.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_parcel_consume_engine.py
  verif/cocotb_tests/if_stage/test_parcel_consume_ras.py
Due: verible-format, verible-lint

feat: parcel queue scaffolding (stage-2 landing step A)
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_queue.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_parcel_queue.py
Due: verible-format, verible-lint

feat: 32-bit slot-1 leads a bundle (stage-2 landing step B3a)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_fill_engine.sv
  verif/cocotb_tests/if_stage/test_parcel_fill_engine.py
Due: verible-format, verible-lint

feat: parcel fill engine skeleton (stage-2 landing step B1)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_fill_engine.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_parcel_fill_engine.py
Due: verible-format, verible-lint

feat: integrated if_stage_stage2 front end (rewire artifact)
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage_stage2.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_if_stage_stage2.py
Due: verible-format, verible-lint

docs: if_stage_stage2 built + smoke-tested (design 9.1 phase 2)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
Due: none

feat: parcel fill engine 2-wide slot-2 formation (stage-2 landing step B2)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_fill_engine.sv
  verif/cocotb_tests/if_stage/test_parcel_fill_engine.py
Due: verible-format, verible-lint

feat: parcel consume engine + integration phasing (stage-2 swap, phase 1)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_consume_engine.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_parcel_consume_engine.py
Due: verible-format, verible-lint

WIP: swap in parcel-queue stage-2 front end (coremark-CRC validated)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.f
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_fill_engine.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: verible-format, verible-lint

docs: front-end direction decision (shelve parcel-queue, stay on improve_x3_timing)
  hw/rtl/cpu_and_mem/cpu/if_stage/FRONTEND_DIRECTION_DECISION.md
Due: none

timing: tree-ify AMO-age min (x3 post-opt WNS -5.581->-3.695) + cpu_tb parcel-FE seam ports
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

perf: form fetch-provider window from registered ask (x3 WNS -3.695->-3.059)
  hw/rtl/cpu_and_mem/fetch_provider.sv
Due: verible-format, verible-lint
