Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


test(reservation_station): fix constrained-random model ordering flake
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/reservation_station/test_reservation_station.py
Due: none

Remove Questa (closed-source) simulator support
  CONTRIBUTING.md
  README.md
  hw/rtl/README.md
  tests/.gitignore
  tests/Makefile
  tests/README.md
  tests/conftest.py
  tests/test_arch_compliance.py
  tests/test_riscv_tests.py
  tests/test_riscv_torture.py
  tests/test_run_cocotb.py
Due: none

Remove README bloat: delete stale estimates, deduplicate ISA tables, trim verbose diagrams
  hw/rtl/README.md
  sw/README.md
  sw/lib/README.md
  verif/README.md
Due: none

update README utilization per board
  README.md
Due: none

Exclude vendored/generated assembly from GitHub language stats
  .gitattributes
Due: none

Add CDB arbiter module and integrate into tomasulo_wrapper
  formal/cdb_arbiter.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/cdb_arbiter_tb.sv
  hw/sim/tomasulo_wrapper_tb.sv
  tests/Makefile
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/cdb_arbiter/__init__.py
  verif/cocotb_tests/tomasulo/cdb_arbiter/cdb_arbiter_interface.py
  verif/cocotb_tests/tomasulo/cdb_arbiter/cdb_arbiter_model.py
  verif/cocotb_tests/tomasulo/cdb_arbiter/test_cdb_arbiter.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_model.py
Due: verible-format, verible-lint

Add FU-CDB pipeline: adapter, ALU shim, MUL/DIV shim into tomasulo_wrapper
  formal/fu_cdb_adapter.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fu_shims.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/reservation_station_tb.sv
  hw/sim/tomasulo_wrapper_tb.sv
  tests/Makefile
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/__init__.py
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/fu_cdb_adapter_interface.py
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/fu_cdb_adapter_model.py
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/test_fu_cdb_adapter.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_model.py
Due: verible-format, verible-lint

Add load queue module and integrate into tomasulo_wrapper
  formal/load_queue.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/tomasulo_wrapper_tb.sv
  tests/Makefile
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/load_queue/__init__.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

Tomsaulo: Add FP shims, L0 cache, LQ bug fixes, and full test infrastructure
  formal/fp_add_shim.sby
  formal/fp_div_shim.sby
  formal/fp_mul_shim.sby
  formal/lq_l0_cache.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_add_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fu_shims.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/tomasulo_wrapper_tb.sv
  tests/Makefile
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/fu_shims/__init__.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_add_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_div_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_mul_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_div_shim.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

Add standalone cocotb tests for integer shims and enforce verilator-only for shim tests
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/int_alu_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/int_muldiv_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
Due: none

Add MUL/DIV corner case and partial flush tests to int_muldiv_shim
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
Due: none

Add partial flush tests for DIV path in int_muldiv_shim
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
Due: none

Pipeline the divider path in int_muldiv_shim
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/fu_shims/int_muldiv_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

tests(load_queue): model L0 cache fast-path in constrained-random
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: none

Pipeline the FP divider and sqrt paths in fp_div_shim
  README.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_divider.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_sqrt.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/DESIGN.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/fu_shims/fp_div_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_div_shim.py
Due: verible-format, verible-lint

Fix Icarus Verilog compat: use always_comb for unpacked array init
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_divider.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_sqrt.sv
Due: verible-format, verible-lint

tests(yosys): use target-aware, configurable synthesis timeouts
  tests/test_run_yosys.py
Due: none

forwarding_unit: fix stale cache-hit load data in int->fp forwarding
  hw/rtl/cpu_and_mem/cpu/control/forwarding_unit.sv
Due: verible-format, verible-lint

fix(load_queue): correct FLD cache fill address and add rm=7 coverage
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

feat(store_queue): Tomasulo add Store Queue with SQ→LQ forwarding (Week 10)
  formal/store_queue.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/tomasulo_wrapper_tb.sv
  tests/Makefile
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/store_queue/__init__.py
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
  verif/cocotb_tests/tomasulo/store_queue/sq_model.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

feat(tomasulo): resolve FRM_DYN rounding mode to frm CSR at dispatch time
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/tomasulo_wrapper_tb.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

feat(tomasulo): add LR/SC/AMO atomics with reservation tracking
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/reservation_station_tb.sv
  hw/sim/tomasulo_wrapper_tb.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/reservation_station/test_reservation_station.py
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
  verif/cocotb_tests/tomasulo/store_queue/sq_model.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

fix(tomasulo): MMIO cache bypass, ICARUS/Yosys compat, AMO test coverage
  hw/rtl/cpu_and_mem/cpu/tomasulo/DESIGN.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

verif: keep random memory ops out of reserved MMIO space
  verif/cocotb_tests/instruction_generator.py
  verif/cocotb_tests/test_cpu.py
Due: none

fix(tomasulo): align LQ/SQ model full semantics with RTL pointer-based logic
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/store_queue/sq_model.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: none

refactor(tomasulo): migrate payload storage from FFs to distributed RAM (LUTRAM)
  formal/load_queue.sby
  formal/reservation_station.sby
  formal/store_queue.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

feat(tomasulo): add dispatch unit and OOO CPU top-level
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo.f
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/dispatch/__init__.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
Due: verible-format, verible-lint

Integrate the OOO core and harden front-end replay/serialization
  hw/rtl/cpu_and_mem/cpu/cpu.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.f
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/branch_redirect_unit.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/ex_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/sim/cpu_tb.sv
  hw/sim/tomasulo_wrapper_tb.sv
  sw/apps/freertos_demo/port_frost.c
  sw/apps/freertos_demo/portmacro.h
  tests/Makefile
  verif/cocotb_tests/tomasulo/fu_shims/fp_add_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/int_alu_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

fix: stabilize OOO control flow and restore CoreMark stack mode
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/branch_redirect_unit.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/ex_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/ras_detector.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/return_address_stack.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/coremark/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/reservation_station/test_reservation_station.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

remove cpu test for now until refactored for ooo
  tests/test_run_cocotb.py
Due: none

Add feature: sprintf(), snprintf() and a test program.
  sw/apps/sprintf_test/Makefile
  sw/apps/sprintf_test/sprintf_test.c
  sw/lib/include/sprintf.h
  sw/lib/src/sprintf.c
Due: clang-tidy

fix(sw): integrate sprintf_test into bare-metal build and test framework
  CONTRIBUTORS.md
  sw/README.md
  sw/apps/sprintf_test/Makefile
  sw/apps/sprintf_test/sprintf_test.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

Remove Icarus Verilog support; Verilator is now the only simulator
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Dockerfile
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/DESIGN.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/cdb_arbiter_tb.sv
  hw/sim/reservation_station_tb.sv
  hw/sim/tomasulo_wrapper_tb.sv
  tests/Makefile
  tests/README.md
  tests/conftest.py
  tests/test_arch_compliance.py
  tests/test_riscv_tests.py
  tests/test_riscv_torture.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/register_alias_table/test_register_alias_table.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

fix: break IF-stage combinational loops for Vivado synthesis
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  tests/Makefile
Due: verible-format, verible-lint

cpu: break front-end stall/replay timing cone for post-synth
  hw/rtl/cpu_and_mem/cpu/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint
