Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

cpu_and_mem: reject an empty MMIO window in the layout check
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
Due: verible-format, verible-lint

sw: list t3 in pma_fault_test's case clobbers
  sw/apps/pma_fault_test/main.c
Due: clang-tidy

docs: give the load queue's fault priority in its Completion section
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
Due: none

cpu: default the MMIO window parameters to the PMA's window
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: verible-format, verible-lint

cpu: fault loads and stores to unserved device addresses
  formal/README.md
  formal/dmmu_mmio.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/mmu/dtlb.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  linux/README.md
  sw/README.md
  sw/apps/pma_fault_test/main.c
  sw/apps/vm_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_dmmu.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: clang-tidy, verible-format, verible-lint

docs: state the device-window fault rules exactly
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  linux/README.md
  sw/README.md
Due: verible-format, verible-lint

cpu_and_mem: check the device windows against the PMA pages
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
Due: verible-format, verible-lint

tomasulo_wrapper: decode SC once for the store check and the data MMU
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

cpu_and_mem: check the device-window layout the PMA decodes assume
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
Due: verible-format, verible-lint

rob: document which completions can replace an allocation-time cause
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: verible-format, verible-lint

rob: let allocation win the FP-flag RAMs over a stale CDB write
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: verible-format, verible-lint

tests: check the ROB atomics and status tests against a busy SQ
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_monitors.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: none

rob: trap FP instructions that use rm=DYN while frm is reserved
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/README.md
  sw/apps/fp_dyn_rm_test/Makefile
  sw/apps/fp_dyn_rm_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: clang-tidy, verible-format, verible-lint

sw: widen fp_dyn_rm_test's reserved-frm cases
  sw/apps/fp_dyn_rm_test/main.c
Due: clang-tidy

rob: correct the xRET-start, stale-CDB filter, and narrow-port comments
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/lib/ram/mwp_dist_ram.sv
Due: verible-format, verible-lint

tests: describe what mret_drain_deadlock checks
  tests/test_run_cocotb.py
Due: none

rob: flag rm=DYN with its own allocation bit instead of csr_op
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: verible-format, verible-lint

rob: remove the unused read port, early-recovery input, and unread RAMs
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper_split_rs.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

rob: say both FP-flag RAMs put their CDB ports first
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

rob: correct the stale-write README text and fflags and done-repair comments
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
Due: verible-format, verible-lint

rob: log slot-2 retirements in the retire trace
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

tests: drop the dead Makefrag filter from riscv-tests discovery
  tests/test_riscv_tests.py
Due: none

tests: name OpenSBI's trap entry in the csr_rmw_test description
  tests/test_run_cocotb.py
Due: none

csr: make a minstret write replace the writer's own increment
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  sw/README.md
  sw/apps/csr_test/main.c
  tests/README.md
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
Due: clang-tidy, verible-format, verible-lint

tests: fail the precise-interrupt sweep when an offset takes no trap
  verif/cocotb_tests/test_directed_traps.py
Due: none

tests: check the MRET and timer-interrupt ordering sweep
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/test_directed_traps.py
Due: none

trap_unit: describe what the interrupt latch hold does
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  sw/apps/irq_mie_window/main.c
  verif/cocotb_tests/control/test_trap_unit.py
Due: clang-tidy, verible-format, verible-lint

cpu_ooo: assert the resume PC of an interrupt taken at a waiting WFI
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  sw/apps/wfi_drain_mepc_test/main.c
  sw/apps/wfi_mepc_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

smode_test: check that sstatus hides MPP when read from M
  sw/apps/smode_test/main.c
Due: clang-tidy

dispatch: remove the unused ROB entry-done input
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
Due: verible-format, verible-lint

smode_test: set MIE in the M-mode sstatus read of case O
  sw/apps/smode_test/main.c
Due: clang-tidy

dispatch: keep funct3 in csr_op for non-CSR instructions
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
Due: verible-format, verible-lint

cpu_ooo: seed the WFI resume PC only for a legal WFI that stays in the ROB
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_directed_traps.py
Due: verible-format, verible-lint

trap_unit: take no xRET in a trap's flush cycle
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/test_directed_traps.py
Due: verible-format, verible-lint

trap_unit: state the cross-class ordering as the M-target take winning
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
Due: verible-format, verible-lint

docs: say that instret misses xRETs, taken-over WFIs and dropped NOPs
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  linux/README.md
  sw/apps/csr_test/main.c
Due: clang-tidy, verible-format, verible-lint

tests: model pure CSR reads with csr_op[1:0] = 0 in the ROB and CSR benches
  verif/cocotb_tests/cpu_ooo/perf/test_perf_csr_half.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: none

tomasulo_wrapper: describe o_rob_entry_done_vec as a bench port
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

riscv_pkg: renumber the sections; delete the unused tomasulo.f
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo.f
Due: verible-format, verible-lint

misprediction_flush_controller: free a held slot-2 checkpoint only once
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  verif/cocotb_tests/cpu_ooo/recovery/test_misprediction_flush_controller.py
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

