Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

fpu: say which operands also set the FCVT.S.D bypass flags
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert_sd.sv
Due: verible-format, verible-lint

sim: name the fp_divider and fp_sqrt rounding bits by what they carry
  hw/sim/fp_divider.sv
  hw/sim/fp_sqrt.sv
Due: verible-format, verible-lint

fpu: round FCVT.S.D up to the smallest normal correctly
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert_sd.sv
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
Due: verible-format, verible-lint

fpu: raise NV for FMA infinity times zero with a quiet-NaN addend
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_fma.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
Due: verible-format, verible-lint

arch_test: check the Spike env's signature alignment instead of patching it
  sw/apps/arch_test/generate_references.py
  sw/apps/arch_test/model_test.h
Due: clang-tidy

fpu: record the missing UF for results that round up to the minimum normal
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_result_assembler.sv
Due: verible-format, verible-lint

arch_test: describe where the bram tier's .data load image can land
  sw/apps/arch_test/crt0_arch_test_bram.S
  sw/apps/arch_test/link_arch_test_bram.ld
Due: none

fifo: say what async_fifo's READY_MARGIN does
  hw/rtl/lib/fifo/async_fifo.sv
Due: verible-format, verible-lint

uart: accept every TX byte that fits, pace software by an almost-full level
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/debug/debug_slice_writer.sv
  hw/rtl/cpu_and_mem/hang_triage.sv
  hw/rtl/frost.sv
  hw/rtl/lib/fifo/dc_fifo.sv
  sw/README.md
  sw/apps/freertos_demo/link_freertos.ld
  sw/apps/freertos_demo/link_freertos_ddr.ld
  sw/apps/ns16550_irq_console_test/main.c
  sw/apps/ns16550_test/main.c
  sw/apps/plic_test/main.c
  sw/common/link.ld
  sw/lib/include/uart.h
  tests/test_run_cocotb.py
  verif/cocotb_tests/lib/test_dc_fifo.py
Due: clang-tidy, verible-format, verible-lint

debug: say how dtm_core's dmihardreset differs from the spec
  hw/rtl/cpu_and_mem/debug/dtm_core.sv
Due: verible-format, verible-lint

plic: ignore a completion from a context that does not enable the source
  hw/rtl/cpu_and_mem/plic.sv
  sw/README.md
  sw/apps/plic_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

dma_test_engine: rename dword_idx_q to word_idx_q
  hw/rtl/cpu_and_mem/dma_test_engine.sv
Due: verible-format, verible-lint

uart_rx: remove the unreachable end-of-data branch
  hw/rtl/peripherals/uart_rx.sv
Due: verible-format, verible-lint

fifo: state the reset order dc_fifo needs
  hw/rtl/frost.sv
  hw/rtl/lib/fifo/dc_fifo.sv
Due: verible-format, verible-lint

nic: say data requests in the DMA model's status-order violation
  verif/cocotb_tests/nic/dma_model.py
Due: none

debug: abandon a request on dmihardreset without issuing it again
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/debug/debug_module.sv
  hw/rtl/cpu_and_mem/debug/dtm_core.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/debug/test_debug_module.py
  verif/cocotb_tests/debug/test_dtm_core.py
Due: verible-format, verible-lint

fifo: load dc_fifo's output only from a settled RAM read
  hw/rtl/cpu_and_mem/debug/debug_slice_writer.sv
  hw/rtl/lib/fifo/dc_fifo.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/lib/test_dc_fifo.py
Due: verible-format, verible-lint

frost: feed the UART transmit FIFO straight from cpu_and_mem
  hw/rtl/frost.sv
Due: verible-format, verible-lint

arch_test: let the signature dump outgrow the UART transmit FIFO
  hw/rtl/frost.sv
  sw/apps/arch_test/model_test.h
  tests/test_arch_compliance.py
  tests/test_runner_helpers.py
Due: clang-tidy, verible-format, verible-lint

cache: remove the HAS_L2 parameter and the L1-only shape
  docs/diagrams/cache-hierarchy.svg
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/dma_coherence_sequencer.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  hw/rtl/lib/cache/walker_coherence_sequencer.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_fence_speed.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
Due: verible-format, verible-lint

plic_test: say that S has source 1 disabled in case J
  sw/apps/plic_test/main.c
Due: clang-tidy

nic: cancel an admission when the direction is disabled in its cycle
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_desc_fetch.sv
  hw/rtl/peripherals/nic/nic_rx_engine.sv
  hw/rtl/peripherals/nic/nic_tx_engine.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/test_nic_rx_engine.py
  verif/cocotb_tests/nic/test_nic_tx_engine.py
Due: verible-format, verible-lint

boards: give sourced reasons in two clocking and reset comments
  boards/x3/x3_nic_gty.sv
  boards/xilinx_frost_subsystem.sv
Due: verible-format, verible-lint

cache: leave fence.i writebacks out of the L2's stall events
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  verif/cocotb_tests/cache/test_frost_cache.py
Due: verible-format, verible-lint

cache: say when the X3 resets the level below the AXI bridge
  hw/rtl/lib/cache/line_port_axi_bridge.sv
Due: verible-format, verible-lint

ram: delete the three RAM modules nothing instantiates
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/lib/ram/mwp_dist_ram_2r.sv
  hw/rtl/lib/ram/ram.f
  hw/rtl/lib/ram/sdp_dist_ram_2r.sv
  hw/rtl/lib/ram/tdp_bram_dc.sv
Due: verible-format, verible-lint

cache: hold the AXI bridge's presented beats through a CPU reset
  formal/README.md
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/line_port_axi_bridge.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_line_port_axi_bridge.py
Due: verible-format, verible-lint

ram: say what read_first guarantees in sdp_ram_byte_en, and check it
  hw/rtl/lib/ram/sdp_ram_byte_en.sv
Due: verible-format, verible-lint

cache: state exactly what the bridge's stale-response drop relies on
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/line_port_axi_bridge.sv
Due: verible-format, verible-lint

cache: correct the wording a review of the cache changes found stale
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/line_port_axi_bridge.sv
  verif/cocotb_tests/cache/test_frost_cache.py
Due: verible-format, verible-lint

cache: drop the flush walk's unreachable comparator forwarding
  hw/rtl/lib/cache/frost_cache.sv
Due: verible-format, verible-lint

cache: install a whole-line write to a probe-held line after the release
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache.sv
  verif/cocotb_tests/cache/test_frost_cache_dma.py
Due: verible-format, verible-lint

tests: describe the bridge bench's response log entries correctly
  verif/cocotb_tests/cache/test_line_port_axi_bridge.py
Due: none

docs: name the images that stay in 32-bit words
  hw/rtl/README.md
Due: none

tests: drop the cache bench's last L1-only note
  verif/cocotb_tests/cache/test_frost_cache.py
Due: none

tests: measure write_l2_only and keep the cache benches' regions disjoint
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_dma_envelope.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
  verif/cocotb_tests/cache/test_frost_cache_dma.py
  verif/cocotb_tests/cache/test_line_port_arbiter.py
Due: verible-format, verible-lint

tests: check that every write_l2_only DMA write hits in the L2
  verif/cocotb_tests/cache/test_dma_envelope.py
Due: none

cache: answer a fence.i sync only with a sequence the request held
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  verif/cocotb_tests/cache/test_frost_cache.py
Due: verible-format, verible-lint

tests: make the fetch_provider out-of-order fill test reorder
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

