Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


tests: fetch-fault-then-retry in itlb_test, the lazy vDSO mapping's shape
  sw/apps/itlb_test/main.c
  sw/apps/itlb_test/pages.S
Due: clang-tidy

tests: return through a loaded address at every window position in itlb_test
  sw/apps/itlb_test/main.c
  sw/apps/itlb_test/pages.S
Due: clang-tidy

fpga: keep debugger-driven apps out of the hardware regression sweep
  fpga/README.md
  fpga/hw_regression.py
  tests/test_hw_regression_linux_stage.py
Due: none

sw: add an opt-in source-debug build profile (FROST_DEBUG)
  sw/README.md
  sw/apps/debug_target/Makefile
  sw/common/common.mk
Due: none

ci: boot the MMU Linux lane on the RTL and in QEMU, check it on hardware
  .github/workflows/ci.yml
  fpga/README.md
  fpga/hw_regression.py
  tests/check_mmu_linux_boot.py
  tests/test_hw_regression_linux_stage.py
  verif/cocotb_tests/test_real_program.py
Due: none

fpga: functional-validation builds at a divided CPU clock
  boards/README.md
  boards/x3/x3_frost.sv
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/x3_ddr_bd.tcl
  fpga/hw_regression.py
  fpga/load_software/load_software.py
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
Due: verible-format, verible-lint

docs: refresh architecture diagrams and README details
  CONTRIBUTING.md
  README.md
  boards/README.md
  docs/diagrams/cache-hierarchy.svg
  docs/diagrams/frost-architecture.svg
  docs/diagrams/tomasulo-backend.svg
  docs/diagrams/x3-board-integration.svg
  fpga/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/lib/cache/README.md
  tests/README.md
  verif/README.md
  verif/cocotb_tests/test_common.py
Due: none

linux: add the DMA test engine's window to the boot device tree
  linux/buildroot-external/board/frost/frost_boot_image.py
  tests/test_linux_packaging.py
Due: none

docs: correct details left by the architecture refresh
  docs/diagrams/cache-hierarchy.svg
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  tests/README.md
  tests/test_arch_compliance.py
  tests/test_run_formal.py
Due: none

sw: declare every MMIO anchor volatile
  sw/lib/include/mmio.h
Due: clang-tidy

tests: repair the three CI failures the coherent DMA port left behind
  hw/sim/cpu_tb.sv
  sw/apps/debug_target/main.c
  sw/apps/debug_target/target.S
  sw/apps/plic_test/main.c
  verif/cocotb_tests/debug/test_debug.py
Due: clang-tidy, verible-format, verible-lint

tests: add the DMA-port service envelope measurement
  hw/rtl/lib/cache/README.md
  tests/.gitignore
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_dma_envelope.py
Due: none

nic: add the clock-crossing library, the reset handshake and the interrupt block
  formal/async_fifo.sby
  hw/rtl/README.md
  hw/rtl/lib/cdc/cdc.f
  hw/rtl/lib/cdc/cdc_gray_count.sv
  hw/rtl/lib/cdc/cdc_reset_sync.sv
  hw/rtl/lib/cdc/cdc_sync.sv
  hw/rtl/lib/fifo/async_fifo.sv
  hw/rtl/lib/fifo/fifo.f
  hw/rtl/lib/lib.f
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_domain_reset.sv
  hw/rtl/peripherals/nic/nic_irq.sv
  hw/rtl/peripherals/nic/nic_pkg.sv
  hw/rtl/peripherals/nic/nic_reset_ctrl.sv
  hw/rtl/peripherals/nic/nic_reset_test_harness.sv
  tests/Makefile
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/lib/__init__.py
  verif/cocotb_tests/lib/test_async_fifo.py
  verif/cocotb_tests/lib/test_cdc_gray_count.py
  verif/cocotb_tests/nic/__init__.py
  verif/cocotb_tests/nic/test_nic_irq.py
  verif/cocotb_tests/nic/test_nic_reset.py
Due: verible-format, verible-lint

nic: add the DMA front-end, descriptor rings and the RX/TX engines
  hw/rtl/README.md
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_byte_pack.sv
  hw/rtl/peripherals/nic/nic_byte_unpack.sv
  hw/rtl/peripherals/nic/nic_desc_fetch.sv
  hw/rtl/peripherals/nic/nic_dma_front.sv
  hw/rtl/peripherals/nic/nic_pkg.sv
  hw/rtl/peripherals/nic/nic_rx_engine.sv
  hw/rtl/peripherals/nic/nic_tx_engine.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/dma_model.py
  verif/cocotb_tests/nic/test_nic_byte_pack.py
  verif/cocotb_tests/nic/test_nic_byte_unpack.py
  verif/cocotb_tests/nic/test_nic_dma_front.py
  verif/cocotb_tests/nic/test_nic_rx_engine.py
  verif/cocotb_tests/nic/test_nic_tx_engine.py
Due: verible-format, verible-lint

nic: add the register file, the MAC wrapper and the top
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_csr.sv
  hw/rtl/peripherals/nic/nic_irq.sv
  hw/rtl/peripherals/nic/nic_mac_wrap.sv
  hw/rtl/peripherals/nic/nic_pkg.sv
  hw/rtl/peripherals/nic/nic_top.sv
  sw/common/link.ld
  sw/common/link_ddr.ld
  sw/lib/include/mmio.h
  sw/lib/include/nic.h
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/test_nic_top.py
Due: clang-tidy, verible-format, verible-lint

nic: put the NIC on the SoC, the X3 top and the software side
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  fpga/load_software/load_software.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/plic.sv
  hw/rtl/frost.f
  hw/rtl/frost.sv
  hw/rtl/net10g/net10g.f
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_dma_front.sv
  hw/rtl/peripherals/nic/nic_rx_engine.sv
  hw/rtl/peripherals/nic/nic_tx_engine.sv
  linux/buildroot-external/board/frost/frost,net10g.yaml
  linux/buildroot-external/board/frost/frost_boot_image.py
  sw/apps/nic_loopback/Makefile
  sw/apps/nic_loopback/main.c
  sw/apps/plic_test/main.c
  tests/Makefile
  tests/test_linux_packaging.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/dma_model.py
  verif/cocotb_tests/nic/test_nic_dma_front.py
  verif/cocotb_tests/nic/test_nic_rx_engine.py
  verif/cocotb_tests/nic/test_nic_tx_engine.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

nic: echo program, timing fixes and the constraint block
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  fpga/load_software/load_software.py
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_desc_fetch.sv
  hw/rtl/peripherals/nic/nic_domain_reset.sv
  hw/rtl/peripherals/nic/nic_mac_wrap.sv
  hw/rtl/peripherals/nic/nic_rx_engine.sv
  hw/rtl/peripherals/nic/nic_tx_engine.sv
  linux/buildroot-external/board/frost/frost,net10g.yaml
  sw/README.md
  sw/apps/nic_echo/Makefile
  sw/apps/nic_echo/main.c
  sw/apps/nic_loopback/main.c
  sw/lib/include/nic.h
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

nic: block RAM for the MAC's TX frame buffers, two shorter paths
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_tx.sv
  hw/rtl/peripherals/nic/nic_byte_pack.sv
  hw/rtl/peripherals/nic/nic_dma_front.sv
Due: verible-format, verible-lint

tests: include the NIC in Yosys synthesis checks
  tests/README.md
  tests/test_run_yosys.py
Due: none

feat: extend OoO core profiling, verification, and tuning
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fusion/macro_op_fusion.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  sw/apps/ddr_mlp_test/ddr_mlp_test.c
  sw/apps/tomasulo_perf/tomasulo_perf.c
  sw/lib/include/tomasulo_profile.h
  sw/lib/src/tomasulo_profile_cache.c
  tools/bp_sweep.py
  tools/fusion_profile.py
  tools/latency_fuzz.py
  tools/test_fusion_profile.py
  verif/BP_SWEEP.md
  verif/LATENCY_FUZZ.md
  verif/MACRO_OP_FUSION.md
  verif/RETIRE_TRACE.md
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
  verif/retire_trace.py
Due: clang-tidy, verible-format, verible-lint

limit to 12 placer jobs at once
  README.md
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

fpga: register NIC and DMA apps in the Tcl loader
  fpga/README.md
  fpga/load_software/load_software.tcl
  tests/test_fpga_managed_flows.py
Due: none

docs: preserve the NIC hardware validation baseline
  fpga/README.md
  fpga/build/x3_nic_hardware_validation.md
  fpga/build/x3_post_opt_nic_timing.md
Due: none

Clarify thresholded congestion reporting
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

Combine memory response selection at the CPU boundary
  formal/README.md
  formal/data_mem_response_mux.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/data_mem_response_mux.sv
  hw/sim/data_mem_response_mux_lut_models.sv
  hw/sim/data_mem_response_mux_tb.sv
  tests/Makefile
  tests/README.md
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/memory/README.md
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_response_mux.py
Due: verible-format, verible-lint

Add guarded post-opt L1 completion factoring and CE copies
  fpga/build/l1_control_repair.md
  fpga/build/l1_control_repair.tcl
  tests/test_l1_control_repair.py
Due: none

Add guarded X3 distribution copies for fresh optimized netlists
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

Guard L1 replacement pin controls and packing groups
  fpga/build/l1_control_repair.md
  fpga/build/l1_control_repair.tcl
  tests/test_l1_control_repair.py
Due: none

Annotate X3 copy guard test parameters
  tests/test_x3_nic_placement.py
Due: none

Distinguish boolean controls from literal placement values
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

Preserve unchanged macro inputs through local net identities
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

Add current-netlist flush guidance replication guards
  fpga/build/x3_flush_guidance.md
  fpga/build/x3_flush_guidance.tcl
  tests/test_x3_flush_guidance.py
Due: none

Bound declared distribution nets separately from input sources
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

Integrate fresh X3 placement repairs and a native setup gate
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/x3_pd_target_pin_swaps.tcl
  fpga/build/x3_post_place_gate.tcl
  fpga/build/x3_post_place_timing.md
  tests/test_fpga_build.py
  tests/test_x3_pd_target_pin_swaps.py
  tests/test_x3_post_place_gate.py
Due: none

Bind X3 downstream checkpoints to qualified placement lineage
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

Keep production placement to one pass per candidate
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/x3_flush_guidance.tcl
  fpga/build/x3_pd_target_pin_swaps.tcl
  fpga/build/x3_post_place_timing.md
  tests/test_fpga_build.py
  tests/test_x3_pd_target_pin_swaps.py
Due: none

Mark flush guidance as a retired diagnostic experiment
  fpga/build/x3_flush_guidance.md
Due: none
