Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

timing: trust dispatch's room checks in the INT RS and store queue
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing: precompute the walker's PTE-address check at the pointer write
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
Due: verible-format, verible-lint

verif: pin the status-flag conservativeness under trusted dispatch
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

Retire stale X3 fetch placement pblock
  README.md
  boards/x3/constr/x3.xdc
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/extract_timing_and_util_summary.py
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

Align privileged dispatch routing references
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
Due: verible-format, verible-lint

Stage split-tag slot-2 predictor responses
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  tests/Makefile
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

Bound low-memory predecode to timed overlay
  README.md
  boards/README.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/low_bram_fetch_presenter.sv
  hw/rtl/frost.sv
  hw/sim/cpu_tb.sv
  linux/README.md
  sw/README.md
  sw/apps/jal_target_seam/jal_target_seam.S
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  sw/common/link.ld
  tests/Makefile
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_prediction_metadata_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
  verif/cocotb_tests/predecode/test_low_bram_fetch_presenter.py
Due: verible-format, verible-lint

Move L2 tags into packed UltraRAM
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  hw/rtl/lib/ram/ram.f
  hw/rtl/lib/ram/sdp_packed_tag_uram.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
  verif/cocotb_tests/test_sdp_packed_tag_uram.py
Due: verible-format, verible-lint

Register FP dispatch repair responses
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

Move FMUL payload queues into block RAM
  README.md
  formal/fp_mul_shim.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fu_shims.f
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_mul_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
Due: verible-format, verible-lint

Decouple fetch translation from next-PC control
  README.md
  formal/prediction_metadata_tracker.sby
  formal/prediction_metadata_tracker_formal.sv
  formal/prediction_release_formal.sv
  formal/prediction_release_pc_increment.sv
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.f
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/low_bram_fetch_presenter.sv
  hw/sim/immu_test_harness.sv
  sw/common/generate_imem_predecode_init.py
  tests/Makefile
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_prediction_metadata_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_immu.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

Own FENCE-class recovery in the ROB serializer
  README.md
  formal/reorder_buffer.sby
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/rob_serializer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/commit_bus/commit_bus_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/satp_drain_test/main.c
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/recovery/test_misprediction_flush_controller.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

Decouple translated SQ payload capture from recovery
  README.md
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

Remove FMUL pending ROB value replicas
  README.md
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper_split_rs.py
Due: verible-format, verible-lint

Fix variable-latency frontend recovery
  formal/prediction_metadata_tracker_formal.sv
  formal/prediction_release_formal.sv
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/low_bram_fetch_presenter.sv
  hw/sim/cpu_tb.sv
  tests/test_fpga_build.py
  verif/cocotb_tests/cpu_ooo/pipeline_control/test_ooo_pipeline_control.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
  verif/cocotb_tests/if_stage/branch_prediction/test_prediction_metadata_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

Eliminate pending prediction owner replay
  formal/README.md
  formal/prediction_release_formal.sv
  fpga/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/test_c_ext_state.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

Prevent duplicate frontend prediction ownership
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

Advance pending predecessors atomically
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

Guard incomplete served instruction packets
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/served_window_coverage.sv
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

Fix high-half prediction retry handoff
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

Preserve frontend prediction request ownership
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/low_bram_fetch_presenter.sv
  hw/sim/cpu_tb.sv
  tests/test_fpga_build.py
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

break out slow-running coremark pro in CI to separate job per workload
  .github/workflows/ci.yml
  tests/README.md
Due: none

Fix RV64 verification and platform defects
  .github/workflows/ci.yml
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_divider.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_sqrt.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_add_shim.sv
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/build_fpga_boot.py
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  sw/apps/branch_pred_test/branch_pred_test.S
  sw/apps/coremark_pro/al_frost.c
  sw/apps/isa_test/isa_test.c
  sw/apps/mem_divergence_probe/main.c
  sw/apps/riscv_tests/crt0_bench.S
  tests/Makefile
  tests/test_linux_packaging.py
  tests/test_run_cocotb.py
  tests/test_runner_helpers.py
  tests/test_verification_helpers.py
  verif/cocotb_tests/instruction_generator.py
  verif/cocotb_tests/test_directed_traps.py
  verif/cocotb_tests/tomasulo/fu_shims/int_muldiv_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_div_shim.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/register_alias_table/test_register_alias_table.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
  verif/encoders/compressed_encode.py
  verif/models/alu_model.py
  verif/models/branch_model.py
  verif/monitors/monitors.py
  verif/utils/memory_utils.py
Due: clang-tidy, verible-format, verible-lint

sw: add a Spike harness for CoreMark instruction counting
  sw/apps/coremark/iss/README.md
  sw/apps/coremark/iss/core_portme.c
  sw/apps/coremark/iss/count_instructions.py
  sw/apps/coremark/iss/crt0_spike.S
  sw/apps/coremark/iss/link_spike.ld
  sw/apps/coremark/iss/stub.c
  sw/apps/coremark/iss/uart.h
Due: clang-tidy

coremark software performance improvements
  README.md
  fpga/hw_regression.py
  sw/README.md
  sw/apps/coremark/Makefile
  sw/common/common.mk
  sw/lib/include/mmio.h
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

docs: plan RV64 CoreMark performance parity
  README.md
  ROADMAP.md
  fpga/hw_regression.py
  sw/apps/coremark/Makefile
  sw/apps/coremark/iss/README.md
  sw/apps/coremark/iss/count_instructions.py
Due: none

Fix X3 timing and frontend recovery
  README.md
  formal/prediction_release_formal.sv
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/return_address_stack.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  tests/test_fpga_build.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/pipeline_control/test_ooo_pipeline_control.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper_split_rs.py
Due: verible-format, verible-lint

Allow CoreMark-PRO ZIP hardware setup to finish
  fpga/README.md
  fpga/common/hw_defaults.py
  fpga/hw_regression.py
  fpga/sweep_coremark_pro.py
  sw/apps/software_registry.py
  tests/test_hardware_runner_helpers.py
Due: none

Restructure X3 timing-critical datapaths
  formal/prediction_release_formal.sv
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/served_window_coverage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

Compare localized integer-RS spreading during X3 placement
  fpga/README.md
  fpga/build/build.py
  fpga/build/extract_timing_and_util_summary.py
  tests/test_fpga_build.py
Due: none

Refresh FPGA utilization from the completed build stage
  fpga/README.md
  fpga/build/build.py
  fpga/build/extract_timing_and_util_summary.py
  tests/test_fpga_build.py
Due: none

Share ALU shift logic and balance SQ repair selection
  README.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
Due: verible-format, verible-lint

Restore low-BRAM fetch throughput with 64 KiB predecode coverage
  README.md
  ROADMAP.md
  boards/README.md
  fpga/hw_regression.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/frost.sv
  linux/README.md
  sw/README.md
  sw/apps/coremark/Makefile
  sw/common/link.ld
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/predecode/test_imem_predecode_capacity.py
Due: verible-format, verible-lint

update hardware stats
  README.md
  fpga/hw_regression.py
Due: none

Run standalone Ethernet verification in CI
  .github/workflows/ci.yml
  README.md
  hw/rtl/net10g/README.md
  tests/README.md
  tests/net10g/README.md
Due: none

ci: shard cocotb real programs across BRAM and DDR jobs
  .github/workflows/ci.yml
  tests/README.md
Due: none

docs: reconcile the roadmap and baseline notes with the measured recovery
  ROADMAP.md
  fpga/hw_regression.py
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

