Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

ci: Buildroot BR2_EXTERNAL for reproducible no-MMU Linux kernel builds
  .github/workflows/linux-boot-sim.yml
  linux/buildroot-external/Config.in
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/build_fpga_boot.py
  linux/buildroot-external/board/frost/frost-nommu-fpga.dts
  linux/buildroot-external/board/frost/linux-nommu-base.config
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  linux/buildroot-external/board/frost/patches/linux/linux.hash
  linux/buildroot-external/board/frost/post-image.sh
  linux/buildroot-external/configs/frost_nommu_rv32_defconfig
  linux/buildroot-external/external.desc
  linux/buildroot-external/external.mk
Due: none

fix linting errors
  sw/apps/linux_irq_ddr_test/main.c
  sw/apps/linux_irq_find_next_slot_test/main.c
  sw/apps/linux_irq_stack_slot_test/main.c
  sw/apps/mtimer_stress/Makefile
Due: clang-tidy

linux_boot: make ret_from_exception patch rebuild-robust
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_ret_from_exception.py
Due: none

test: add opt-in trap/MRET/IRQ wedge monitor for deadlock diagnosis
  verif/cocotb_tests/test_real_program.py
Due: none

buildroot(frost): fold the manual rootfs/build customizations into the external
  linux/buildroot-external/board/frost/.gitignore
  linux/buildroot-external/board/frost/busybox.config
  linux/buildroot-external/board/frost/device_table.txt
  linux/buildroot-external/board/frost/frost-nommu-fpga.dts
  linux/buildroot-external/board/frost/patch_ret_from_exception.py
  linux/buildroot-external/board/frost/post-image.sh
  linux/buildroot-external/board/frost/rootfs-overlay/etc/inittab
  linux/buildroot-external/configs/frost_nommu_rv32_defconfig
Due: none

test: add mtimer_stress (M-mode timer+MRET deadlock stress, flaky-hang repro WIP)
  sw/apps/mtimer_stress/Makefile
  sw/apps/mtimer_stress/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

verif: revive the cpu_tb directed suites; gate directed_traps in CI
  hw/sim/cpu_tb.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_directed_traps.py
Due: verible-format, verible-lint

ci: build + boot FROST no-MMU Linux in the CI workflow
  .github/workflows/ci.yml
  .github/workflows/linux-boot-sim.yml
  tests/check_linux_boot_regression.py
  verif/cocotb_tests/test_real_program.py
Due: none

productionize 718f8cc bring-up changeset: drop debug harness, sync docs
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  verif/README.md
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

fence.i: bound real-FSM cache writeback to the dirty index span
  hw/rtl/lib/cache/frost_cache.sv
Due: verible-format, verible-lint

verif: correct the commit-vs-early-recovery safety comments; pin the real guard
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
Due: verible-format, verible-lint

update vivado build script to sweep uncertainties not just directives
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

Fix interrupt mcause delivery and double trap-entry
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
Due: verible-format, verible-lint

documentation refresh
  CONTRIBUTING.md
  README.md
  boards/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/divider.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/hang_triage.sv
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/ram/sdp_block_ram_dc.sv
  linux/buildroot-external/README.md
  sw/README.md
  sw/apps/compile_app.py
  tests/Makefile
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/test_common.py
  verif/cocotb_tests/test_directed_traps.py
  verif/config.py
  verif/encoders/__init__.py
  verif/encoders/compressed_encode.py
  verif/encoders/instruction_encode.py
Due: verible-format, verible-lint

reduce formal verification runtime
  README.md
  formal/reorder_buffer.sby
Due: none

rtl: X3 timing closure -- one-hot ROB head reads, meip registration, broadcast replication
  formal/reorder_buffer.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
  hw/rtl/lib/ram/ram.f
Due: verible-format, verible-lint

nommu Linux: fix MRET->U-mode timer interrupt-resume-PC (0x80388bba panic)
  README.md
  fpga/load_software/file_to_ddr.tcl
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  handoff_linux_timer_irq_panic.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/commit_bus/commit_bus_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/apps/csr_rmw_test/Makefile
  sw/apps/csr_rmw_test/main.c
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_ret_from_exception.py
  sw/apps/linux_irq_active_ddr_test/Makefile
  sw/apps/linux_irq_active_ddr_test/main.c
  sw/apps/linux_irq_ddr_test/Makefile
  sw/apps/linux_irq_ddr_test/main.c
  sw/apps/linux_irq_find_next_slot_test/Makefile
  sw/apps/linux_irq_find_next_slot_test/main.c
  sw/apps/linux_irq_stack_slot_test/Makefile
  sw/apps/linux_irq_stack_slot_test/main.c
  sw/apps/mret_timer_resume_test/Makefile
  sw/apps/mret_timer_resume_test/main.c
  sw/apps/wfi_mepc_test/Makefile
  sw/apps/wfi_mepc_test/main.c
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/test_real_program.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

Add ns16550a UART face for the Linux console
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/ns16550_test/Makefile
  sw/apps/ns16550_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

Add U-mode directed test (umode_test)
  sw/apps/umode_test/Makefile
  sw/apps/umode_test/main.c
  tests/test_arch_compliance.py
  tests/test_run_cocotb.py
Due: clang-tidy

linux: vendor buildroot submodule + self-build the no-MMU Linux image
  .gitignore
  .gitmodules
  Dockerfile
  fpga/load_software/load_software.py
  linux/buildroot-external/README.md
  sw/apps/linux_boot/.gitignore
  sw/apps/linux_boot/Makefile
Due: none

handoff: nommu Linux boots to userspace; flaky M-mode timer race isolated
  handoff_linux_timer_irq_panic.md
Due: none

mtimer_stress: fix interrupt-saturation livelock (timer period < round-trip)
  sw/apps/mtimer_stress/main.c
Due: clang-tidy

update csr_file misa to advertise C and D extension support
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
Due: verible-format, verible-lint

reorder_buffer: don't retire a serial head during a recovery-flush bubble
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

if_stage: cure no-MMU Linux timer-IRQ boot hang (the gremlin)
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

docs: document the ns16550a UART face and CLINT alias
  hw/rtl/README.md
Due: none

Add SiFive CLINT alias for the Linux timer
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/clint_test/Makefile
  sw/apps/clint_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

update sweep_coremark_pro to calculate score
  README.md
  fpga/sweep_coremark_pro.py
Due: none

sim: SIM_FAST_MAINT — fast fence.i cache maintenance in simulation
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  hw/rtl/lib/ram/sdp_block_ram.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_fence_speed.py
Due: verible-format, verible-lint

buildroot: uclibc: default page size to PAGE_SIZE on no-MMU (fixes malloc)
  linux/buildroot-external/board/frost/patches/uclibc/0001-nommu-default-dl_pagesize-to-PAGE_SIZE.patch
Due: none

wfi_mepc_test: fix t1-clobber that hung the post-WFI poll loop
  sw/apps/wfi_mepc_test/main.c
Due: clang-tidy

Trap CSR/MRET-from-U-mode as illegal instruction
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

Docs + CI for the LR/SC store-conditional fix
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  tests/README.md
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

wfi_lost_tick: raise per-app cycle cap to 800000 for the ddr axis
  verif/cocotb_tests/test_real_program.py
Due: none

if_stage: fix compressed-branch link_address under flush-in-stall
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint

ci: stop the cocotb linux_boot job from rebuilding over its staged images
  .github/workflows/ci.yml
  sw/apps/linux_boot/Makefile
Due: none

upgrade verilator from 5.046 to 5.050
  .github/workflows/ci.yml
  Dockerfile
  README.md
Due: none

timing: cut x3 post-opt WNS from -0.200 to -0.122 ns (CoreMark cycle-exact)
  README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/register_files/ooo_register_files.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

hardware regression script
  fpga/hw_regression.py
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

