Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

linux: place the DTB after the kernel's real footprint
  .github/workflows/ci.yml
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/opensbi_build.py
  sw/apps/opensbi_smoke/Makefile
  sw/apps/opensbi_smoke/link.ld
  tests/test_linux_packaging.py
Due: none

nic: give the MAC independent transmit and receive clocks
  README.md
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_pcs.sv
  hw/rtl/net10g/net10g.f
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_mac_wrap.sv
  hw/rtl/peripherals/nic/nic_top.sv
  sw/README.md
  sw/apps/nic_loopback/Makefile
  sw/apps/nic_loopback/main.c
  tests/net10g/Makefile
  tests/net10g/README.md
  tests/net10g/synthesize.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/test_nic_top.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

coremark: tune the build, and stop simulation suppressing the score
  .pre-commit-config.yaml
  fpga/hw_regression.py
  sw/apps/compile_app.py
  sw/apps/coremark/Makefile
  sw/apps/coremark/iss/README.md
  sw/apps/coremark/iss/core_portme.c
  sw/apps/coremark/iss/generate_profile.py
  sw/apps/coremark/iss/link_spike_pgo.ld
  sw/apps/coremark/iss/pgo_dump.c
  sw/apps/coremark/pad.S
  sw/apps/coremark/sw.elf-core_list_join.gcda
  sw/apps/coremark/sw.elf-core_main.gcda
  sw/apps/coremark/sw.elf-core_matrix.gcda
  sw/apps/coremark/sw.elf-core_state.gcda
  sw/apps/coremark/sw.elf-core_util.gcda
Due: clang-tidy

rtl: close X3 post-opt setup timing at 300 MHz
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_control_flow_tracker.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

docs: record 1015 CoreMark measured at 300 MHz
  README.md
  ROADMAP.md
Due: none

docs: simplify main READMEs
  README.md
  boards/README.md
  fpga/README.md
  hw/rtl/README.md
  linux/README.md
  sw/README.md
  tools/vscode-frost/README.md
Due: none

roadmap: drop the phase this branch is
  ROADMAP.md
Due: none

x3: do not count a refused write as one that happened
  boards/x3/x3_ddr_init.sv
  verif/cocotb_tests/test_x3_ddr_init.py
Due: verible-format, verible-lint

docs: restore essential README details
  README.md
  hw/rtl/README.md
  linux/README.md
  sw/README.md
Due: none

roadmap: keep only what is left to build
  ROADMAP.md
  hw/rtl/net10g/README.md
Due: none

roadmap: open Phase 4.5
  ROADMAP.md
Due: none

fpga: stop asking for what the checkout already knows
  .gitignore
  docs/debian_nfsroot.md
  fpga/README.md
  fpga/hw_regression.py
  tests/test_hw_regression_linux_stage.py
Due: none

x3: correct the ECC verdict and close two gaps a review found
  boards/x3/x3_ddr_init.sv
  fpga/ddr_ecc/ddr_ecc_status.py
  fpga/ddr_ecc/ddr_ecc_status.tcl
  fpga/hw_regression.py
  tests/test_fpga_managed_flows.py
  tests/test_hw_regression_linux_stage.py
  verif/cocotb_tests/test_x3_ddr_init.py
Due: verible-format, verible-lint

x3: write the DDR4 region before anything can read it
  boards/x3/x3_ddr_init.sv
  boards/x3/x3_frost.f
  boards/x3/x3_frost.sv
  fpga/build/x3_ddr_bd.tcl
  fpga/ddr_ecc/ddr_ecc_status.py
  fpga/ddr_ecc/ddr_ecc_status.tcl
  fpga/hw_regression.py
  tests/Makefile
  tests/test_fpga_managed_flows.py
  tests/test_hw_regression_linux_stage.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_x3_ddr_init.py
Due: verible-format, verible-lint

docs: describe the DDR region writer and the ECC stage
  boards/README.md
  fpga/README.md
Due: none

docs: put the NIC and its transceiver in the diagrams
  docs/diagrams/cache-hierarchy.svg
  docs/diagrams/frost-architecture.svg
  docs/diagrams/x3-board-integration.svg
  hw/rtl/lib/cache/README.md
Due: none

roadmap: close Phase 4
  ROADMAP.md
Due: none

cache: bound how long a writeback can lose the downstream register
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  verif/cocotb_tests/cache/test_fence_speed.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
Due: verible-format, verible-lint

docs: streamline subsystem READMEs
  boards/README.md
  formal/README.md
  fpga/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/lib/cache/README.md
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  linux/buildroot-external/README.md
  linux/frost-net10g/README.md
  sw/apps/coremark/iss/README.md
  tests/README.md
  tests/net10g/README.md
  tools/vscode-frost/resources/README.md
  verif/README.md
  verif/cocotb_tests/cpu_ooo/memory/README.md
Due: none

docs: remove main README glossary
  README.md
Due: none

fix(fpga): make post-place slack threshold advisory
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

updated hw resource util
  README.md
Due: none

sw: recalibrate five CoreMark-PRO iteration counts
  sw/apps/software_registry.py
Due: none

update hw_regression score
  fpga/hw_regression.py
Due: none

docs(linux): build the console device timeout into the root
  docs/debian_nfsroot.md
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

