Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

ci: install the pinned sv2v in the frost image
  Dockerfile
  tests/net10g/README.md
  tests/net10g/synthesize.py
Due: none

verif: recover the fence-copy equality modulo the translation flavor
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

tests: cite falsification evidence in the bug-repro registry entries
  tests/test_run_cocotb.py
Due: none

docs: require on-board debug-transport coverage in the Phase 3 exit
  ROADMAP.md
Due: none

README updates
  README.md
Due: none

coremark software performance improvements
  README.md
  fpga/hw_regression.py
  sw/README.md
  sw/apps/coremark/Makefile
  sw/common/common.mk
  sw/lib/include/mmio.h
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

docs: reconcile the roadmap and baseline notes with the measured recovery
  ROADMAP.md
  fpga/hw_regression.py
Due: none

ci: shard cocotb real programs across BRAM and DDR jobs
  .github/workflows/ci.yml
  tests/README.md
Due: none

mmu: add the Sv39 data side — DTLB, walker, and live sfence.vma (Phase 3 M4)
  formal/ptw.sby
  formal/tlb.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.f
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/mmu/dtlb.sv
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  sw/apps/vm_test/Makefile
  sw/apps/vm_test/main.c
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  tests/test_run_yosys.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
Due: clang-tidy, verible-format, verible-lint

timing: select the served-window verdict late
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/served_window_coverage.sv
Due: verible-format, verible-lint

Decouple fetch translation from next-PC control
  README.md
  formal/prediction_metadata_tracker.sby
  formal/prediction_metadata_tracker_formal.sv
  formal/prediction_release_formal.sv
  formal/prediction_release_pc_increment.sv
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.f
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/low_bram_fetch_presenter.sv
  hw/sim/immu_test_harness.sv
  sw/common/generate_imem_predecode_init.py
  tests/Makefile
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_prediction_metadata_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_immu.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

timing: launch every fetch-cone predecode predicate from scalar LUTRAM
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

fetch: judge the next-pc arms against pc's leaf in parallel with the selector (fetch-seam timing, stage 3)
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint

priv: add S-mode with delegation, sret, and sfence.vma (Phase 3 M1)
  .github/workflows/ci.yml
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  linux/README.md
  sw/apps/riscv_tests/riscv_test.h
  sw/apps/smode_test/Makefile
  sw/apps/smode_test/main.c
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

Remove FMUL pending ROB value replicas
  README.md
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper_split_rs.py
Due: verible-format, verible-lint

Register FP dispatch repair responses
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

Fix variable-latency frontend recovery
  formal/prediction_metadata_tracker_formal.sv
  formal/prediction_release_formal.sv
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/low_bram_fetch_presenter.sv
  hw/sim/cpu_tb.sv
  tests/test_fpga_build.py
  verif/cocotb_tests/cpu_ooo/pipeline_control/test_ooo_pipeline_control.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
  verif/cocotb_tests/if_stage/branch_prediction/test_prediction_metadata_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

Preserve frontend prediction request ownership
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/low_bram_fetch_presenter.sv
  hw/sim/cpu_tb.sv
  tests/test_fpga_build.py
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

Refresh FPGA utilization from the completed build stage
  fpga/README.md
  fpga/build/build.py
  fpga/build/extract_timing_and_util_summary.py
  tests/test_fpga_build.py
Due: none

tests: keep env_v's kernel globals off the demand-paged test pages
  sw/apps/ad_fault_test/Makefile
  sw/apps/ad_fault_test/main.c
  sw/apps/riscv_tests/link_riscv_tests_v.ld
  tests/test_run_cocotb.py
Due: clang-tidy

timing: take the x3 control broadcasts off the raw pulses (rounds 1-2)
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/commit/commit_actions.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

Move FMUL payload queues into block RAM
  README.md
  formal/fp_mul_shim.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fu_shims.f
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_mul_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
Due: verible-format, verible-lint

Restore low-BRAM fetch throughput with 64 KiB predecode coverage
  README.md
  ROADMAP.md
  boards/README.md
  fpga/hw_regression.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/frost.sv
  linux/README.md
  sw/README.md
  sw/apps/coremark/Makefile
  sw/common/link.ld
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/predecode/test_imem_predecode_capacity.py
Due: verible-format, verible-lint

Eliminate pending prediction owner replay
  formal/README.md
  formal/prediction_release_formal.sv
  fpga/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/test_c_ext_state.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

timing: retire the X3 prediction-release false path
  formal/prediction_release_formal.sv
  fpga/README.md
  fpga/build/build_step.tcl
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

fpga: return x3 synthesis to AlternateRoutability
  fpga/README.md
  fpga/build/build.py
Due: none

timing: pick the prediction gate by the served-window verdict last
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
Due: verible-format, verible-lint

Own FENCE-class recovery in the ROB serializer
  README.md
  formal/reorder_buffer.sby
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/rob_serializer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/commit_bus/commit_bus_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/satp_drain_test/main.c
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/recovery/test_misprediction_flush_controller.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

Stage split-tag slot-2 predictor responses
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  tests/Makefile
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

update hardware stats
  README.md
  fpga/hw_regression.py
Due: none

timing: derive the IMMU's fetch addresses per next-PC arm
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
Due: verible-format, verible-lint

fetch: spell the fetch-verdict width for Yosys
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint

Align privileged dispatch routing references
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
Due: verible-format, verible-lint

verif: drive the flush-controller bench through the registered-kill contract
  verif/cocotb_tests/cpu_ooo/recovery/test_misprediction_flush_controller.py
Due: none

formal: follow the calculator's cofactor ports in the prediction-release abstraction
  formal/prediction_release_formal.sv
  formal/prediction_release_pc_increment.sv
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

