Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

Harden FROST software runtime and build tooling
  sw/CONTRIBUTING.md
  sw/README.md
  sw/apps/build_all_apps.py
  sw/apps/compile_app.py
  sw/apps/memory_test/memory_test.c
  sw/apps/packet_parser/packet_parser_simple.c
  sw/apps/sprintf_test/sprintf_test.c
  sw/apps/strings_test/strings_test.c
  sw/apps/tomasulo_test/tomasulo_test.c
  sw/common/common.mk
  sw/lib/include/memory.h
  sw/lib/include/sprintf.h
  sw/lib/include/stdlib.h
  sw/lib/include/tomasulo_profile.h
  sw/lib/include/uart.h
  sw/lib/src/memory.c
  sw/lib/src/sprintf.c
  sw/lib/src/stdlib.c
  sw/lib/src/uart.c
Due: clang-tidy

fix: LQ/SQ ghost alloc during flush — gate slot alloc enables like the ROB
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

update linux config documentation
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  sw/apps/ns16550_test/main.c
Due: clang-tidy

update genesys2 hardware stats
  README.md
  fpga/hw_regression.py
Due: none

formal: move cover_lq_mem_issue behind FORMAL_DEEP_COVER
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

update x3 hw stats
  fpga/hw_regression.py
Due: none

fix: stale-CDB escapes — MEM single-delivery + adapter grant-refill; pin the kill discipline
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/test_fu_cdb_adapter.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

timing: registered flush snapshot for the FP shims + registered perf snapshot capture
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/perf/tomasulo_perf_counters.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

dev: harden reproducible workflows and software builds
  .dockerignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker_entrypoint.py
  formal/README.md
  linux/buildroot-external/README.md
  scripts/frost.py
  scripts/run-clang-tidy.py
  sw/CONTRIBUTING.md
  sw/README.md
  sw/apps/branch_pred_test/Makefile
  sw/apps/c_ext_test/Makefile
  sw/apps/cf_ext_test/Makefile
  sw/apps/coremark_pro/Makefile
  sw/apps/fetch_stall_repro/Makefile
  sw/apps/fpu_assembly_test/Makefile
  sw/apps/mret_drain_deadlock/main.c
  sw/apps/ras_test/Makefile
  sw/apps/riscv_tests/syscalls_frost.c
  sw/apps/strings_test/strings_test.c
  sw/common/standalone_asm.mk
  sw/lib/include/string.h
  sw/lib/src/string.c
  tests/README.md
  tests/test_arch_compliance.py
  tests/test_docker_entrypoint.py
  tests/test_frost_script.py
  tests/test_riscv_tests.py
  tests/test_riscv_torture.py
  tests/test_run_clang_tidy.py
  tests/test_runner_helpers.py
  verif/README.md
Due: clang-tidy

dev: make frost wrapper the local front door
  .dockerignore
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Dockerfile
  README.md
  scripts/frost.py
  tests/README.md
  tests/test_frost_script.py
Due: none

ci: fetch the submodules clang-tidy lints against in the lint job
  .github/workflows/ci.yml
Due: none

tests: register the formal pytest marker
  pyproject.toml
Due: none

README clean-up
  README.md
  boards/README.md
  formal/README.md
  fpga/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  linux/buildroot-external/README.md
  sw/README.md
  tests/README.md
  verif/README.md
Due: none

timing: split FP result FIFO payload writes
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  verif/cocotb_tests/tomasulo/fu_shims/fp_mul_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
Due: verible-format, verible-lint

timing: simplify CDB circular age comparison
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
Due: verible-format, verible-lint

timing: bound MEM dispatch ready fanout
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing: factor slot-2 validity gating
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
Due: verible-format, verible-lint

rename packet parser software more generically
  sw/apps/packet_parser/packet_parser_simple.c
Due: clang-tidy

timing: fold the PC priority ladders into masked AND-OR selects
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

timing: pin per-replica staged-LVT registers against driver merging
  hw/rtl/lib/ram/mwp_dist_ram.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
Due: verible-format, verible-lint

fpga: adopt opt=Default for x3 and add placement experiment knobs
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

Revert "timing: pin per-replica staged-LVT registers against driver merging"
  hw/rtl/lib/ram/mwp_dist_ram.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
Due: verible-format, verible-lint

Revert "timing: fold the PC priority ladders into masked AND-OR selects"
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

timing: halve the fetch array and bank the data BRAM
  .gitignore
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  hw/rtl/lib/ram/tdp_bram_dc_byte_en.sv
  sw/common/common.mk
  sw/common/generate_dmem_bank_init.py
Due: verible-format, verible-lint

lint: conform generate_dmem_bank_init docstrings
  sw/common/generate_dmem_bank_init.py
Due: none

timing: omit dead muldiv hardware from the INT ALU pipes
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

