Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


docs: close out Phase 2 in the roadmap and the performance summary
  README.md
  ROADMAP.md
Due: none

sim: honor per-test shapes and sweep the L2 tags fast at reset
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/line_port_axi_bridge.sv
  tests/Makefile
Due: verible-format, verible-lint

cpu: keep four cached loads in flight from the load queue
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/sim/cpu_tb.sv
  sw/apps/ddr_mlp_test/Makefile
  sw/apps/ddr_mlp_test/ddr_mlp_test.c
  sw/lib/include/tomasulo_profile.h
  tests/test_run_cocotb.py
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

formal: keep the bridge watchdog out of formal and retune the LQ depth
  formal/load_queue.sby
  hw/rtl/lib/cache/line_port_axi_bridge.sv
Due: verible-format, verible-lint

verif: deliver dispatch-cycle CDB captures in the wrapper model
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_model.py
Due: none

cache: make frost_cache non-blocking
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/cache_perf_pkg.sv
  hw/rtl/lib/cache/frost_cache.sv
  sw/lib/include/tomasulo_profile.h
  sw/lib/src/tomasulo_profile_cache.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
Due: clang-tidy, verible-format, verible-lint

cpu: retire the single-outstanding wording from the cached-tier comments
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/frost.sv
Due: verible-format, verible-lint

cpu: fill both fetch-buffer lines concurrently
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/fetch_provider.sv
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: verible-format, verible-lint

update hw stats
  README.md
  fpga/hw_regression.py
Due: none

cpu: keep replaced fetch-buffer lines in a victim store
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/lib/cache/README.md
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: verible-format, verible-lint

priv: add S-mode with delegation, sret, and sfence.vma (Phase 3 M1)
  .github/workflows/ci.yml
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  linux/README.md
  sw/apps/riscv_tests/riscv_test.h
  sw/apps/smode_test/Makefile
  sw/apps/smode_test/main.c
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

priv: retire out-of-map aliasing for PMA access faults (Phase 3 M2)
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/branch_jump_unit.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  linux/README.md
  sw/apps/pma_fault_test/Makefile
  sw/apps/pma_fault_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

mmu: add the Sv39 data side — DTLB, walker, and live sfence.vma (Phase 3 M4)
  formal/ptw.sby
  formal/tlb.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.f
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/mmu/dtlb.sv
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  sw/apps/vm_test/Makefile
  sw/apps/vm_test/main.c
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  tests/test_run_yosys.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
Due: clang-tidy, verible-format, verible-lint

verif: catch the unit benches up to the S-mode and PMA payloads
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper_split_rs.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: none

verif: catch the direct benches and the lint/test fixtures up to the M2-M5 tree
  .pre-commit-config.yaml
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/sim/cpu_tb.sv
  sw/apps/itlb_test/main.c
  sw/lib/include/trap.h
  tests/test_fpga_build.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
  verif/cocotb_tests/cpu_ooo/pipeline_control/test_ooo_pipeline_control.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
Due: clang-tidy, verible-format, verible-lint

tests: port drain_trapframe_test, trap_s2l_fwd, and ras_test to rv64 semantics
  sw/apps/drain_trapframe_test/main.c
  sw/apps/ras_test/ras_test.S
  sw/apps/trap_s2l_fwd/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

priv: drain committed stores before the D10 translation flush
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  sw/apps/satp_drain_test/Makefile
  sw/apps/satp_drain_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

irq: add the PLIC and Sstc — external interrupts through claim/complete, stimecmp timer (Phase 3 M6)
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/plic.sv
  hw/sim/cpu_tb.sv
  sw/apps/ns16550_irq_console_test/Makefile
  sw/apps/ns16550_irq_console_test/main.c
  sw/apps/plic_test/Makefile
  sw/apps/plic_test/main.c
  sw/apps/sstc_test/Makefile
  sw/apps/sstc_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

tests: keep env_v's kernel globals off the demand-paged test pages
  sw/apps/ad_fault_test/Makefile
  sw/apps/ad_fault_test/main.c
  sw/apps/riscv_tests/link_riscv_tests_v.ld
  tests/test_run_cocotb.py
Due: clang-tidy

fetch: flatten the next-pc selector and key the ITLB on the registered pc (fetch-seam timing, stages 1-2)
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
Due: verible-format, verible-lint

fetch: judge the next-pc arms against pc's leaf in parallel with the selector (fetch-seam timing, stage 3)
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint

timing: take the x3 control broadcasts off the raw pulses (rounds 1-2)
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/commit/commit_actions.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing: decode the flush controller's broadcasts from registered state
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
Due: verible-format, verible-lint

timing: retire the X3 prediction-release false path
  formal/prediction_release_formal.sv
  fpga/README.md
  fpga/build/build_step.tcl
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

timing: launch every fetch-cone predecode predicate from scalar LUTRAM
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

timing: select the served-window verdict late
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/served_window_coverage.sv
Due: verible-format, verible-lint

timing: derive the IMMU's fetch addresses per next-PC arm
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
Due: verible-format, verible-lint

timing: apply the bundle squash last on the sequential PC path
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
Due: verible-format, verible-lint

timing: pick the prediction gate by the served-window verdict last
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
Due: verible-format, verible-lint

timing: keep the full-flush kill off the sequential PC path
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint

timing: judge a finished debug command a cycle after the re-park
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/debug/debug_module.sv
Due: verible-format, verible-lint

formal: follow the calculator's cofactor ports in the prediction-release abstraction
  formal/prediction_release_formal.sv
  formal/prediction_release_pc_increment.sv
Due: verible-format, verible-lint

fpga: synthesize x3 with PerformanceOptimized by default
  fpga/README.md
  fpga/build/build.py
Due: none

fpga: return x3 synthesis to AlternateRoutability
  fpga/README.md
  fpga/build/build.py
Due: none

verif: drive the flush-controller bench through the registered-kill contract
  verif/cocotb_tests/cpu_ooo/recovery/test_misprediction_flush_controller.py
Due: none

cache: keep slot-match captures honest across MSHR/WB re-manning
  hw/rtl/lib/cache/frost_cache.sv
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
Due: verible-format, verible-lint

fetch: spell the fetch-verdict width for Yosys
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint
