Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

timing: close the X3 rv64 post-opt WNS gap (-0.489 -> -0.133)
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

timing: re-pin the 64-bit CDB value copies against replication
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing: drop the LVT staging-register fanout caps (3.3x module blowup)
  hw/rtl/lib/ram/mwp_dist_ram.sv
Due: verible-format, verible-lint

timing: defer dispatch-cycle CDB capture to a registered one-cycle delivery
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/reservation_station/test_reservation_station.py
Due: verible-format, verible-lint

timing: cap the port-1 issue bypass-mask fanout like port 0
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
Due: verible-format, verible-lint

timing: replication round against the post-place wall (10 files)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/recovery/ex_comb_synthesizer.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing: record accepted RV64 placement checkpoint
  docs/rv64/phase1_plan.md
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_target_candidate.sv
Due: verible-format, verible-lint

update hw stats
  README.md
  fpga/hw_regression.py
Due: none

docs: present FROST as RV64-first for the Phase 1 landing
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  boards/README.md
  docs/rv64/coremark_lp64_gap.md
  docs/rv64/m1_data_tier.md
  docs/rv64/phase1_plan.md
  docs/rv64/xlen_audit.md
  fpga/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  linux/README.md
  linux/buildroot-external/README.md
  sw/CONTRIBUTING.md
  sw/README.md
  tests/README.md
  verif/README.md
Due: none

arch_test: build the compressible misalign trap tests without C
  sw/apps/arch_test/Makefile
  sw/apps/arch_test/generate_references.py
  sw/apps/arch_test/references/rv32i_m/privilege/misalign-lw-01.reference_output
  sw/apps/arch_test/references/rv32i_m/privilege/misalign-sw-01.reference_output
  sw/apps/arch_test/references/rv64i_m/privilege/misalign-ld-01.reference_output
  sw/apps/arch_test/references/rv64i_m/privilege/misalign-sd-01.reference_output
  sw/apps/arch_test/references/rv64i_m/privilege/misalign-sw-01.reference_output
Due: none

rv64(M3.3): RV64A with 8-byte reservation granule; rv64ua green
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_riscv_tests.py
  verif/cocotb_tests/id_stage/test_id_stage.py
Due: verible-format, verible-lint

sw: port the FreeRTOS demo to rv64, retiring the D13 deferral
  docs/rv64/phase1_plan.md
  sw/apps/freertos_demo/FreeRTOSConfig.h
  sw/apps/freertos_demo/port_frost.c
  sw/apps/freertos_demo/port_frost_asm.S
  sw/apps/freertos_demo/portmacro.h
  tests/test_run_cocotb.py
Due: clang-tidy

rv64(M5 close-out): formal both-XLEN axis, FS properties, gate greens
  docs/rv64/phase1_plan.md
  formal/csr_file.sby
  formal/trap_unit.sby
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/rv64_known_widths.vlt
  sw/apps/umode_test/main.c
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/test_directed_traps.py
Due: clang-tidy, verible-format, verible-lint

fpga: let FROST_RV64 reach the baked software/predecode image build
  fpga/build/build.py
Due: none

rv64(M4.1): RV64C table recode across the seven predecode/decode sites
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/ras_detector.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  sw/common/generate_imem_predecode_init.py
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_ras_detector.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
Due: verible-format, verible-lint

verif: directed sim coverage for the JTAG/port-A image-reload path
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_bram_reload.py
Due: none

rv64(M3 close-out): parse-driven bench enums, probe plumbing, waiver prune
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/rv64_known_widths.vlt
  tests/test_run_yosys.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/config.py
  verif/models/alu_model.py
Due: none

rv64(M7): stage 2 — the rv64 kernel boots on the RTL; stress + CI lane
  .github/workflows/ci.yml
  linux/buildroot-external/README.md
  sw/apps/linux_boot/Makefile
  sw/apps/restore_window_stress/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

rv64(M7): stage 1 — the rv64 no-MMU Linux lane builds and boots QEMU userspace
  .github/workflows/ci.yml
  .gitignore
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/build_fpga_boot.py
  linux/buildroot-external/board/frost/linux-nommu-base-rv64.config
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  linux/buildroot-external/board/frost/patch_linux_image.py
  linux/buildroot-external/board/frost/post-image.sh
  linux/buildroot-external/configs/frost_nommu_rv64_defconfig
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_linux_image.py
Due: clang-tidy

fix(rv64): riscv-tests DDR boot stub at lp64; jump-test reference provenance
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  sw/apps/arch_test/references/rv64i_m/I/jal-01.reference_output
  sw/apps/arch_test/references/rv64i_m/I/jalr-01.reference_output
  sw/apps/riscv_tests/Makefile
  sw/apps/riscv_tests/crt0_riscv_tests_ddr.S
Due: verible-format, verible-lint

tests: track the FROST_RV64 axis in the Verilator rebuild marker
  tests/test_run_cocotb.py
Due: none

cpu: kill pending-saved prediction metadata with its pending fetch state
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  sw/apps/jal_target_seam/Makefile
  sw/apps/jal_target_seam/jal_target_seam.S
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

sw: fix every rv64 hardware-regression failure (33/35 on X3 silicon)
  fpga/hw_regression.py
  sw/apps/branch_pred_test/branch_pred_test.S
  sw/apps/linux_irq_active_ddr_test/main.c
  sw/apps/linux_irq_ddr_test/main.c
  sw/apps/linux_irq_stack_slot_test/main.c
  sw/apps/memory_test/memory_test.c
  sw/apps/pde_return_hazard/main.c
  sw/apps/strings_test/strings_test.c
  sw/apps/tick_torture/main.c
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

fix(rv64): arch-test DDR tier links at lp64 — literal-pool crt0 + medany
  sw/apps/arch_test/Makefile
  sw/apps/arch_test/crt0_arch_test.S
Due: none

verif: align the two remaining alloc-struct mirrors (CI unit reds)
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
  verif/cocotb_tests/cpu_ooo/pipeline_control/test_ooo_pipeline_control.py
Due: none

rv64(M3.2): D7 multiplier rebuild + D8 divider W-forms; rv64um green
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/multiplier.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/dsp_tiled_multiplier_unsigned.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
  verif/models/alu_model.py
Due: verible-format, verible-lint

tests: fix the torture timeout unit test's monkeypatch arity
  tests/test_runner_helpers.py
Due: none

rv64(M6): program suite — coremark lp64d, c_ext rv64 body, defsym axis
  sw/apps/c_ext_test/c_ext_test.S
  sw/apps/coremark/Makefile
  sw/common/standalone_asm.mk
  tests/test_run_cocotb.py
Due: none

docs: record the measured CoreMark lp64 gap decomposition
  docs/rv64/coremark_lp64_gap.md
  fpga/hw_regression.py
Due: none

tests: run the torture apps in CI as pinned sim-scale variants
  sw/apps/tick_torture/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

