Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

docs: record 1015 CoreMark measured at 300 MHz
  README.md
  ROADMAP.md
Due: none

docs: describe the board at its rated clock
  ROADMAP.md
  docs/debian_nfsroot.md
Due: none

fpga: arm the score baselines from the 300 MHz sweep
  fpga/hw_regression.py
Due: none

fpga: boot the real system in the regression's Linux stage
  .gitignore
  .pre-commit-config.yaml
  README.md
  ROADMAP.md
  docs/debian_nfsroot.md
  fpga/README.md
  fpga/hw_regression.py
  linux/README.md
  linux/buildroot-external/README.md
  linux/debian_kernel.py
  tests/README.md
  tests/fixtures/x3_linux_boot_console.log
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
Due: none

docs: give the NFS export its own filesystem
  docs/debian_nfsroot.md
Due: none

docs: fix stale claims found in a pre-merge sweep
  README.md
  ROADMAP.md
  fpga/README.md
  fpga/hw_regression.py
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  sw/README.md
  sw/apps/coremark/Makefile
  tools/vscode-frost/README.md
Due: none

docs: state which loader apps skip debugging, not how many
  README.md
  fpga/README.md
  tools/vscode-frost/README.md
Due: none

linux: build the NIC driver from one source, also as a DKMS module
  .pre-commit-config.yaml
  README.md
  docs/debian_nfsroot.md
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-add-the-FROST-net10g-driver.patch
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-hook-in-the-FROST-net10g-driver.patch
  linux/buildroot-external/external.mk
  linux/frost-net10g/.gitignore
  linux/frost-net10g/Kconfig
  linux/frost-net10g/Makefile
  linux/frost-net10g/README.md
  linux/frost-net10g/dkms.conf
  linux/frost-net10g/frost_net10g.c
  tests/test_frost_net10g_driver.py
Due: clang-tidy

ci: keep the QEMU boot inside the container
  .github/workflows/ci.yml
Due: none

boards: drive the X3 NIC from the GTY transceiver on channel 0
  README.md
  boards/README.md
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.f
  boards/x3/x3_frost.sv
  boards/x3/x3_nic_gty.sv
  fpga/README.md
  fpga/build/build_step.tcl
  fpga/build/x3_gty_ip.tcl
  fpga/hw_regression.py
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

rtl: meet X3 post-place timing gate without CoreMark regression
  README.md
  formal/README.md
  formal/alu_shift_hint.sv
  formal/btb_tag_compare.sby
  formal/coherence_replay_compare.sby
  formal/divider_prefix.sby
  formal/mul_completion_tag.sby
  formal/mul_completion_tag.sv
  formal/prediction_release_formal.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/divider.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/coherence/lq_coherence_port.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/lib/fifo/async_fifo.sv
  hw/rtl/peripherals/nic/README.md
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/ex_stage/test_divider.py
Due: verible-format, verible-lint

net10g: take the transmit MAC's length and FCS logic off the lane chain
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_tx.sv
  hw/rtl/peripherals/nic/README.md
Due: verible-format, verible-lint

linux: add the frost,net10g netdev driver
  .pre-commit-config.yaml
  ROADMAP.md
  fpga/README.md
  fpga/hw_regression.py
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-add-the-FROST-net10g-driver.patch
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/package/frost-stress/Config.in
  linux/buildroot-external/package/frost-stress/frost-stress.mk
  linux/buildroot-external/package/frost-stress/src/frost_nettest.c
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
Due: clang-tidy

cache: make page-table walks see the L1D's dirty lines
  README.md
  docs/diagrams/cache-hierarchy.svg
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/ptw.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/walker_coherence_sequencer.sv
  sw/README.md
  sw/apps/ptw_coherence_test/Makefile
  sw/apps/ptw_coherence_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/cache/test_frost_cache_concurrency.py
  verif/cocotb_tests/cache/test_frost_cache_dma.py
Due: clang-tidy, verible-format, verible-lint

linux: remove the in-tree Buildroot kernel build
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  ROADMAP.md
  fpga/hw_regression.py
  fpga/load_software/load_software.py
  linux/README.md
  linux/buildroot-external/Config.in
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/busybox-mmu.fragment
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-hook-in-the-FROST-net10g-driver.patch
  linux/buildroot-external/board/frost/patches/linux/linux.hash
  linux/buildroot-external/board/frost/post-image-mmu.sh
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/external.desc
  linux/buildroot-external/external.mk
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  linux/frost-net10g/README.md
  linux/frost-net10g/frost_net10g.c
  sw/CONTRIBUTING.md
  sw/README.md
  sw/apps/build_all_apps.py
  sw/apps/compile_app.py
  sw/apps/linux_boot/Makefile
  tests/test_frost_net10g_driver.py
  tests/test_linux_packaging.py
  tools/vscode-frost/src/plainLoad.ts
Due: clang-tidy

linux: follow the NIC's loopback mode and recover after READY loss
  fpga/README.md
  fpga/hw_regression.py
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/patches/linux/0001-net-ethernet-add-the-FROST-net10g-driver.patch
  linux/buildroot-external/package/frost-stress/src/frost_nettest.c
Due: clang-tidy

docs: say the NIC runs on a real link
  README.md
  ROADMAP.md
Due: none

docker: fail the image build when QEMU's riscv64 target is missing
  Dockerfile
Due: none

roadmap: put RV64 performance parity before SMP
  README.md
  ROADMAP.md
  hw/rtl/cpu_and_mem/debug/debug_module.sv
  hw/rtl/cpu_and_mem/plic.sv
  hw/rtl/lib/cache/README.md
Due: verible-format, verible-lint

tests: retire booting the kernel in simulation
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  README.md
  ROADMAP.md
  fpga/README.md
  linux/README.md
  linux/buildroot-external/README.md
  sw/README.md
  sw/apps/linux_boot/Makefile
  tests/check_mmu_linux_boot.py
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/test_real_program.py
Due: none

formal: run the FMUL-repair BMC without the presat query
  formal/tomasulo_wrapper.sby
Due: none

linux: boot Debian's pinned kernel everywhere
  .github/workflows/ci.yml
  .gitignore
  README.md
  ROADMAP.md
  docs/debian_nfsroot.md
  fpga/README.md
  fpga/hw_regression.py
  fpga/linux_boot_soak.py
  fpga/load_software/load_software.py
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/post-image-mmu.sh
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  linux/debian_kernel.py
  linux/frost-net10g/README.md
  sw/CONTRIBUTING.md
  sw/README.md
  sw/apps/build_all_apps.py
  sw/apps/compile_app.py
  sw/apps/linux_boot/Makefile
  tests/test_frost_net10g_driver.py
  tests/test_hw_regression_linux_stage.py
  tests/test_linux_packaging.py
Due: clang-tidy

cpu: stop later flushes from re-judging a flushed load's cached slot
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  sw/README.md
  sw/apps/lq_stale_slot_probe/Makefile
  sw/apps/lq_stale_slot_probe/iter.S
  sw/apps/lq_stale_slot_probe/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

fpga: trim default X3 router sweeps to four directives
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

net10g: stage the receive MAC for the 10GBASE-R word rate
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_rx.sv
  hw/rtl/peripherals/nic/README.md
  tests/net10g/Makefile
  tests/net10g/README.md
  tests/net10g/run.py
  tests/net10g/test_mac_rx.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/test_nic_top.py
Due: verible-format, verible-lint

roadmap: set the performance target at 1289 CoreMark
  ROADMAP.md
Due: none

docs: add a guide to running Debian from an NFS root
  README.md
  ROADMAP.md
  docs/debian_nfsroot.md
  linux/README.md
Due: none

roadmap: size the soak to the failures it can catch
  ROADMAP.md
Due: none

linux: quiesce the NIC when open fails after enabling NAPI
  linux/frost-net10g/frost_net10g.c
Due: clang-tidy

nic_echo: wait for a transceiver link and restore a dropped enable
  ROADMAP.md
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  sw/apps/nic_echo/main.c
Due: clang-tidy

docs: boot the Debian guide on Debian's own kernel
  docs/debian_nfsroot.md
  linux/README.md
  linux/frost-net10g/README.md
Due: none

linux: boot Debian from an NFS root and advertise the board's memory
  fpga/README.md
  fpga/load_software/load_software.py
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  linux/buildroot-external/board/frost/linux-frost.config
  linux/buildroot-external/configs/frost_rv64_defconfig
  linux/buildroot-external/package/frost-stress/src/frost_nettest.c
  sw/apps/compile_app.py
  sw/apps/linux_boot/Makefile
  tests/test_linux_packaging.py
Due: clang-tidy

linux: pack another kernel and initramfs, including initramfs-tools NFS roots
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/frost_boot_image.py
  sw/apps/linux_boot/Makefile
  tests/test_linux_packaging.py
Due: none

fpga: fork completed phys-opt sweeps for concurrent routing
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

