Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

Clarify diagnostic-only pin refinement documentation
  fpga/README.md
  fpga/build/x3_pd_target_pin_swaps.tcl
Due: none

Document X3 timing handoff
  TIMING_HANDOFF_2026-09-12.md
  fpga/build/x3_post_place_timing.md
Due: none

Keep local timing notes out of version control
  TIMING_HANDOFF_2026-09-12.md
  fpga/README.md
  fpga/build/l1_control_repair.md
  fpga/build/l1_control_repair.tcl
  fpga/build/x3_flush_guidance.md
  fpga/build/x3_nic_hardware_validation.md
  fpga/build/x3_nic_placement.md
  fpga/build/x3_post_opt_nic_timing.md
  fpga/build/x3_post_place_timing.md
Due: none

nic: keep the NIC's mass out of the CPU's placement
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_rx.sv
  hw/rtl/net10g/eth10g_mac_tx.sv
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_reset_ctrl.sv
  hw/rtl/peripherals/nic/nic_reset_test_harness.sv
  hw/rtl/peripherals/nic/nic_top.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

nic: decide a packer line issue from narrow register conditions
  hw/rtl/peripherals/nic/nic_byte_pack.sv
Due: verible-format, verible-lint

memory: let free cached-tier read slots sample the request address
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
Due: verible-format, verible-lint

fpga: fence the NIC and replicate high-fanout drivers in X3 placement
  boards/x3/constr/x3.xdc
  fpga/README.md
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

fpga: use ordinary X3 replication with soft NIC fences
  fpga/README.md
  fpga/build/build_step.tcl
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_rx.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

docs: refresh X3 placement utilization for ordinary replication
  README.md
Due: none

docs: describe the current X3 MAC frame buffers
  boards/x3/x3_frost.sv
Due: verible-format, verible-lint

Compare pending SC lines before selecting the head
  formal/README.md
  formal/sc_head_query.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/coherence/lq_coherence_port.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

Capture secondary integer shift amounts at issue
  formal/README.md
  formal/alu_shift_hint.sby
  formal/alu_shift_hint.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/fu_shims/int_alu_shim_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/test_rs_issue2_shamt.py
Due: verible-format, verible-lint

Use the existing RVC bit-20 cofactor in slot-one predecode
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

Preselect performance CSR half with commit payload capture
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/sim/perf_csr_half_test_harness.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_csr_half.py
Due: verible-format, verible-lint

Stage normal AMO arithmetic after response capture
  formal/README.md
  formal/load_queue_amo_compute.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

Use the exact RVC illegal cofactor in slot-one predecode
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

tomasulo: keep an older store fault that arrives under a partial flush
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

csr: apply the minstret write after the retired-count accumulate
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
Due: verible-format, verible-lint

tomasulo: let an SC fire without consulting the live store-fault decision
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

rs: keep the INT station's branch words in a tag-indexed side RAM
  formal/alu_shift_hint.sv
  formal/reservation_station.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/branch_target_precompute.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_add_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/int_alu_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/reservation_station/test_reservation_station.py
Due: verible-format, verible-lint

cache: register the L2 response inside the DMA coherence sequencer
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/dma_coherence_sequencer.sv
Due: verible-format, verible-lint

Expand load queue allocation and status over the dispatch valids
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

Feed the PD instruction fields from standalone RVC cofactors
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
Due: verible-format, verible-lint

Expand store queue allocation pulses over the dispatch valids
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

Select prediction validity by the live term last
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
Due: verible-format, verible-lint

Divide and take square roots on one iterative FP datapath
  formal/fp_div_shim.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_div_sqrt_iter.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu.f
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu_div_sqrt_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fu_shims.f
  hw/sim/fp_div_sqrt_equiv_harness.sv
  hw/sim/fp_divider.sv
  hw/sim/fp_sqrt.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/ex_stage/test_fp_div_sqrt_equiv.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_div_shim.py
Due: verible-format, verible-lint

Register the reservation station's tag-indexed formal tasks
  tests/test_run_formal.py
Due: none

Make the profiling counters a build option, off by default
  .github/workflows/ci.yml
  boards/README.md
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  formal/csr_file.sby
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  sw/apps/perf_off_test/Makefile
  sw/apps/perf_off_test/main.c
  sw/lib/include/tomasulo_profile.h
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

Overconstrain the phys-opt sweeps by 0.5 ns again
  fpga/README.md
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

Leave nic_echo out of the hardware regression until a transceiver exists
  fpga/README.md
  fpga/hw_regression.py
  tests/test_hw_regression_linux_stage.py
Due: none

docs: catch the READMEs up with the NIC integration and the timing work
  .gitignore
  README.md
  ROADMAP.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/hw_regression.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/net10g/README.md
  hw/rtl/peripherals/nic/README.md
  linux/README.md
  tests/net10g/README.md
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tools/vscode-frost/README.md
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

Scope the phys-opt overconstraint to the post-place sweep
  fpga/README.md
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

fpga: report whether the post-opt netlist helpers applied
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

Measure the placement congestion veto against real Vivado reports
  tests/fixtures/genesys2_post_place_congestion.rpt
  tests/fixtures/x3_post_place_congestion.rpt
  tests/fixtures/x3_post_place_congestion_clear.rpt
  tests/test_fpga_build.py
Due: none

Compare post-place gate evidence within Vivado's display rounding
  fpga/README.md
  fpga/build/build.py
  fpga/build/x3_post_place_gate.tcl
  tests/test_fpga_build.py
  tests/test_x3_post_place_gate.py
Due: none

Make perf_off_test loadable and record the netlist's counter option
  README.md
  fpga/README.md
  fpga/build/build.py
  fpga/hw_regression.py
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
  tools/vscode-frost/README.md
Due: none

Bound the cache counter drain by the counters the CPU implements
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  sw/lib/src/tomasulo_profile_cache.c
Due: clang-tidy

tests: drop the redundant --assert from the cocotb registry
  tests/README.md
  tests/test_run_cocotb.py
Due: none

Drive the kill path in the FP divide/sqrt equivalence bench
  hw/sim/fp_div_sqrt_equiv_harness.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/ex_stage/test_fp_div_sqrt_equiv.py
Due: verible-format, verible-lint

Name the coherence line split once instead of per module
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/coherence/lq_coherence_port.sv
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

