Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

timing: move the PD redirect target adder to the fire cycle
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
Due: verible-format, verible-lint

README: refresh x3 and genesys2 utilization tables
  README.md
Due: none

timing: factor slot-2 validity gating
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
Due: verible-format, verible-lint

timing: flatten the fetch-advance web onto a one-hot context decode
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
Due: verible-format, verible-lint

timing: split FP result FIFO payload writes
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  verif/cocotb_tests/tomasulo/fu_shims/fp_mul_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
Due: verible-format, verible-lint

timing: centralize the CDB partial-flush kill
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing: simplify CDB circular age comparison
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
Due: verible-format, verible-lint

ci: make the RTL parse and elaborate under the Yosys checks
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/ram/tdp_bram_dc_byte_en.sv
  sw/common/generate_dmem_bank_init.py
Due: verible-format, verible-lint

ci: drive the one-hot advance port in the PC unit benches
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
Due: verible-format, verible-lint

ci: stage the imem sim init at the full image depth
  hw/rtl/cpu_and_mem/imem_predecode.sv
Due: verible-format, verible-lint

Shorten X3 frontend paths without clock skew
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/imem_predecode_line.sv
  hw/sim/cpu_tb.sv
  sw/common/generate_imem_predecode_init.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/predecode/test_imem_predecode_line.py
Due: verible-format, verible-lint

Close X3 post-opt timing with fast fetch metadata
  README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/sim/cpu_tb.sv
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

Expand and rank X3 placement sweeps
  README.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

Snapshot SQ metadata timing candidate
  README.md
  formal/fu_cdb_adapter_payload_no_refill.sby
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/test_fu_cdb_adapter_payload_no_refill.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

Restructure frontend and queues for X3 timing
  README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/lib/ram/mwp_dist_ram.sv
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
  verif/cocotb_tests/predecode/test_imem_predecode_line.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

Decouple FP64 phase reset from LQ allocation search
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

Fix simulation checks for reset and shifted BTB keys
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
Due: verible-format, verible-lint

Centralize hardware defaults and recalibrate CoreMark-PRO
  fpga/README.md
  fpga/common/hw_defaults.py
  fpga/hw_regression.py
  fpga/sweep_coremark_pro.py
  sw/apps/software_registry.py
Due: none

Sweep formatter drift from RTL, test, and formal files
  formal/fu_cdb_adapter_payload_no_refill.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/cdb_arbiter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/rs_issue2_selector.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/sim/cpu_tb.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/test_fu_cdb_adapter_payload_no_refill.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/test_rs_issue2_selector.py
Due: verible-format, verible-lint

Cut routing demand in the X3 backend congestion band
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/lib/ram/mwp_dist_ram.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
Due: verible-format, verible-lint

Select X3 placement seeds by routability, not placed WNS
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

update x3 and genesys2 hw stats
  README.md
Due: none

Restore yosys-parseable function style in imem_predecode
  hw/rtl/cpu_and_mem/imem_predecode.sv
Due: verible-format, verible-lint

Assert SQ emptiness against the model oracle in the live-count test
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: none

fix: keep the RAS in sync between the front end and commit-time recovery
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/recovery/ex_comb_synthesizer.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/return_address_stack.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  verif/cocotb_tests/cpu_ooo/recovery/test_ex_comb_synthesizer.py
  verif/cocotb_tests/if_stage/branch_prediction/test_return_address_stack.py
Due: verible-format, verible-lint

fix: scale the SQ forwarding winner tree with DEPTH
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
Due: verible-format, verible-lint

fix: repoint dead debug taps in the real-program harness
  verif/cocotb_tests/test_real_program.py
Due: none

chore: drop dead nets, ports and unreachable code
  boards/x3/constr/x3.xdc
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_c_ext_state.py
  verif/cocotb_tests/if_stage/test_control_flow_tracker.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/monitors/__init__.py
Due: verible-format, verible-lint

timing: restore the LQ i_adapter_result_pending pair (x3 post-opt WNS -0.073 -> +0.082)
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
Due: verible-format, verible-lint

linux: retire the ret_from_exception restore-window kernel patch
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/patch_linux_image.py
  linux/buildroot-external/board/frost/post-image.sh
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_linux_image.py
  sw/apps/restore_window_stress/Makefile
  sw/apps/restore_window_stress/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

docs: add ROADMAP.md (RV64 -> memory-level parallelism -> Sv39 MMU Linux -> I/O)
  README.md
  ROADMAP.md
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

