Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

Complete the DMA front-end's response-bus assertion
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_dma_front.sv
Due: verible-format, verible-lint

Check the RX buffer's read-during-write argument in simulation
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_rx.sv
  tests/net10g/README.md
  tests/net10g/synthesize.py
Due: verible-format, verible-lint

Extend the branch-resolution side-RAM oracle to JALR
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
Due: verible-format, verible-lint

Cover AMO_COMPUTE in the load queue's retained-index tripwire
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

tomasulo: check the SC completion handoff instead of arguing it
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

Prove the branch-payload side RAM's ROB tag ownership in the wrapper
  formal/README.md
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

Prove and exercise the shipped INT reservation station configuration
  formal/README.md
  formal/reservation_station.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  tests/README.md
  tests/test_run_cocotb.py
  tests/test_run_formal.py
Due: verible-format, verible-lint

net10g: drop the inert --assert from the standalone suite
  tests/net10g/Makefile
Due: none

fpga: remove the post-opt netlist repair helpers
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/l1_control_repair.tcl
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_fpga_build.py
  tests/test_l1_control_repair.py
  tests/test_x3_flush_guidance.py
  tests/test_x3_nic_placement.py
Due: none

tomasulo: keep an older store fault that arrives under a partial flush
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

tests: drop the redundant --assert from the cocotb registry
  tests/README.md
  tests/test_run_cocotb.py
Due: none

Integrate fresh X3 placement repairs and a native setup gate
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/x3_pd_target_pin_swaps.tcl
  fpga/build/x3_post_place_gate.tcl
  fpga/build/x3_post_place_timing.md
  tests/test_fpga_build.py
  tests/test_x3_pd_target_pin_swaps.py
  tests/test_x3_post_place_gate.py
Due: none

Leave nic_echo out of the hardware regression until a transceiver exists
  fpga/README.md
  fpga/hw_regression.py
  tests/test_hw_regression_linux_stage.py
Due: none

Stage normal AMO arithmetic after response capture
  formal/README.md
  formal/load_queue_amo_compute.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

tests: repair the three CI failures the coherent DMA port left behind
  hw/sim/cpu_tb.sv
  sw/apps/debug_target/main.c
  sw/apps/debug_target/target.S
  sw/apps/plic_test/main.c
  verif/cocotb_tests/debug/test_debug.py
Due: clang-tidy, verible-format, verible-lint

nic: echo program, timing fixes and the constraint block
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  fpga/load_software/load_software.py
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_desc_fetch.sv
  hw/rtl/peripherals/nic/nic_domain_reset.sv
  hw/rtl/peripherals/nic/nic_mac_wrap.sv
  hw/rtl/peripherals/nic/nic_rx_engine.sv
  hw/rtl/peripherals/nic/nic_tx_engine.sv
  linux/buildroot-external/board/frost/frost,net10g.yaml
  sw/README.md
  sw/apps/nic_echo/Makefile
  sw/apps/nic_echo/main.c
  sw/apps/nic_loopback/main.c
  sw/lib/include/nic.h
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

Feed the PD instruction fields from standalone RVC cofactors
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
Due: verible-format, verible-lint

nic: add the clock-crossing library, the reset handshake and the interrupt block
  formal/async_fifo.sby
  hw/rtl/README.md
  hw/rtl/lib/cdc/cdc.f
  hw/rtl/lib/cdc/cdc_gray_count.sv
  hw/rtl/lib/cdc/cdc_reset_sync.sv
  hw/rtl/lib/cdc/cdc_sync.sv
  hw/rtl/lib/fifo/async_fifo.sv
  hw/rtl/lib/fifo/fifo.f
  hw/rtl/lib/lib.f
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_domain_reset.sv
  hw/rtl/peripherals/nic/nic_irq.sv
  hw/rtl/peripherals/nic/nic_pkg.sv
  hw/rtl/peripherals/nic/nic_reset_ctrl.sv
  hw/rtl/peripherals/nic/nic_reset_test_harness.sv
  tests/Makefile
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/lib/__init__.py
  verif/cocotb_tests/lib/test_async_fifo.py
  verif/cocotb_tests/lib/test_cdc_gray_count.py
  verif/cocotb_tests/nic/__init__.py
  verif/cocotb_tests/nic/test_nic_irq.py
  verif/cocotb_tests/nic/test_nic_reset.py
Due: verible-format, verible-lint

fpga: use ordinary X3 replication with soft NIC fences
  fpga/README.md
  fpga/build/build_step.tcl
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_rx.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

Document X3 timing handoff
  TIMING_HANDOFF_2026-09-12.md
  fpga/build/x3_post_place_timing.md
Due: none

tests: include the NIC in Yosys synthesis checks
  tests/README.md
  tests/test_run_yosys.py
Due: none

Register the reservation station's tag-indexed formal tasks
  tests/test_run_formal.py
Due: none

Guard L1 replacement pin controls and packing groups
  fpga/build/l1_control_repair.md
  fpga/build/l1_control_repair.tcl
  tests/test_l1_control_repair.py
Due: none

Mark flush guidance as a retired diagnostic experiment
  fpga/build/x3_flush_guidance.md
Due: none

nic: put the NIC on the SoC, the X3 top and the software side
  boards/x3/constr/x3.xdc
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  fpga/load_software/load_software.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/plic.sv
  hw/rtl/frost.f
  hw/rtl/frost.sv
  hw/rtl/net10g/net10g.f
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_dma_front.sv
  hw/rtl/peripherals/nic/nic_rx_engine.sv
  hw/rtl/peripherals/nic/nic_tx_engine.sv
  linux/buildroot-external/board/frost/frost,net10g.yaml
  linux/buildroot-external/board/frost/frost_boot_image.py
  sw/apps/nic_loopback/Makefile
  sw/apps/nic_loopback/main.c
  sw/apps/plic_test/main.c
  tests/Makefile
  tests/test_linux_packaging.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/dma_model.py
  verif/cocotb_tests/nic/test_nic_dma_front.py
  verif/cocotb_tests/nic/test_nic_rx_engine.py
  verif/cocotb_tests/nic/test_nic_tx_engine.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

Annotate X3 copy guard test parameters
  tests/test_x3_nic_placement.py
Due: none

Preselect performance CSR half with commit payload capture
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/sim/perf_csr_half_test_harness.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_csr_half.py
Due: verible-format, verible-lint

Clarify diagnostic-only pin refinement documentation
  fpga/README.md
  fpga/build/x3_pd_target_pin_swaps.tcl
Due: none

Use the existing RVC bit-20 cofactor in slot-one predecode
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

sw: declare every MMIO anchor volatile
  sw/lib/include/mmio.h
Due: clang-tidy

Divide and take square roots on one iterative FP datapath
  formal/fp_div_shim.sby
  formal/tomasulo_wrapper.sby
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_div_sqrt_iter.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu.f
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu_div_sqrt_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fu_shims.f
  hw/sim/fp_div_sqrt_equiv_harness.sv
  hw/sim/fp_divider.sv
  hw/sim/fp_sqrt.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/ex_stage/test_fp_div_sqrt_equiv.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_div_shim.py
Due: verible-format, verible-lint

Compare pending SC lines before selecting the head
  formal/README.md
  formal/sc_head_query.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/coherence/lq_coherence_port.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

Clarify thresholded congestion reporting
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
Due: none

rs: keep the INT station's branch words in a tag-indexed side RAM
  formal/alu_shift_hint.sv
  formal/reservation_station.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/branch_target_precompute.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
  verif/cocotb_tests/tomasulo/fu_shims/fp_add_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/int_alu_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_interface.py
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/reservation_station/test_reservation_station.py
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

