Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

verif: fix four unit benches' rv32-era width expectations
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/cpu_ooo/commit/test_commit_actions.py
  verif/cocotb_tests/ex_stage/test_branch_jump_unit.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
Due: none

sw: port the six remaining pre-twin apps to rv64
  sw/apps/linux_clksrc_faithful/main.c
  sw/apps/linux_irq_find_next_slot_test/main.c
  sw/apps/mret_drain_deadlock/main.c
  sw/apps/mret_timer_resume_test/main.c
  sw/apps/smc_fencei_test/main.c
  sw/apps/wfi_drain_mepc_test/main.c
Due: clang-tidy

sw: fix rv64 address-width defects across the ddr-lane apps
  sw/apps/branch_pred_test/branch_pred_test.S
  sw/apps/c_ext_test/c_ext_test.S
  sw/apps/cf_ext_test/cf_ext_test.S
  sw/apps/fetch_stall_repro/fetch_stall_repro.S
  sw/apps/fpu_assembly_test/fpu_assembly_test.S
  sw/apps/irq_mie_window/main.c
  sw/apps/mret_timer_resume_test/main.c
  sw/apps/mtimer_stress/main.c
  sw/apps/restore_window_stress/main.c
  sw/apps/umode_test/main.c
  sw/apps/wfi_drain_mepc_test/main.c
  sw/apps/wfi_lost_tick/main.c
  sw/apps/wfi_mepc_test/main.c
Due: clang-tidy

sim: make hang_triage pacing reachable from the Verilator top
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
Due: verible-format, verible-lint

cpu: hold MMIO loads until committed MMIO stores drain
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/apps/clint_test/main.c
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: clang-tidy, verible-format, verible-lint

tests: give restore_window_stress a ddr-axis cycle budget
  verif/cocotb_tests/test_real_program.py
Due: none

fpga: tolerate placement replica churn in PC-tail audit
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

cpu: reuse committed-store drain gate for MMIO loads
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

cpu: isolate stored MMIO loads to head selector
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

cpu: isolate MMIO drain gate at final effects
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

cpu: restore prior MMIO selector shape
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

cpu: fence MMIO drain at device read pulse
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/frost.sv
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: verible-format, verible-lint

cpu: fence device reads at router acceptance
  formal/data_mem_request_router.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/lq_model.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

cpu: MMIO router staging, PC-metadata widening, PD redirect retiming
  README.md
  docs/rv64/phase1_plan.md
  docs/rv64/xlen_audit.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_target_candidate.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/frost.sv
  hw/sim/cpu_tb.sv
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
  verif/cocotb_tests/tomasulo/load_queue/lq_interface.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

cpu: revert the two PD redirect retimings to the qualified placement baseline
  docs/rv64/xlen_audit.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
Due: verible-format, verible-lint

cpu: shield device reads from interrupt-induced re-execution
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: verible-format, verible-lint

cpu: commit the stored is_compressed bit for branches
  docs/rv64/xlen_audit.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

cpu: register the divider credit gate
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
Due: verible-format, verible-lint

cpu: anchor a local CDB tag copy at every reservation station
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

fpga: pin the fetch cluster and promote the u0.425 guided seed
  README.md
  boards/x3/constr/x3.xdc
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

verif: window-skip repro v2 (fidelity variants) + fuzz LFSR seed param
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  sw/apps/window_skip_repro/Makefile
  sw/apps/window_skip_repro/window_skip_repro.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

debug: on-silicon window-skip triage capture (Genesys2-only)
  boards/genesys2/genesys2_frost.sv
  boards/xilinx_frost_subsystem.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/window_skip_triage.sv
  hw/rtl/frost.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

sw: give branch_pred_test 44 the full-width reciprocal divide
  sw/apps/branch_pred_test/branch_pred_test.S
Due: none

debug: arm the boot-hang classifier beside the window-skip triage on Genesys2
  boards/genesys2/genesys2_frost.sv
Due: verible-format, verible-lint

update genesys2 hardware stats
  README.md
Due: none

fpga: guide compressed PC tails during X3 placement
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

fpga: recover X3 post-place timing
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

docs: mark the reserved instr_op_e ordinals as a standing constraint
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint

debug: remove the window-skip and hang-triage instrumentation
  boards/genesys2/genesys2_frost.sv
  boards/xilinx_frost_subsystem.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/window_skip_triage.sv
  hw/rtl/frost.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

fix: extend the served-window guard to the low-BRAM region
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint

verif: command-line-injectable fuzz seed + hw-faithful CoreMark-PRO sim mode
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  sw/apps/compile_app.py
Due: verible-format, verible-lint

verif: size the fuzz-seed parameter default to the full parameter width
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

