Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


coremark: build the published PGO configuration by default
  docs/single_core_performance.md
  scripts/coremark_sweep.py
  sw/apps/coremark/Makefile
  sw/apps/coremark/iss/README.md
Due: none

docs: update the CoreMark rate to 3.94 CoreMark/MHz
  README.md
  ROADMAP.md
  docs/single_core_performance.md
Due: none

fpga: leave the profiling counters out at every clock unless asked
  docs/single_core_performance.md
  fpga/README.md
  fpga/build/build.py
  fpga/hw_regression.py
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
Due: none

linux_boot: build the boot shim with a compiler that exists
  sw/apps/linux_boot/Makefile
Due: none

return address stack: apply IF's push and pop a cycle after PD takes the packet
  formal/README.md
  formal/ras_checkpoint.sby
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/return_address_stack.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_return_address_stack.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

reorder buffer: apply the replay flag's commit clear after the allocation select
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

reorder buffer: take the branch commit strobes from the stored done bit
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

load queue: enable the AMO payload snapshots without the L0 lookup
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

front end: apply the fetch translation hold's PC compare last in the stall
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
Due: verible-format, verible-lint

branch prediction: select slot 2's target halfword bit after the typed targets
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
Due: verible-format, verible-lint

dtlb: select the lowest matching entry one-hot before the output mux
  formal/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/dtlb.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

fp_mul_shim: present the completion tag without the valid qualifier
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
Due: verible-format, verible-lint

dtlb, dmmu: form the data MMU's leaf checks per entry before the select
  formal/README.md
  formal/dmmu_mmio.sby
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/mmu/dtlb.sv
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

reservation_station: select the issued entry's bypass flags one-hot
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
Due: verible-format, verible-lint

pc_controller: select the pending arms' fetch-PC data flat over the compares
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

pc_controller: cofactor the pending-prediction valid bit on the prediction flag
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

reorder buffer: form the allocation enables from a kept occupancy-and-flush gate
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

reorder buffer: apply the valid bit's commit clear after the allocation select
  formal/README.md
  formal/rob_control_next.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

dispatch: tie off done-repair channel 6
  formal/README.md
  formal/instr_operand_classifier_equiv.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

fpu: iterative FP engine for every F and D compute instruction
  .pre-commit-config.yaml
  Dockerfile
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_engine.sv
  hw/sim/fp_engine_equiv_harness.sv
  hw/sim/fp_softfloat_ref.c
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/ex_stage/test_fp_engine.py
Due: clang-tidy, verible-format, verible-lint

sw: drop the FMUL and FDIV station counters from the profile report
  sw/lib/include/tomasulo_profile.h
Due: clang-tidy

divider: one iterative divider for every integer DIV and REM
  ROADMAP.md
  docs/single_core_performance.md
  formal/README.md
  formal/divider.sby
  formal/divider_prefix.sby
  formal/rs_divide_gate.sby
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.f
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/divider.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/cdb_arbiter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fu_shims.f
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/apps/lq_stale_slot_probe/iter.S
  sw/apps/window_skip_repro/window_skip_repro.S
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/ex_stage/test_divider.py
  verif/cocotb_tests/tomasulo/fu_shims/int_muldiv_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

yosys: map distributed ROMs to logic in the UltraScale+ synthesis check
  tests/test_run_yosys.py
Due: none

cocotb: give coremark_pro_loops a 30M-cycle budget
  tests/README.md
  verif/cocotb_tests/test_real_program.py
Due: none

rtl: close X3 post-opt setup timing without extra cycles
  formal/README.md
  formal/mul_adapter_grant.sby
  formal/mul_adapter_grant.sv
  formal/pc_pending_capture.sby
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

fpga: remove X3 NIC placement fences
  boards/x3/constr/x3.xdc
  fpga/README.md
  tests/test_fpga_build.py
Due: none

rtl: reduce X3 fetch and completion control fanout
  formal/README.md
  formal/fetch_shadow_capture.sby
  formal/mul_adapter_grant.sby
  formal/mul_adapter_grant.sv
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/coherence/lq_coherence_port.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

rtl: hold only a 128 KiB code region in the low-BRAM instruction copy
  formal/README.md
  formal/immu_bare_formal.sv
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/immu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  linux/README.md
  sw/README.md
  sw/apps/pma_fault_test/main.c
  sw/common/common.mk
  sw/common/generate_imem_predecode_init.py
  sw/common/link.ld
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/test_immu.py
  verif/cocotb_tests/predecode/test_imem_predecode_capacity.py
Due: clang-tidy, verible-format, verible-lint

rtl: take the dispatch pop off the decoded queue's row writes and head data
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/decoded_bundle_queue.sv
Due: verible-format, verible-lint

rtl: give far consumers their own copies of SC-completion valid and SQ committed-empty
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

rtl: give each store-check address copy its own capture enable
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
Due: verible-format, verible-lint

rtl: install fetch-provider slot lines one word at a time
  formal/README.md
  hw/rtl/cpu_and_mem/fetch_provider.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

rtl: build RAT rename writes from early candidates and apply the fire last
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

rtl: multiply the raw operands and correct the signed product's upper half
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/multiplier.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
Due: verible-format, verible-lint

rtl: drive the cache data arrays' XPM write enable high
  hw/rtl/lib/ram/sdp_ram_byte_en.sv
Due: verible-format, verible-lint

rtl: load the DMMU skid payload on every cycle the skid is empty
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  verif/cocotb_tests/test_dmmu.py
Due: verible-format, verible-lint

fpga: accept PC-tail registers that placement merges into their replicas
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

rtl: give the checkpoint restore logic its own copy of the full-flush kill
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
Due: verible-format, verible-lint

rtl: register the fetch provider's next-line address with the ask
  hw/rtl/cpu_and_mem/fetch_provider.sv
Due: verible-format, verible-lint
