Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


imem_predecode: drop the high-parcel rd==x2 lane
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
  sw/common/generate_imem_predecode_init.py
  tests/test_fpga_build.py
  verif/cocotb_tests/predecode/test_imem_predecode_capacity.py
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: verible-format, verible-lint

tests: check imem_predecode's memories against the generator's images
  verif/cocotb_tests/predecode/test_imem_predecode_fast_replica.py
Due: none

if_stage: remove dead PC inputs, verdict exports and corrections
  formal/prediction_release_formal.sv
  formal/prediction_release_pc_increment.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

if_stage: remove c_ext_state's constant buffer-release path
  formal/prediction_release_formal.sv
  formal/prediction_release_pc_increment.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_extension.f
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/served_window_coverage.sv
  tests/test_run_formal.py
  verif/cocotb_tests/if_stage/test_c_ext_state.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

id_stage: decode only 0x0100000F as PAUSE and run it through INT_RS
  formal/instr_operand_classifier_equiv.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_operand_classifier.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  sw/README.md
  sw/apps/pause_test/Makefile
  sw/apps/pause_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
Due: clang-tidy, verible-format, verible-lint

id_stage: give a fetch fault no integer rs1 source
  formal/instr_operand_classifier_equiv.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_operand_classifier.sv
  verif/cocotb_tests/id_stage/test_id_stage.py
Due: verible-format, verible-lint

id_stage: keep a slot-2 fetch fault whose bytes decode as a NOP
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  sw/README.md
  sw/apps/slot2_fault_test/Makefile
  sw/apps/slot2_fault_test/main.c
  sw/apps/slot2_fault_test/pages.S
  tests/test_run_cocotb.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
Due: clang-tidy, verible-format, verible-lint

id_stage: decode F/D instructions as illegal while mstatus.FS is Off
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_operand_classifier.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  sw/README.md
  sw/apps/fs_off_test/Makefile
  sw/apps/fs_off_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

tests: describe the PAUSE look-alike FENCE words accurately
  sw/apps/pause_test/main.c
  verif/cocotb_tests/id_stage/test_id_stage.py
Due: clang-tidy

cpu_ooo: say that only FS=Off transitions ride the translation-CSR flush
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
Due: verible-format, verible-lint

tests: model RV64 ops and ID's neutral class in the dispatch bench
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
Due: none

id_stage: drop packet fields and register reads that nothing uses after ID
  formal/instr_operand_classifier_equiv.sv
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/decoded_bundle_queue.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/register_files/ooo_register_files.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/branch_target_precompute.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/wb_stage/generic_regfile.sv
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/test_helpers.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
  verif/config.py
Due: verible-format, verible-lint

instr_decoder: describe PACK by its XLEN/2-bit halves
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
Due: verible-format, verible-lint

instr_operand_classifier: say whose INT_RS entry the neutral class frees
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_operand_classifier.sv
Due: verible-format, verible-lint

tests: drop unused width constants from the frontend tracker bench
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
Due: none

dispatch: say why an illegal op keeps is_fp_load
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
Due: verible-format, verible-lint

sw: check that the FENCE words next to PAUSE drain stores in pause_test
  sw/README.md
  sw/apps/pause_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

tests: check that an FS=Off bubble decodes as the same NOP in ID
  verif/cocotb_tests/id_stage/test_id_stage.py
Due: none

sw: cover sstatus FS writes and bound the RX wait in fs_off_test
  sw/README.md
  sw/apps/fs_off_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

cpu_ooo: give ID a registered copy of mstatus.FS==Off
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
Due: verible-format, verible-lint

sw: tomasulo_perf: point the FP out-of-order comparison at FMUL
  sw/apps/tomasulo_perf/tomasulo_perf.c
Due: clang-tidy

docs: say tomasulo_perf also checks the reserved counters
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  sw/README.md
  tests/test_run_cocotb.py
Due: none

tests: store_queue: cover slot-2 commits in flush and forwarding cycles
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: none

store_queue: say the flush's commit guard is a safety net
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
Due: none

tomasulo: declare LQ and SQ signals before their first use
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

tests: register_alias_table: cover the second checkpoint-free port
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/register_alias_table/test_register_alias_table.py
Due: none

tests: store_queue: tighten the head-advance and random tests
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
  verif/cocotb_tests/tomasulo/store_queue/sq_model.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: none

perf: reserve head-load counters 89, 91 and 104
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/perf/tomasulo_perf_counters.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/README.md
  sw/apps/tomasulo_perf/tomasulo_perf.c
  sw/lib/include/tomasulo_profile.h
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

sq: remove unused input ports
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
Due: verible-format, verible-lint

tomasulo_wrapper: delete the unused MmioBase localparams
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

load_queue: fix the bus-blocked comment and list the owner check
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

sc_pending_unit: size the SC table from SqDepth and check allocation
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

tests: load_queue: check L0 hits, bound the head-AMO wait, cover forwarding
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  tests/README.md
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
Due: none

sq: declare f_valid_count before use and restate a flush-overlap error
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

sw: tomasulo_perf: align the Bench 7 and Bench 14 loops
  sw/apps/tomasulo_perf/tomasulo_perf.c
Due: clang-tidy

tests: data_mem_response_mux: rename the seam identifiers
  hw/sim/data_mem_response_mux_tb.sv
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_response_mux.py
Due: verible-format, verible-lint

tests: make the router's blocker-after-arming test reach the armed state
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: none

sw: put pma_fault_test's DDR word in .ddr_data
  sw/apps/pma_fault_test/main.c
Due: clang-tidy

cpu: fault AMO, LR and SC to the device quadrant
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/mmu/dmmu.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  linux/README.md
  sw/README.md
  sw/apps/pma_fault_test/main.c
  sw/apps/vm_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_dmmu.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: clang-tidy, verible-format, verible-lint

cpu: drop the AMO write's MMIO flag
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/sim/data_mem_response_mux_tb.sv
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: verible-format, verible-lint
