Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


sw(coremark-pro): record -O3 hardware calibration; raise score baselines
  fpga/hw_regression.py
  sw/apps/software_registry.py
Due: none

update hw util stats
  README.md
Due: none

rv64(M3.1): full RV64 integer/B-extension decode + 64-bit ALU; rv64 riscv-tests green
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/rv64_known_widths.vlt
  sw/apps/riscv_tests/Makefile
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/config.py
  verif/models/alu_model.py
  verif/utils/riscv_utils.py
Due: verible-format, verible-lint

rv64(M3.2): D7 multiplier rebuild + D8 divider W-forms; rv64um green
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/multiplier.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/dsp_tiled_multiplier_unsigned.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_muldiv_shim.sv
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
  verif/models/alu_model.py
Due: verible-format, verible-lint

rv64(M3.3): RV64A with 8-byte reservation granule; rv64ua green
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_riscv_tests.py
  verif/cocotb_tests/id_stage/test_id_stage.py
Due: verible-format, verible-lint

rv64(M3.4): F/D convert surface with runtime W/L width; rv64uf/ud green
  docs/rv64/phase1_plan.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu_compare_unit.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_add_shim.sv
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
Due: verible-format, verible-lint

rv64(M3 close-out): parse-driven bench enums, probe plumbing, waiver prune
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/rv64_known_widths.vlt
  tests/test_run_yosys.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/config.py
  verif/models/alu_model.py
Due: none

rv64(M4.1): RV64C table recode across the seven predecode/decode sites
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/ras_detector.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  sw/common/generate_imem_predecode_init.py
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_ras_detector.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
Due: verible-format, verible-lint

fix(rv64): arch-test DDR tier links at lp64 — literal-pool crt0 + medany
  sw/apps/arch_test/Makefile
  sw/apps/arch_test/crt0_arch_test.S
Due: none

rv64(M5.1): CSR width surface — misa/mstatus64, 64-bit counters, *h illegal
  .github/workflows/ci.yml
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  tests/test_riscv_tests.py
Due: verible-format, verible-lint

fix(rv64): riscv-tests DDR boot stub at lp64; jump-test reference provenance
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  sw/apps/arch_test/references/rv64i_m/I/jal-01.reference_output
  sw/apps/arch_test/references/rv64i_m/I/jalr-01.reference_output
  sw/apps/riscv_tests/Makefile
  sw/apps/riscv_tests/crt0_riscv_tests_ddr.S
Due: verible-format, verible-lint

tests: track the FROST_RV64 axis in the Verilator rebuild marker
  tests/test_run_cocotb.py
Due: none

arch_test: build the compressible misalign trap tests without C
  sw/apps/arch_test/Makefile
  sw/apps/arch_test/generate_references.py
  sw/apps/arch_test/references/rv32i_m/privilege/misalign-lw-01.reference_output
  sw/apps/arch_test/references/rv32i_m/privilege/misalign-sw-01.reference_output
  sw/apps/arch_test/references/rv64i_m/privilege/misalign-ld-01.reference_output
  sw/apps/arch_test/references/rv64i_m/privilege/misalign-sd-01.reference_output
  sw/apps/arch_test/references/rv64i_m/privilege/misalign-sw-01.reference_output
Due: none

rv64(M5.2): D15 mstatus.FS + read-only-CSR-write traps; csr un-skipped
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_riscv_tests.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
Due: verible-format, verible-lint

sw(M5): XLEN-clean lib headers; rv64 default-app link and boot fixes
  sw/common/common.mk
  sw/common/crt0.S
  sw/lib/include/csr.h
  sw/lib/include/limits.h
  sw/lib/include/trap.h
Due: clang-tidy

tests: run the torture apps in CI as pinned sim-scale variants
  sw/apps/tick_torture/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

rv64(M5 close-out): formal both-XLEN axis, FS properties, gate greens
  docs/rv64/phase1_plan.md
  formal/csr_file.sby
  formal/trap_unit.sby
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/rv64_known_widths.vlt
  sw/apps/umode_test/main.c
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/test_directed_traps.py
Due: clang-tidy, verible-format, verible-lint

verif: align the two remaining alloc-struct mirrors (CI unit reds)
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
  verif/cocotb_tests/cpu_ooo/pipeline_control/test_ooo_pipeline_control.py
Due: none

rv64(M6): program suite — coremark lp64d, c_ext rv64 body, defsym axis
  sw/apps/c_ext_test/c_ext_test.S
  sw/apps/coremark/Makefile
  sw/common/standalone_asm.mk
  tests/test_run_cocotb.py
Due: none

rv64(M6): fix LR.D/SC.D misrouting; add the AMO.D directed test
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  sw/apps/rv64_amo_test/Makefile
  sw/apps/rv64_amo_test/rv64_amo_test.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

rv64(M6): isa_test expectations fork — 16/16 extensions at both XLENs
  sw/apps/isa_test/isa_test.c
  tests/test_run_cocotb.py
Due: clang-tidy

rv64(M7): stage 1 — the rv64 no-MMU Linux lane builds and boots QEMU userspace
  .github/workflows/ci.yml
  .gitignore
  linux/README.md
  linux/buildroot-external/README.md
  linux/buildroot-external/board/frost/build_fpga_boot.py
  linux/buildroot-external/board/frost/linux-nommu-base-rv64.config
  linux/buildroot-external/board/frost/linux-nommu-frost.config.fragment
  linux/buildroot-external/board/frost/patch_linux_image.py
  linux/buildroot-external/board/frost/post-image.sh
  linux/buildroot-external/configs/frost_nommu_rv64_defconfig
  linux/buildroot-external/package/frost-stress/src/frost_stress.c
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_linux_image.py
Due: clang-tidy

tests: fix the torture timeout unit test's monkeypatch arity
  tests/test_runner_helpers.py
Due: none

rv64(M7): stage 2 — the rv64 kernel boots on the RTL; stress + CI lane
  .github/workflows/ci.yml
  linux/buildroot-external/README.md
  sw/apps/linux_boot/Makefile
  sw/apps/restore_window_stress/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

fpga: let FROST_RV64 reach the baked software/predecode image build
  fpga/build/build.py
Due: none

verif: directed sim coverage for the JTAG/port-A image-reload path
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_bram_reload.py
Due: none

sw: make the full hw_regression app suite compile at rv64
  sw/apps/amo_irq_torture/main.c
  sw/apps/cf_ext_test/cf_ext_test.S
  sw/apps/coremark_pro/Makefile
  sw/apps/coremark_pro/crt0_coremark_pro.S
  sw/apps/ddr_atomic_test/main.c
  sw/common/crt0_ddr_boot.S
  sw/common/link_ddr.ld
  sw/lib/src/memory.c
Due: clang-tidy

verif: add the cached-DDR cold-vs-warm read divergence probe
  sw/apps/mem_divergence_probe/Makefile
  sw/apps/mem_divergence_probe/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

tests: generate FROST_RV64 twins for every real-program registry entry
  tests/test_run_cocotb.py
Due: none

sw: fix every rv64 hardware-regression failure (33/35 on X3 silicon)
  fpga/hw_regression.py
  sw/apps/branch_pred_test/branch_pred_test.S
  sw/apps/linux_irq_active_ddr_test/main.c
  sw/apps/linux_irq_ddr_test/main.c
  sw/apps/linux_irq_stack_slot_test/main.c
  sw/apps/memory_test/memory_test.c
  sw/apps/pde_return_hazard/main.c
  sw/apps/strings_test/strings_test.c
  sw/apps/tick_torture/main.c
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

sw: port the FreeRTOS demo to rv64, retiring the D13 deferral
  docs/rv64/phase1_plan.md
  sw/apps/freertos_demo/FreeRTOSConfig.h
  sw/apps/freertos_demo/port_frost.c
  sw/apps/freertos_demo/port_frost_asm.S
  sw/apps/freertos_demo/portmacro.h
  tests/test_run_cocotb.py
Due: clang-tidy

cpu: kill pending-saved prediction metadata with its pending fetch state
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  sw/apps/jal_target_seam/Makefile
  sw/apps/jal_target_seam/jal_target_seam.S
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

verif: env-gated DDR write-window and L0 hit-window watch instruments
  verif/cocotb_tests/test_real_program.py
Due: none

cpu: sign-extend the LR.W writeback at rv64
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  sw/apps/writecount_probe/Makefile
  sw/apps/writecount_probe/writecount_probe.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

sw: make the two directed repro apps bram-clean and re-runnable
  sw/apps/jal_target_seam/jal_target_seam.S
  sw/apps/writecount_probe/writecount_probe.S
Due: none

docs: record the measured CoreMark lp64 gap decomposition
  docs/rv64/coremark_lp64_gap.md
  fpga/hw_regression.py
Due: none

timing: let the top broadcast registers replicate per consumer region
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/lib/ram/mwp_dist_ram.sv
Due: verible-format, verible-lint
