Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

Fix the reorder_buffer BMC timeout in CI
  formal/reorder_buffer.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

Add the line-port arbiter and single-source predecode (I-cache Phase 0)
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/imem_predecode.sv
  hw/rtl/cpu_and_mem/imem_predecode_line.sv
  hw/rtl/lib/cache/cache.f
  hw/rtl/lib/cache/line_port_arbiter.sv
  hw/rtl/lib/cache/line_port_arbiter_test_harness.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_line_port_arbiter.py
  verif/cocotb_tests/predecode/__init__.py
  verif/cocotb_tests/predecode/test_imem_predecode_line.py
Due: verible-format, verible-lint

Decode RVC rd=0 HINT encodings as nops, not illegal
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/rvc_decompressor.sv
  verif/cocotb_tests/if_stage/test_rvc_decompressor.py
Due: verible-format, verible-lint

Add a DDR memory tier to the riscv-torture CI suite
  .github/workflows/ci.yml
  sw/apps/riscv_torture/Makefile
  sw/apps/riscv_torture/crt0_torture_ddr.S
  sw/apps/riscv_torture/link_riscv_torture_ddr.ld
  tests/test_riscv_torture.py
Due: none

further timing and CI fixes for I-cache
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
Due: verible-format, verible-lint

Recover X3 post-opt timing after the L1I integration
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/lib/cache/frost_cache.sv
Due: verible-format, verible-lint

Improve X3 post-opt timing
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
Due: verible-format, verible-lint

Remaining CI fixes for programs running out of DDR
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  sw/apps/arch_test/crt0_arch_test_bram.S
Due: verible-format, verible-lint

further timing fixes and script cleanup
  README.md
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  fpga/sweep_coremark_pro.py
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/imem_predecode_line.sv
  sw/apps/cf_ext_test/Makefile
  sw/apps/fpu_assembly_test/Makefile
  sw/apps/software_registry.py
  sw/common/generate_imem_predecode_init.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
  verif/cocotb_tests/predecode/test_imem_predecode_line.py
Due: verible-format, verible-lint

Execute from DDR: L1I, arbiter wiring, fetch provider (I-cache Phase 2)
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  sw/apps/coremark_pro/Makefile
  sw/apps/ddr_exec_test/Makefile
  sw/apps/ddr_exec_test/ddr_exec_test.c
  sw/common/common.mk
  sw/common/link.ld
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: clang-tidy, verible-format, verible-lint

Make fence.i synchronize the cache hierarchy (I-cache Phase 3)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/rob_serializer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/lib/cache/frost_cache.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  sw/apps/ddr_smc_test/Makefile
  sw/apps/ddr_smc_test/ddr_smc_test.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_frost_cache.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

further timing and CI fixes for DDR I-cache
  README.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_result_assembler.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/if_stage/test_control_flow_tracker.py
Due: verible-format, verible-lint

Resurrect the arch compliance suite: real bodies, execute-from-DDR
  sw/apps/arch_test/Makefile
  sw/apps/arch_test/crt0_arch_test.S
  sw/apps/arch_test/generate_references.py
  sw/apps/arch_test/link_arch_test.ld
  sw/apps/arch_test/model_test.h
  tests/Makefile
  tests/test_arch_compliance.py
Due: clang-tidy

coremark pro finetune runtimes
  README.md
  sw/apps/software_registry.py
Due: none

improve timing on I-cache, and fix coremark pro loops
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: verible-format, verible-lint

more CI fixes for I-cache
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
Due: verible-format, verible-lint

Fix genesys2 mem_ok CDC false-path that selected nothing
  boards/genesys2/constr/genesys2.xdc
Due: none

recover coremark performance regression
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

Fix FMA directed-rounding +1 ULP via subtraction borrow propagation
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_fma.sv
Due: verible-format, verible-lint

Add a DDR memory tier to the riscv-tests CI suite
  .github/workflows/ci.yml
  sw/apps/riscv_tests/Makefile
  sw/apps/riscv_tests/Makefile.bench
  sw/apps/riscv_tests/crt0_riscv_tests_ddr.S
  sw/apps/riscv_tests/link_riscv_tests_ddr.ld
  tests/test_riscv_tests.py
Due: none

docs: cached tier is no longer data-only (I-cache + fence.i)
  hw/rtl/README.md
Due: none

Make arch signature extraction robust to interleaved cocotb logs
  tests/test_arch_compliance.py
Due: none

Hold the wrong-path-bubble override across L1I fetch misses
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint

Update performance metrics in README
  README.md
Due: none

docs: reflect M+U privilege model (U-mode addition)
  CONTRIBUTING.md
  README.md
  __init__.py
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/README.md
  sw/apps/freertos_demo/FreeRTOSConfig.h
  sw/lib/include/csr.h
  sw/lib/include/trap.h
  verif/README.md
Due: clang-tidy, verible-format, verible-lint

Fix interrupt mcause delivery and double trap-entry
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
Due: verible-format, verible-lint

Add RISC-V User mode (U-mode) to the core
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint

Trap CSR/MRET-from-U-mode as illegal instruction
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

Add U-mode directed test (umode_test)
  sw/apps/umode_test/Makefile
  sw/apps/umode_test/main.c
  tests/test_arch_compliance.py
  tests/test_run_cocotb.py
Due: clang-tidy

update csr_file misa to advertise C and D extension support
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
Due: verible-format, verible-lint

Add ns16550a UART face for the Linux console
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/ns16550_test/Makefile
  sw/apps/ns16550_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

Add SiFive CLINT alias for the Linux timer
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/clint_test/Makefile
  sw/apps/clint_test/main.c
  tests/test_run_cocotb.py
Due: clang-tidy, verible-format, verible-lint

docs: document the ns16550a UART face and CLINT alias
  hw/rtl/README.md
Due: none

Fix LR/SC store-conditional deadlock under speculation; boot nommu Linux to banner
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/apps/ddr_atomic_test/Makefile
  sw/apps/ddr_atomic_test/main.c
  sw/apps/linux_boot/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

Docs + CI for the LR/SC store-conditional fix
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  tests/README.md
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

nommu Linux: fix MRET->U-mode timer interrupt-resume-PC (0x80388bba panic)
  README.md
  fpga/load_software/file_to_ddr.tcl
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  handoff_linux_timer_irq_panic.md
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/commit_bus/commit_bus_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/apps/csr_rmw_test/Makefile
  sw/apps/csr_rmw_test/main.c
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_ret_from_exception.py
  sw/apps/linux_irq_active_ddr_test/Makefile
  sw/apps/linux_irq_active_ddr_test/main.c
  sw/apps/linux_irq_ddr_test/Makefile
  sw/apps/linux_irq_ddr_test/main.c
  sw/apps/linux_irq_find_next_slot_test/Makefile
  sw/apps/linux_irq_find_next_slot_test/main.c
  sw/apps/linux_irq_stack_slot_test/Makefile
  sw/apps/linux_irq_stack_slot_test/main.c
  sw/apps/mret_timer_resume_test/Makefile
  sw/apps/mret_timer_resume_test/main.c
  sw/apps/wfi_mepc_test/Makefile
  sw/apps/wfi_mepc_test/main.c
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/control/test_trap_unit.py
  verif/cocotb_tests/test_real_program.py
  verif/cocotb_tests/tomasulo/load_queue/test_load_queue.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: clang-tidy, verible-format, verible-lint

productionize 718f8cc bring-up changeset: drop debug harness, sync docs
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  verif/README.md
  verif/cocotb_tests/test_real_program.py
Due: verible-format, verible-lint

linux_boot: make ret_from_exception patch rebuild-robust
  sw/apps/linux_boot/Makefile
  sw/apps/linux_boot/patch_ret_from_exception.py
Due: none

handoff: nommu Linux boots to userspace; flaky M-mode timer race isolated
  handoff_linux_timer_irq_panic.md
Due: none

test: add mtimer_stress (M-mode timer+MRET deadlock stress, flaky-hang repro WIP)
  sw/apps/mtimer_stress/Makefile
  sw/apps/mtimer_stress/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

