Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$


formal: pin the ROB alloc-vs-CDB same-entry exclusion the staged LVT relies on
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
Due: verible-format, verible-lint

fix: RTL-exact RS slot-free timing in the tomasulo_wrapper random-test model
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_model.py
Due: none

docker: drop unpinned standalone ruff/mypy from the image — pre-commit's pins are the gate
  Dockerfile
Due: none

docs: fu_shims README caught up with the pipelined fp_mul_shim
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
Due: none

fix: give amo_irq_torture a real sim cycle budget — the "seeded hang" was a missing COCOTB_MAX_CYCLES
  sw/apps/tick_torture/main.c
  tests/test_run_cocotb.py
  verif/README.md
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

timing: four x3 post-opt cone fixes (x3 post-opt WNS -0.271 -> -0.233, TNS -94.4 -> -51.7)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing: complete the trap->SQ-forward cone fix via a flush-free capture enable
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/store_addr/sq_early_addr_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
Due: verible-format, verible-lint

fix: initialize staged-LVT state at declaration, not via an initial block
  hw/rtl/lib/ram/mwp_dist_ram.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
Due: verible-format, verible-lint

fix: model the RS dispatch-time CDB bypass in the tomasulo_wrapper random tests
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: none

update genesys2 hw stats
  README.md
  fpga/hw_regression.py
Due: none

fix: legalize the staged-LVT alloc-vs-stale-CDB collision — check the drain window instead
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/lib/ram/mwp_dist_ram.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
  tests/Makefile
Due: verible-format, verible-lint

update x3 hardware stats
  README.md
  fpga/hw_regression.py
Due: none

fix: isolate seed-sweep workers — shared results.xml and app-build races reported phantom failures
  tests/README.md
  tests/test_run_cocotb.py
Due: none

fix: shield AMOs from interrupt flush — orphaned cached AMO write (flaky linux_boot hang)
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

test: add direction predictor cocotb coverage
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_direction_predictor.py
Due: none

perf: pipeline the FP multiply/FMA path for 1-op/cycle throughput
  hw/rtl/cpu_and_mem/cpu/ex_stage/dsp_tiled_multiplier_unsigned.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_fma.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_multiplier.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu.f
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu_fma_unit.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu_mult_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/fu_shims/fp_mul_shim_interface.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
Due: verible-format, verible-lint

timing: keep-pin the two width-funnel sideband taps (x3 post-opt WNS -0.300 -> -0.175)
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
Due: verible-format, verible-lint

perf: extend 2-wide width-funnel counters (101 -> 106, CoreMark-measured)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/lib/include/tomasulo_profile.h
  verif/cocotb_tests/cpu_ooo/perf/test_perf_counter_aggregator.py
Due: clang-tidy, verible-format, verible-lint

rtl/sim: harden cached_tier_adapter, fix hang_triage TX byte drop, add DDR-latency jitter
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/hang_triage.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
Due: verible-format, verible-lint

test: amo_irq_torture + tick_torture directed apps for the AMO/IRQ race and CLINT re-arm
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  sw/apps/amo_irq_torture/Makefile
  sw/apps/amo_irq_torture/main.c
  sw/apps/tick_torture/Makefile
  sw/apps/tick_torture/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

verif: port directed_atomics + compressed to OOO commit-timed waits; OOO-aware regfile plumbing
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_common.py
  verif/cocotb_tests/test_compressed.py
  verif/cocotb_tests/test_directed_atomics.py
  verif/cocotb_tests/test_helpers.py
  verif/config.py
  verif/monitors/monitors.py
Due: none

test: cover branch controller direction metadata
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
Due: none

docs: catch READMEs/comments up with the AMO interrupt shield and new tests
  README.md
  fpga/hw_regression.py
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  sw/README.md
Due: verible-format, verible-lint

test: directed SQ commit-scan/full-flush race — capture-then-kill holds under index reuse
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: none

update genesys2 hardware stats
  README.md
  fpga/hw_regression.py
Due: none

timing: three x3 post-opt cone fixes (WNS -0.363 -> -0.300, TNS -156.0 -> -35.4)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/pipeline_control/ooo_pipeline_control.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/commit_bus/commit_bus_pipeline.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/lib/ram/mwp_dist_ram.sv
  hw/rtl/lib/ram/mwp_dist_ram_ohread.sv
  verif/cocotb_tests/tomasulo/store_queue/sq_interface.py
Due: verible-format, verible-lint

fix: stale-CDB escapes — MEM single-delivery + adapter grant-refill; pin the kill discipline
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_cdb_adapter/fu_cdb_adapter.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_div_shim.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/fu_cdb_adapter/test_fu_cdb_adapter.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

timing: registered flush snapshot for the FP shims + registered perf snapshot capture
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/perf_counter_aggregator.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/perf/tomasulo_perf_counters.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint
