Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

nic: add the register file, the MAC wrapper and the top
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_csr.sv
  hw/rtl/peripherals/nic/nic_irq.sv
  hw/rtl/peripherals/nic/nic_mac_wrap.sv
  hw/rtl/peripherals/nic/nic_pkg.sv
  hw/rtl/peripherals/nic/nic_top.sv
  sw/common/link.ld
  sw/common/link_ddr.ld
  sw/lib/include/mmio.h
  sw/lib/include/nic.h
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/test_nic_top.py
Due: clang-tidy, verible-format, verible-lint

docs: describe the current X3 MAC frame buffers
  boards/x3/x3_frost.sv
Due: verible-format, verible-lint

limit to 12 placer jobs at once
  README.md
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

linux: add the DMA test engine's window to the boot device tree
  linux/buildroot-external/board/frost/frost_boot_image.py
  tests/test_linux_packaging.py
Due: none

Overconstrain the phys-opt sweeps by 0.5 ns again
  fpga/README.md
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

Combine memory response selection at the CPU boundary
  formal/README.md
  formal/data_mem_response_mux.sby
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/data_mem_response_mux.sv
  hw/sim/data_mem_response_mux_lut_models.sv
  hw/sim/data_mem_response_mux_tb.sv
  tests/Makefile
  tests/README.md
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/memory/README.md
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_response_mux.py
Due: verible-format, verible-lint

Drive the kill path in the FP divide/sqrt equivalence bench
  hw/sim/fp_div_sqrt_equiv_harness.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/ex_stage/test_fp_div_sqrt_equiv.py
Due: verible-format, verible-lint

Bind X3 downstream checkpoints to qualified placement lineage
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

Select prediction validity by the live term last
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
Due: verible-format, verible-lint

nic: keep the NIC's mass out of the CPU's placement
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_rx.sv
  hw/rtl/net10g/eth10g_mac_tx.sv
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic_reset_ctrl.sv
  hw/rtl/peripherals/nic/nic_reset_test_harness.sv
  hw/rtl/peripherals/nic/nic_top.sv
  tests/test_fpga_build.py
Due: verible-format, verible-lint

Name the coherence line split once instead of per module
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/coherence/lq_coherence_port.sv
Due: verible-format, verible-lint

nic: add the DMA front-end, descriptor rings and the RX/TX engines
  hw/rtl/README.md
  hw/rtl/peripherals/nic/README.md
  hw/rtl/peripherals/nic/nic.f
  hw/rtl/peripherals/nic/nic_byte_pack.sv
  hw/rtl/peripherals/nic/nic_byte_unpack.sv
  hw/rtl/peripherals/nic/nic_desc_fetch.sv
  hw/rtl/peripherals/nic/nic_dma_front.sv
  hw/rtl/peripherals/nic/nic_pkg.sv
  hw/rtl/peripherals/nic/nic_rx_engine.sv
  hw/rtl/peripherals/nic/nic_tx_engine.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/nic/dma_model.py
  verif/cocotb_tests/nic/test_nic_byte_pack.py
  verif/cocotb_tests/nic/test_nic_byte_unpack.py
  verif/cocotb_tests/nic/test_nic_dma_front.py
  verif/cocotb_tests/nic/test_nic_rx_engine.py
  verif/cocotb_tests/nic/test_nic_tx_engine.py
Due: verible-format, verible-lint

docs: refresh X3 placement utilization for ordinary replication
  README.md
Due: none

docs: correct details left by the architecture refresh
  docs/diagrams/cache-hierarchy.svg
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  tests/README.md
  tests/test_arch_compliance.py
  tests/test_run_formal.py
Due: none

Keep production placement to one pass per candidate
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  fpga/build/x3_flush_guidance.tcl
  fpga/build/x3_pd_target_pin_swaps.tcl
  fpga/build/x3_post_place_timing.md
  tests/test_fpga_build.py
  tests/test_x3_pd_target_pin_swaps.py
Due: none

Preserve unchanged macro inputs through local net identities
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

tomasulo: let an SC fire without consulting the live store-fault decision
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/atomics/sc_pending_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: verible-format, verible-lint

Expand load queue allocation and status over the dispatch valids
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
Due: verible-format, verible-lint

Make perf_off_test loadable and record the netlist's counter option
  README.md
  fpga/README.md
  fpga/build/build.py
  fpga/hw_regression.py
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  tests/test_fpga_build.py
  tests/test_hw_regression_linux_stage.py
  tools/vscode-frost/README.md
Due: none

Add current-netlist flush guidance replication guards
  fpga/build/x3_flush_guidance.md
  fpga/build/x3_flush_guidance.tcl
  tests/test_x3_flush_guidance.py
Due: none

csr: apply the minstret write after the retired-count accumulate
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
Due: verible-format, verible-lint

tests: add the DMA-port service envelope measurement
  hw/rtl/lib/cache/README.md
  tests/.gitignore
  tests/test_run_cocotb.py
  verif/cocotb_tests/cache/test_dma_envelope.py
Due: none

Bound the cache counter drain by the counters the CPU implements
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  sw/lib/src/tomasulo_profile_cache.c
Due: clang-tidy

Make the profiling counters a build option, off by default
  .github/workflows/ci.yml
  boards/README.md
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  formal/csr_file.sby
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  sw/apps/perf_off_test/Makefile
  sw/apps/perf_off_test/main.c
  sw/lib/include/tomasulo_profile.h
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy, verible-format, verible-lint

Extend the branch-resolution side-RAM oracle to JALR
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
Due: verible-format, verible-lint

fpga: report whether the post-opt netlist helpers applied
  fpga/README.md
  fpga/build/build.py
  tests/test_fpga_build.py
Due: none

Distinguish boolean controls from literal placement values
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

memory: let free cached-tier read slots sample the request address
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
Due: verible-format, verible-lint

Compare post-place gate evidence within Vivado's display rounding
  fpga/README.md
  fpga/build/build.py
  fpga/build/x3_post_place_gate.tcl
  tests/test_fpga_build.py
  tests/test_x3_post_place_gate.py
Due: none

Expand store queue allocation pulses over the dispatch valids
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

Keep local timing notes out of version control
  TIMING_HANDOFF_2026-09-12.md
  fpga/README.md
  fpga/build/l1_control_repair.md
  fpga/build/l1_control_repair.tcl
  fpga/build/x3_flush_guidance.md
  fpga/build/x3_nic_hardware_validation.md
  fpga/build/x3_nic_placement.md
  fpga/build/x3_post_opt_nic_timing.md
  fpga/build/x3_post_place_timing.md
Due: none

Measure the placement congestion veto against real Vivado reports
  tests/fixtures/genesys2_post_place_congestion.rpt
  tests/fixtures/x3_post_place_congestion.rpt
  tests/fixtures/x3_post_place_congestion_clear.rpt
  tests/test_fpga_build.py
Due: none

nic: decide a packer line issue from narrow register conditions
  hw/rtl/peripherals/nic/nic_byte_pack.sv
Due: verible-format, verible-lint

fpga: register NIC and DMA apps in the Tcl loader
  fpga/README.md
  fpga/load_software/load_software.tcl
  tests/test_fpga_managed_flows.py
Due: none

nic: block RAM for the MAC's TX frame buffers, two shorter paths
  hw/rtl/net10g/README.md
  hw/rtl/net10g/eth10g_mac_tx.sv
  hw/rtl/peripherals/nic/nic_byte_pack.sv
  hw/rtl/peripherals/nic/nic_dma_front.sv
Due: verible-format, verible-lint

docs: preserve the NIC hardware validation baseline
  fpga/README.md
  fpga/build/x3_nic_hardware_validation.md
  fpga/build/x3_post_opt_nic_timing.md
Due: none

Add guarded X3 distribution copies for fresh optimized netlists
  fpga/build/x3_nic_placement.md
  fpga/build/x3_nic_placement.tcl
  tests/fixtures/x3_nic_placement.tcl
  tests/test_x3_nic_placement.py
Due: none

net10g: drop the inert --assert from the standalone suite
  tests/net10g/Makefile
Due: none

Scope the phys-opt overconstraint to the post-place sweep
  fpga/README.md
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

