Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

tidy: rename the last history-worded and "seam" identifiers
  fpga/build/build.py
  fpga/hw_regression.py
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/lib/cache/frost_cache_hierarchy.sv
  sw/common/common.mk
  tests/test_fpga_build.py
  verif/cocotb_tests/cpu_ooo/perf/test_perf_csr_half.py
Due: verible-format, verible-lint

cpu_ooo: correct the comment on the trap unit's committed-empty input
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
Due: verible-format, verible-lint

tests: kill a timed-out ISA simulation's whole process group
  tests/test_arch_compliance.py
  tests/test_riscv_tests.py
  tests/test_riscv_torture.py
  tests/test_run_cocotb.py
  tests/test_runner_helpers.py
Due: none

cache: drop the whole-line write hold; document the up-port restriction
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache.sv
  verif/cocotb_tests/cache/test_frost_cache_dma.py
Due: verible-format, verible-lint

tests: restore the environment after a seed sweep
  tests/test_run_cocotb.py
  tests/test_runner_helpers.py
Due: none

sw: bound linux_clksrc_faithful's saved epc and ra to the program's code
  sw/apps/linux_clksrc_faithful/main.c
Due: clang-tidy

tomasulo_wrapper: check untranslated stores against the whole device quadrant
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  linux/README.md
  sw/README.md
  sw/apps/pma_fault_test/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
Due: clang-tidy, verible-format, verible-lint

tests: hold the frost-top reset for the documented 20 cycles
  verif/cocotb_tests/debug/test_debug.py
  verif/cocotb_tests/test_real_program.py
Due: none

sw: say where linux_clksrc_faithful's idle loop departs from Linux
  sw/README.md
  sw/apps/linux_clksrc_faithful/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

coremark: make COREMARK_PGO=1 build the published configuration
  docs/single_core_performance.md
  sw/apps/coremark/Makefile
  sw/apps/coremark/iss/README.md
  sw/apps/coremark/iss/generate_profile.py
Due: none

sw: check realloc's doubling for overflow without an RV64-always-true guard
  sw/lib/src/memory.c
Due: clang-tidy

fpu: detect underflow tininess after rounding in FMUL, FMA and FDIV
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_adder.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_div_sqrt_iter.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_fma.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_multiplier.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_result_assembler.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/sim/fp_divider.sv
  hw/sim/fp_sqrt.sv
  verif/cocotb_tests/ex_stage/test_fp_div_sqrt_equiv.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_div_shim.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_mul_shim.py
Due: verible-format, verible-lint

sw: wait for TX FIFO room in the remaining unpolled UART writers
  sw/apps/ns16550_irq_console_test/main.c
  sw/apps/riscv_tests/syscalls_frost.c
  sw/apps/riscv_torture/frost_footer.S
  sw/apps/riscv_torture/link_spike.ld
  sw/apps/riscv_torture/references_rv64/test_001.reference_output
  sw/apps/riscv_torture/references_rv64/test_002.reference_output
  sw/apps/riscv_torture/references_rv64/test_003.reference_output
  sw/apps/riscv_torture/references_rv64/test_004.reference_output
  sw/apps/riscv_torture/references_rv64/test_005.reference_output
  sw/apps/riscv_torture/references_rv64/test_006.reference_output
  sw/apps/riscv_torture/references_rv64/test_007.reference_output
  sw/apps/riscv_torture/references_rv64/test_008.reference_output
  sw/apps/riscv_torture/references_rv64/test_009.reference_output
  sw/apps/riscv_torture/references_rv64/test_010.reference_output
  sw/apps/riscv_torture/references_rv64/test_011.reference_output
  sw/apps/riscv_torture/references_rv64/test_012.reference_output
  sw/apps/riscv_torture/references_rv64/test_013.reference_output
  sw/apps/riscv_torture/references_rv64/test_014.reference_output
  sw/apps/riscv_torture/references_rv64/test_015.reference_output
  sw/apps/riscv_torture/references_rv64/test_016.reference_output
  sw/apps/riscv_torture/references_rv64/test_017.reference_output
  sw/apps/riscv_torture/references_rv64/test_018.reference_output
  sw/apps/riscv_torture/references_rv64/test_019.reference_output
  sw/apps/riscv_torture/references_rv64/test_020.reference_output
Due: clang-tidy

freertos_demo: turn on stack-overflow checking and drop the dead malloc hook
  sw/apps/freertos_demo/FreeRTOSConfig.h
  sw/apps/freertos_demo/main.c
Due: clang-tidy

tomasulo_perf: fail the profile check when counters are missing
  sw/apps/tomasulo_perf/tomasulo_perf.c
Due: clang-tidy

csr_file: keep a read of mperfctl from clearing the cache-bank select
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/perf/README.md
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  verif/cocotb_tests/cpu_ooo/perf/test_perf_csr_half.py
Due: verible-format, verible-lint

verif: delete the in-order cpu_random and directed_multicycle benches
  tests/Makefile
  tests/test_cpu_reference_harness.py
  tests/test_run_cocotb.py
  tests/test_verification_helpers.py
  verif/README.md
  verif/cocotb_tests/__init__.py
  verif/cocotb_tests/cpu_model.py
  verif/cocotb_tests/instruction_generator.py
  verif/cocotb_tests/test_common.py
  verif/cocotb_tests/test_cpu.py
  verif/cocotb_tests/test_directed_atomics.py
  verif/cocotb_tests/test_directed_multicycle.py
  verif/cocotb_tests/test_helpers.py
  verif/cocotb_tests/test_state.py
  verif/config.py
  verif/encoders/op_tables.py
  verif/models/__init__.py
  verif/models/branch_model.py
  verif/monitors/__init__.py
  verif/monitors/monitors.py
  verif/utils/__init__.py
  verif/utils/instruction_logger.py
  verif/utils/memory_utils.py
Due: none

store_queue: document the registered-commit guards as safety nets
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

debug: report a failed DMI response over a sticky busy; document the DM reset
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/debug/debug_module.sv
  hw/rtl/cpu_and_mem/debug/dtm_core.sv
  verif/cocotb_tests/debug/test_dtm_core.py
Due: verible-format, verible-lint

cache: drop the AXI bridge's held beats while its interconnect is in reset
  boards/x3/x3_frost.sv
  boards/xilinx_frost_subsystem.sv
  formal/README.md
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/README.md
  hw/rtl/lib/cache/frost_cache_test_harness.sv
  hw/rtl/lib/cache/line_port_arbiter_test_harness.sv
  hw/rtl/lib/cache/line_port_axi_bridge.sv
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cache/test_line_port_axi_bridge.py
Due: verible-format, verible-lint

hang_triage: never take the console on an edge that registers a CPU byte
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/hang_triage.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/debug/test_hang_triage.py
Due: verible-format, verible-lint

alu: drop the unconnected o_write_enable output
  formal/alu_shift_hint.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
Due: verible-format, verible-lint

front end: drop the unread btb_hit and fp_source_reg_3_early fields
  formal/README.md
  formal/prediction_metadata_output.sby
  formal/prediction_metadata_tracker_formal.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_prediction_metadata_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

data router: take device reads from the PMA's quadrant decode
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: verible-format, verible-lint

core: count every retired instruction in minstret
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/commit/commit_actions.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  linux/README.md
  sw/README.md
  sw/apps/csr_test/main.c
  sw/apps/debug_target/target.S
  sw/apps/instret_test/Makefile
  sw/apps/instret_test/main.c
  tests/test_fpga_build.py
  tests/test_run_cocotb.py
  tests/test_verification_helpers.py
  verif/cocotb_tests/cpu_ooo/commit/test_commit_actions.py
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/debug/test_debug.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/test_real_program.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
Due: clang-tidy, verible-format, verible-lint

formal: prove the FP multiply shim's tag order
  formal/README.md
  formal/fp_mul_shim_order.sby
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
  tests/test_run_formal.py
Due: verible-format, verible-lint

test_real_program: check the bytes on the serial TX line
  sw/README.md
  sw/apps/uart_burst/Makefile
  sw/apps/uart_burst/uart_burst.S
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: none

decode: take the LQ and SQ needs from the operand class
  formal/instr_operand_classifier_equiv.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_operand_classifier.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
Due: verible-format, verible-lint

test_real_program: check the WFI resume seed during recovery
  sw/README.md
  sw/apps/wfi_seed_recovery/Makefile
  sw/apps/wfi_seed_recovery/main.c
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: clang-tidy

test_real_program: repair the diagnostics that read dead handles
  verif/cocotb_tests/test_real_program.py
Due: none

served_window_resteer: take the served-window resteer end to end
  hw/rtl/cpu_and_mem/cpu/README.md
  sw/README.md
  sw/apps/served_window_resteer/Makefile
  sw/apps/served_window_resteer/served_window_resteer.S
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_real_program.py
Due: none

front end: predict returns from typed BTB entries and the RAS top
  formal/README.md
  formal/branch_prediction_alias.sby
  formal/branch_prediction_disable.sby
  formal/prediction_metadata_tracker_formal.sv
  formal/prediction_release_formal.sv
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/recovery/ex_comb_synthesizer.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction.f
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/prediction_metadata_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/ras_detector.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/return_address_stack.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/cpu_ooo/recovery/test_ex_comb_synthesizer.py
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
  verif/cocotb_tests/if_stage/branch_prediction/test_prediction_metadata_tracker.py
  verif/cocotb_tests/if_stage/branch_prediction/test_ras_detector.py
  verif/cocotb_tests/if_stage/branch_prediction/test_return_address_stack.py
  verif/cocotb_tests/if_stage/test_c_ext_state.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

hang_triage bench: keep the backslash out of a docstring
  verif/cocotb_tests/debug/test_hang_triage.py
Due: none

front end: drop the RAS prediction fields that typed BTB entries replaced
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/branch_target_precompute.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/test_real_program.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
Due: verible-format, verible-lint

return address stack: write the recovery point's top entry back on restore
  formal/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/recovery/ex_comb_synthesizer.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/return_address_stack.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/register_alias_table/register_alias_table.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  sw/README.md
  sw/apps/ras_repair_bench/Makefile
  sw/apps/ras_repair_bench/ras_repair_bench.S
  tests/test_run_cocotb.py
  tests/test_run_formal.py
  verif/cocotb_tests/cpu_ooo/recovery/test_ex_comb_synthesizer.py
  verif/cocotb_tests/cpu_structs.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_return_address_stack.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/dispatch/test_dispatch.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_interface.py
  verif/cocotb_tests/tomasulo/register_alias_table/rat_model.py
  verif/cocotb_tests/tomasulo/register_alias_table/test_register_alias_table.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/test_tomasulo_wrapper.py
  verif/cocotb_tests/tomasulo/tomasulo_wrapper/tomasulo_interface.py
Due: verible-format, verible-lint

fp_mul_shim: format the tag-order proof block
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_mul_shim.sv
Due: verible-format, verible-lint

rtl: declare every net and parameter before its first use
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
Due: verible-format, verible-lint

directed_traps: let an interrupt after the MRET save a PC past its target
  verif/cocotb_tests/test_directed_traps.py
Due: none

docs: state the CoreMark rate without measurement caveats
  README.md
  ROADMAP.md
  docs/single_core_performance.md
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

