Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

perf/timing: sequential-march fetch — break the x3 imem WNS loop (-3.059ns) at +9.8% CoreMark
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_fill_engine.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
Due: verible-format, verible-lint

timing: register older-AMO block mask (x3 post-opt WNS -2.227->-1.516)
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
Due: verible-format, verible-lint

timing: drive front-end stall from resource-only availability (x3 WNS -1.516->-1.060)
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
Due: verible-format, verible-lint

timing: take dir_update_idx off the commit_en spine (x3 -1.014 head_clear cone cleared)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
Due: verible-format, verible-lint

timing: unconditional parcel-queue mem_q write (x3 mem_q-CE bulk -0.977 -> <=-0.396)
  hw/rtl/cpu_and_mem/cpu/if_stage/PARCEL_QUEUE_DESIGN.md
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_queue.sv
Due: verible-format, verible-lint

timing: carry the o_from_pd_to_id bubble in inject_nop, apply NOP at the consumers (x3 clears the -1.060 WNS)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
Due: verible-format, verible-lint

timing: take frontend_stall off the parcel-fill count_q/rd_ptr (x3 WNS -1.015 -> -0.875)
  hw/rtl/cpu_and_mem/cpu/if_stage/parcel_fill_engine.sv
Due: verible-format, verible-lint

timing: tree-ify AMO-age min (x3 post-opt WNS -5.581->-3.695) + cpu_tb parcel-FE seam ports
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

perf: form fetch-provider window from registered ask (x3 WNS -3.695->-3.059)
  hw/rtl/cpu_and_mem/fetch_provider.sv
Due: verible-format, verible-lint

Improve x3 timing for salvage backend
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_predictor.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_predictor.py
Due: verible-format, verible-lint

Improve SQ forwarding timing
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

Localize SQ forwarding age reference
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
Due: verible-format, verible-lint

Carry SQ forwarding data in winner tree
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/sq_forwarding_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
Due: verible-format, verible-lint

Retire FENCE.I target from ROB next PC
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/misprediction_flush_controller.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  verif/cocotb_tests/cpu_ooo/recovery/test_misprediction_flush_controller.py
Due: verible-format, verible-lint

Classify IF control flow from raw parcels
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/frontend_control/frontend_validity_tracker.sv
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
Due: verible-format, verible-lint

Use one-hot read for issue2 payload
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
Due: verible-format, verible-lint

clean up dead code
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_issue_selector.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/sim/cpu_tb.sv
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
  verif/cocotb_tests/tomasulo/reorder_buffer/test_reorder_buffer.py
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

fix: three correctness bugs from x3 timing-closure commits
  README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
Due: verible-format, verible-lint

test: directed SQ forwarding cases for unresolved-older-address and stale-age windows
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: none

update genesys2 hw stats
  README.md
  fpga/hw_regression.py
Due: none

dropping linux boot timeout from 15 minutes to 5 minutes
  fpga/hw_regression.py
Due: none

fix: shield AMOs from interrupt flush — orphaned cached AMO write (flaky linux_boot hang)
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

test: amo_irq_torture + tick_torture directed apps for the AMO/IRQ race and CLINT re-arm
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  sw/apps/amo_irq_torture/Makefile
  sw/apps/amo_irq_torture/main.c
  sw/apps/tick_torture/Makefile
  sw/apps/tick_torture/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

rtl/sim: harden cached_tier_adapter, fix hang_triage TX byte drop, add DDR-latency jitter
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/cached_tier_adapter.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/hang_triage.sv
  hw/rtl/frost.sv
  hw/rtl/lib/cache/axi_behavioral_memory.sv
  hw/rtl/lib/cache/frost_cache_test_harness.sv
Due: verible-format, verible-lint

verif: port directed_atomics + compressed to OOO commit-timed waits; OOO-aware regfile plumbing
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_common.py
  verif/cocotb_tests/test_compressed.py
  verif/cocotb_tests/test_directed_atomics.py
  verif/cocotb_tests/test_helpers.py
  verif/config.py
  verif/monitors/monitors.py
Due: none

docs: catch READMEs/comments up with the AMO interrupt shield and new tests
  README.md
  fpga/hw_regression.py
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/README.md
  sw/README.md
Due: verible-format, verible-lint

test: add direction predictor cocotb coverage
  tests/Makefile
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_direction_predictor.py
Due: none

test: cover branch controller direction metadata
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
Due: none

update x3 hw stats
  README.md
  fpga/hw_regression.py
Due: none

hardware regression script
  fpga/hw_regression.py
Due: none

perf: pipeline SQ store drain to ~1/cycle for plain fast-tier stores
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  verif/cocotb_tests/tomasulo/store_queue/test_store_queue.py
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

