Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

verif: keep the CPU reference model and state at XLEN
  tests/test_cpu_reference_harness.py
  verif/README.md
  verif/cocotb_tests/__init__.py
  verif/cocotb_tests/cpu_model.py
  verif/cocotb_tests/instruction_executor.py
  verif/cocotb_tests/test_common.py
  verif/cocotb_tests/test_state.py
Due: none

verif: remove unused alignment, conversion and validation helpers
  verif/README.md
  verif/config.py
  verif/exceptions.py
  verif/utils/__init__.py
  verif/utils/memory_utils.py
  verif/utils/riscv_utils.py
  verif/utils/validation.py
  verif/verification_types.py
Due: none

verif: model RV64 results of FP moves and W-form conversions
  tests/test_cpu_reference_harness.py
  verif/encoders/op_tables.py
  verif/models/fp_model.py
Due: none

tests: use an aligned address in the atomic XLEN model tests
  tests/test_cpu_reference_harness.py
Due: none

verif: encode RV64 shift amounts, rev8 and zext.h
  tests/test_cpu_reference_harness.py
  verif/encoders/instruction_encode.py
  verif/encoders/op_tables.py
Due: none

verif: read back LR/SC results and stores in the directed atomics test
  verif/cocotb_tests/test_directed_atomics.py
Due: none

isa_test: drop the nops after the mepc read in test_trap_handler
  sw/apps/isa_test/isa_test.c
Due: clang-tidy

tests: make the IRQ precision check see RV64 interrupts
  verif/cocotb_tests/test_real_program.py
Due: none

verif: model the doubleword LR/SC reservation and check SC.W expectations
  tests/test_cpu_reference_harness.py
  verif/cocotb_tests/test_directed_atomics.py
  verif/cocotb_tests/test_state.py
Due: none

freertos_demo: read mtime with the carry-safe rdmtime
  sw/apps/freertos_demo/port_frost.c
Due: clang-tidy

verif: let assert_equals report a number compared with a non-number
  tests/test_cpu_reference_harness.py
  verif/utils/validation.py
Due: none

verif: count coverage the same way in the check and its summary
  tests/test_cpu_reference_harness.py
  verif/cocotb_tests/test_cpu.py
  verif/cocotb_tests/test_helpers.py
Due: none

verif: keep csrrw and csrrwi out of the random CSR pool
  tests/test_cpu_reference_harness.py
  verif/cocotb_tests/instruction_generator.py
  verif/encoders/op_tables.py
Due: none

riscv_tests: remove the unused crt0 and barrier(); assert the DDR _start
  sw/apps/riscv_tests/crt0_riscv_tests.S
  sw/apps/riscv_tests/crt0_riscv_tests_ddr.S
  sw/apps/riscv_tests/link_riscv_tests.ld
  sw/apps/riscv_tests/link_riscv_tests_ddr.ld
  sw/apps/riscv_tests/syscalls_frost.c
Due: clang-tidy

tests: trace both commit slots and read the live mispredict signal
  verif/cocotb_tests/test_real_program.py
Due: none

verif: correct the CPU reference harness note on why cpu_random fails
  verif/README.md
Due: none

verif: remove unused config constants
  verif/cocotb_tests/instruction_generator.py
  verif/config.py
Due: none

freertos_demo: make the critical-section tick check exact
  sw/apps/freertos_demo/main.c
Due: clang-tidy

verif: run instruction pairs in both halves of the random compressed test
  verif/cocotb_tests/test_compressed.py
Due: none

coremark_pro: state why simulation builds use a 30 MHz clock
  sw/apps/coremark_pro/Makefile
Due: none

tests: give freertos_demo its own cycle budget
  tests/test_run_cocotb.py
Due: none

verif: drop CPU harness state that nothing reads
  verif/cocotb_tests/cpu_model.py
  verif/cocotb_tests/test_common.py
  verif/cocotb_tests/test_state.py
Due: none

tests: say that pde_return_hazard does not reach the resteer guard
  tests/test_run_cocotb.py
Due: none

verif: read back the Test Case 4 LR.W result
  verif/cocotb_tests/test_directed_atomics.py
Due: none

tests: compare both dispatch slots in the CoreMark IF check
  tests/test_verification_helpers.py
  verif/cocotb_tests/test_real_program.py
Due: none

verif: rename Monitor.cycle to matched_checks
  verif/monitors/monitors.py
Due: none

tests: make the CoreMark IF check and retire trace work on the default build
  verif/cocotb_tests/test_real_program.py
Due: none

verif: start the compressed tests from known registers and randomize one
  tests/test_run_cocotb.py
  verif/cocotb_tests/test_compressed.py
Due: none

verif: keep atomic addresses and directed-test values at XLEN
  tests/test_cpu_reference_harness.py
  verif/cocotb_tests/cpu_model.py
  verif/cocotb_tests/test_cpu.py
  verif/cocotb_tests/test_directed_multicycle.py
Due: none

freertos_demo: start every task with a 16-byte aligned stack
  sw/apps/freertos_demo/main.c
  sw/apps/freertos_demo/port_frost.c
  sw/apps/freertos_demo/port_frost_asm.S
Due: clang-tidy

fpu: take the FP multiplier depth from riscv_pkg::dsp_tiled_stages
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_fma.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_multiplier.sv
Due: verible-format, verible-lint

license: remove the duplicated header lines
  hw/rtl/net10g/eth10g_ber_monitor.sv
  hw/rtl/net10g/eth10g_block_lock.sv
  hw/rtl/net10g/eth10g_crc32_64.sv
  hw/rtl/net10g/eth10g_crc_pkg.sv
  hw/rtl/net10g/eth10g_fault_monitor.sv
  hw/rtl/net10g/eth10g_mac_pcs.sv
  hw/rtl/net10g/eth10g_pcs_rx.sv
  hw/rtl/net10g/eth10g_pcs_tx.sv
  hw/rtl/net10g/eth10g_rx_gearbox.sv
  hw/rtl/net10g/eth10g_tx_gearbox.sv
  sw/apps/irq_mie_window/Makefile
  sw/apps/mret_drain_deadlock/Makefile
  sw/apps/mtimer_stress/Makefile
  sw/apps/pde_return_hazard/Makefile
  sw/apps/wfi_lost_tick/Makefile
  tests/net10g/Makefile
  tests/net10g/gearbox_tb.sv
  tests/net10g/run.py
  tests/net10g/test_crc.py
  tests/net10g/test_gearbox.py
  tests/net10g/test_integration.py
Due: verible-format, verible-lint

arch_test: fail a selected test that has no reference
  tests/README.md
  tests/test_arch_compliance.py
  tests/test_runner_helpers.py
Due: none

arch_test: keep the suite in reference paths for tests in src subdirectories
  sw/apps/arch_test/generate_references.py
  tests/README.md
  tests/test_arch_compliance.py
  tests/test_runner_helpers.py
Due: none

fpu: fix NV for FCVT.W.D of values just below -2^31
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert.sv
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
Due: verible-format, verible-lint

arch_test: drop menvcfg_m from the privilege allow-lists
  sw/apps/arch_test/generate_references.py
  tests/test_arch_compliance.py
Due: none

ci: limit each F/D arch shard test to an hour
  .github/workflows/ci.yml
  tests/README.md
Due: none

tests: cover the other FP-to-integer range limits in every rounding mode
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
Due: none

fpu: honor directed rounding for FCVT.S.D of tiny values
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert_sd.sv
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
Due: verible-format, verible-lint

tests: convert 2^-200 in the FCVT.S.D tiny-value test
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

