Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

Run arch compliance in both BRAM and cached-DDR memory tiers
  .github/workflows/ci.yml
  sw/apps/arch_test/Makefile
  sw/apps/arch_test/crt0_arch_test_bram.S
  sw/apps/arch_test/link_arch_test_bram.ld
  sw/apps/arch_test/link_arch_test_icache.ld
  tests/test_arch_compliance.py
Due: none

Run the Fencei arch test only in the DDR tier
  .github/workflows/ci.yml
Due: none

Skip arch tests that overflow low BRAM instead of failing them
  tests/test_arch_compliance.py
Due: none

Set exception mtval and forward cached-tier AMO write-back
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/apps/ddr_test/ddr_test.c
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
Due: clang-tidy, verible-format, verible-lint

Withhold fetch publish-valid while the pipeline is stalled
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

Add a DDR memory tier to the riscv-torture CI suite
  .github/workflows/ci.yml
  sw/apps/riscv_torture/Makefile
  sw/apps/riscv_torture/crt0_torture_ddr.S
  sw/apps/riscv_torture/link_riscv_torture_ddr.ld
  tests/test_riscv_torture.py
Due: none

Add a DDR memory tier to the riscv-tests CI suite
  .github/workflows/ci.yml
  sw/apps/riscv_tests/Makefile
  sw/apps/riscv_tests/Makefile.bench
  sw/apps/riscv_tests/crt0_riscv_tests_ddr.S
  sw/apps/riscv_tests/link_riscv_tests_ddr.ld
  tests/test_riscv_tests.py
Due: none

Add a DDR memory tier to the cocotb real-program CI suite
  .github/workflows/ci.yml
  sw/apps/branch_pred_test/Makefile
  sw/apps/c_ext_test/Makefile
  sw/apps/cf_ext_test/Makefile
  sw/apps/compile_app.py
  sw/apps/coremark_pro/Makefile
  sw/apps/fpu_assembly_test/Makefile
  sw/apps/freertos_demo/Makefile
  sw/apps/freertos_demo/link_freertos_ddr.ld
  sw/apps/ras_test/Makefile
  sw/common/common.mk
  sw/common/crt0_ddr_boot.S
  sw/common/link_ddr.ld
  tests/test_run_cocotb.py
Due: none

Refresh READMEs for the I-cache, two-tier CI, and older drift
  CONTRIBUTING.md
  README.md
  boards/README.md
  formal/README.md
  fpga/README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/README.md
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/README.md
  sw/CONTRIBUTING.md
  sw/README.md
  tests/README.md
  verif/README.md
Due: none

Refresh stale I-cache-era source comments
  boards/xilinx_frost_subsystem.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  sw/lib/include/sync.h
Due: clang-tidy, verible-format, verible-lint

Scope the fetch-prediction consistency oracle to its valid domain
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
Due: verible-format, verible-lint

Fix FMA directed-rounding +1 ULP via subtraction borrow propagation
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_fma.sv
Due: verible-format, verible-lint

Make arch signature extraction robust to interleaved cocotb logs
  tests/test_arch_compliance.py
Due: none

Remaining CI fixes for programs running out of DDR
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  sw/apps/arch_test/crt0_arch_test_bram.S
Due: verible-format, verible-lint

improve timing on I-cache, and fix coremark pro loops
  README.md
  hw/rtl/README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/fetch_provider.sv
  verif/cocotb_tests/predecode/test_fetch_provider.py
Due: verible-format, verible-lint

further timing and CI fixes for DDR I-cache
  README.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_result_assembler.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  verif/cocotb_tests/if_stage/test_control_flow_tracker.py
Due: verible-format, verible-lint

further timing and CI fixes for I-cache
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/branch_resolution.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/memory_if/data_mem_request_router.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  verif/cocotb_tests/cpu_ooo/memory/test_data_mem_request_router.py
  verif/cocotb_tests/cpu_ooo/recovery/test_branch_resolution.py
  verif/cocotb_tests/cpu_ooo/recovery/test_early_misprediction_recovery.py
Due: verible-format, verible-lint

more CI fixes for I-cache
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
Due: verible-format, verible-lint

improve X3 post place timing and fix CI for coremark pro nnet
  README.md
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

recover coremark performance regression
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/store_queue/store_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

timing improvements
  README.md
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/pd_stage/pd_stage.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/imem_predecode.sv
Due: verible-format, verible-lint

further timing fixes and script cleanup
  README.md
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  fpga/sweep_coremark_pro.py
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/instruction_aligner.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_increment_calculator.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_reg_precompute.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/load_queue.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/load_queue/lq_l0_cache.sv
  hw/rtl/cpu_and_mem/imem_predecode_line.sv
  sw/apps/cf_ext_test/Makefile
  sw/apps/fpu_assembly_test/Makefile
  sw/apps/software_registry.py
  sw/common/generate_imem_predecode_init.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_instruction_aligner.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
  verif/cocotb_tests/if_stage/test_pc_increment_calculator.py
  verif/cocotb_tests/predecode/test_fetch_provider.py
  verif/cocotb_tests/predecode/test_imem_predecode_line.py
Due: verible-format, verible-lint

coremark pro finetune runtimes
  README.md
  sw/apps/software_registry.py
Due: none

final I-cache cleanup
  .github/workflows/ci.yml
  README.md
  boards/README.md
  boards/xilinx_frost_subsystem.sv
  fpga/README.md
  fpga/load_software/load_software.py
  fpga/load_software/load_software.tcl
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  sw/CONTRIBUTING.md
  sw/README.md
  tests/README.md
  verif/cocotb_tests/cpu_ooo/frontend/test_frontend_validity_tracker.py
  verif/cocotb_tests/cpu_ooo/register_files/test_ooo_register_files.py
  verif/cocotb_tests/id_stage/test_id_stage.py
  verif/cocotb_tests/pd_stage/test_pd_stage.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/encoders/instruction_encode.py
Due: verible-format, verible-lint

Preserve the dividend sign on REM-by-zero in the divider
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/divider.sv
  verif/cocotb_tests/tomasulo/fu_shims/test_int_muldiv_shim.py
Due: verible-format, verible-lint

Hold traps/MRET until committed stores drain to memory
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

Teach the frontend a stall-capable fetch interface (I-cache Phase 1)
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/branch_prediction_controller.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/c_extension/c_ext_state.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/control_flow_tracker.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/pc_controller.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  tests/test_run_cocotb.py
  verif/cocotb_tests/if_stage/branch_prediction/test_branch_prediction_controller.py
  verif/cocotb_tests/if_stage/test_c_ext_state.py
  verif/cocotb_tests/if_stage/test_control_flow_tracker.py
  verif/cocotb_tests/if_stage/test_if_stage.py
  verif/cocotb_tests/if_stage/test_pc_controller.py
Due: verible-format, verible-lint

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

