Repository twosigma/frost: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, verible-format, verible-lint

clang-tidy:
  name: clang-tidy
  entry: python3 ./scripts/run-clang-tidy.py
  language: system

verible-format:
  name: verible-verilog-format
  entry: verible-verilog-format
  language: system
  args:
  - --inplace

verible-lint:
  name: verible-verilog-lint
  entry: verible-verilog-lint
  language: system
  args:
  - --rules_config_search

verif: add the cached-DDR cold-vs-warm read divergence probe
  sw/apps/mem_divergence_probe/Makefile
  sw/apps/mem_divergence_probe/main.c
  tests/test_run_cocotb.py
Due: clang-tidy

sw: make the full hw_regression app suite compile at rv64
  sw/apps/amo_irq_torture/main.c
  sw/apps/cf_ext_test/cf_ext_test.S
  sw/apps/coremark_pro/Makefile
  sw/apps/coremark_pro/crt0_coremark_pro.S
  sw/apps/ddr_atomic_test/main.c
  sw/common/crt0_ddr_boot.S
  sw/common/link_ddr.ld
  sw/lib/src/memory.c
Due: clang-tidy

rv64(M5.2): D15 mstatus.FS + read-only-CSR-write traps; csr un-skipped
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  tests/test_riscv_tests.py
  verif/cocotb_tests/tomasulo/dispatch/dispatch_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_interface.py
  verif/cocotb_tests/tomasulo/reorder_buffer/reorder_buffer_model.py
Due: verible-format, verible-lint

sw(M5): XLEN-clean lib headers; rv64 default-app link and boot fixes
  sw/common/common.mk
  sw/common/crt0.S
  sw/lib/include/csr.h
  sw/lib/include/limits.h
  sw/lib/include/trap.h
Due: clang-tidy

rv64(M6): fix LR.D/SC.D misrouting; add the AMO.D directed test
  hw/rtl/cpu_and_mem/cpu/id_stage/instruction_type_decoder.sv
  sw/apps/rv64_amo_test/Makefile
  sw/apps/rv64_amo_test/rv64_amo_test.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

timing: let the top broadcast registers replicate per consumer region
  hw/rtl/cpu_and_mem/cpu/control/trap_unit.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/branch_recovery/early_misprediction_recovery.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
  hw/rtl/lib/ram/mwp_dist_ram.sv
Due: verible-format, verible-lint

rv64(M3.1): full RV64 integer/B-extension decode + 64-bit ALU; rv64 riscv-tests green
  hw/rtl/cpu_and_mem/cpu/ex_stage/alu/alu.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/int_alu_shim.sv
  hw/rtl/rv64_known_widths.vlt
  sw/apps/riscv_tests/Makefile
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_int_alu_shim.py
  verif/config.py
  verif/models/alu_model.py
  verif/utils/riscv_utils.py
Due: verible-format, verible-lint

verif: env-gated DDR write-window and L0 hit-window watch instruments
  verif/cocotb_tests/test_real_program.py
Due: none

rv64(M5.1): CSR width surface — misa/mstatus64, 64-bit counters, *h illegal
  .github/workflows/ci.yml
  hw/rtl/cpu_and_mem/cpu/csr/csr_file.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/reorder_buffer/reorder_buffer.sv
  tests/test_riscv_tests.py
Due: verible-format, verible-lint

timing: defer dispatch-cycle CDB capture to a registered one-cycle delivery
  hw/rtl/cpu_and_mem/cpu/tomasulo/reservation_station/reservation_station.sv
  verif/cocotb_tests/tomasulo/reservation_station/rs_model.py
  verif/cocotb_tests/tomasulo/reservation_station/test_reservation_station.py
Due: verible-format, verible-lint

rv64(M3.4): F/D convert surface with runtime W/L width; rv64uf/ud green
  docs/rv64/phase1_plan.md
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fp_convert.sv
  hw/rtl/cpu_and_mem/cpu/ex_stage/fpu/fpu_compare_unit.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/id_stage.sv
  hw/rtl/cpu_and_mem/cpu/id_stage/instr_decoder.sv
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  hw/rtl/cpu_and_mem/cpu/tomasulo/fu_shims/fp_add_shim.sv
  tests/test_riscv_tests.py
  tests/test_run_cocotb.py
  verif/cocotb_tests/tomasulo/fu_shims/test_fp_add_shim.py
Due: verible-format, verible-lint

cpu: sign-extend the LR.W writeback at rv64
  hw/rtl/cpu_and_mem/cpu/tomasulo/dispatch/dispatch.sv
  sw/apps/writecount_probe/Makefile
  sw/apps/writecount_probe/writecount_probe.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

sw: make the two directed repro apps bram-clean and re-runnable
  sw/apps/jal_target_seam/jal_target_seam.S
  sw/apps/writecount_probe/writecount_probe.S
Due: none

tests: generate FROST_RV64 twins for every real-program registry entry
  tests/test_run_cocotb.py
Due: none

update hw stats
  README.md
  fpga/hw_regression.py
Due: none

rv64(M6): isa_test expectations fork — 16/16 extensions at both XLENs
  sw/apps/isa_test/isa_test.c
  tests/test_run_cocotb.py
Due: clang-tidy

timing: re-pin the 64-bit CDB value copies against replication
  hw/rtl/cpu_and_mem/cpu/tomasulo/tomasulo_wrapper/tomasulo_wrapper.sv
Due: verible-format, verible-lint

verif: command-line-injectable fuzz seed + hw-faithful CoreMark-PRO sim mode
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  sw/apps/compile_app.py
Due: verible-format, verible-lint

verif: size the fuzz-seed parameter default to the full parameter width
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
Due: verible-format, verible-lint

verif: window-skip repro v2 (fidelity variants) + fuzz LFSR seed param
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/frost.sv
  sw/apps/window_skip_repro/Makefile
  sw/apps/window_skip_repro/window_skip_repro.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

verif: low-BRAM served-window assertion + directed window-skip repro
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  sw/apps/window_skip_repro/Makefile
  sw/apps/window_skip_repro/window_skip_repro.S
  tests/test_run_cocotb.py
Due: verible-format, verible-lint

tests: compose external FROST_VERILATOR_EXTRA_ARGS with registry args
  tests/test_run_cocotb.py
Due: none

debug: remove the window-skip and hang-triage instrumentation
  boards/genesys2/genesys2_frost.sv
  boards/xilinx_frost_subsystem.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/window_skip_triage.sv
  hw/rtl/frost.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

add genesys2 64bit coremark pro numbres to hw_regression
  fpga/hw_regression.py
Due: none

fix: extend the served-window guard to the low-BRAM region
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
Due: verible-format, verible-lint

debug: on-silicon window-skip triage capture (Genesys2-only)
  boards/genesys2/genesys2_frost.sv
  boards/xilinx_frost_subsystem.sv
  hw/rtl/cpu_and_mem/cpu/cpu_ooo/cpu_ooo.sv
  hw/rtl/cpu_and_mem/cpu/if_stage/if_stage.sv
  hw/rtl/cpu_and_mem/cpu_and_mem.f
  hw/rtl/cpu_and_mem/cpu_and_mem.sv
  hw/rtl/cpu_and_mem/window_skip_triage.sv
  hw/rtl/frost.sv
  hw/sim/cpu_tb.sv
Due: verible-format, verible-lint

debug: arm the boot-hang classifier beside the window-skip triage on Genesys2
  boards/genesys2/genesys2_frost.sv
Due: verible-format, verible-lint

sw: give branch_pred_test 44 the full-width reciprocal divide
  sw/apps/branch_pred_test/branch_pred_test.S
Due: none

update genesys2 hardware stats
  README.md
Due: none

timing: preserve RV64 instruction operation encodings
  docs/rv64/xlen_audit.md
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
  verif/README.md
  verif/config.py
Due: verible-format, verible-lint

fpga: reproduce timing-closing X3 placement guidance
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

fpga: validate dynamic X3 placement scope
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

fpga: guide compressed PC tails during X3 placement
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

docs: correct RV64 frontend behavior notes
  hw/rtl/cpu_and_mem/cpu/if_stage/branch_prediction/ras_detector.sv
  verif/cocotb_tests/if_stage/test_if_stage.py
Due: verible-format, verible-lint

boards: run Genesys2 cooling fan at full speed
  boards/README.md
  boards/genesys2/constr/genesys2.xdc
  boards/genesys2/genesys2_frost.sv
Due: verible-format, verible-lint

fpga: recover X3 post-place timing
  docs/rv64/phase1_plan.md
  fpga/README.md
  fpga/build/build.py
  fpga/build/build_step.tcl
  tests/test_fpga_build.py
Due: none

docs: mark the reserved instr_op_e ordinals as a standing constraint
  hw/rtl/cpu_and_mem/cpu/riscv_pkg.sv
Due: verible-format, verible-lint

update hw util stats
  README.md
Due: none

Path conditions:
  clang-tidy: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
  sw/FreeRTOS-Kernel/.*|
  sw/apps/coremark/coremark/.*|
  sw/apps/riscv_tests/riscv_test\.h
)$

  verible-format: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

  verible-lint: any of: \.(sv|v|svh|vh)$, but not: (?x)^(
  hw/third_party/.*
)$

